<div class="formRow">
    <h3>{{'Country Statistics'|trans}}</h3>
    <div id="countryStatistics">

    </div>
</div>
<script>
    var c        = new Array();
    c['element'] = $('countryStatistics');
    c['chart']   = new google.visualization.BarChart(c['element']);
    c['data']    = google.visualization.arrayToDataTable([
                    ['{{ 'Country'|trans }} ', '{{ 'Number Of Cases'|trans }}'],
                        {%spaceless%}
                        {%for r in reports %}
                            ['{{r.name|e('js')}}', {{r.numberOfCases}}]{%if not loop.last %},{%endif%}
                        {%endfor%}
                        {%endspaceless%}
                    ]);
    var formatter    = new google.visualization.NumberFormat({negativeColor: 'red', negativeParens: true, fractionDigits: 0, groupingSymbol: ','});
    formatter.format(c['data'], 1);
    google_charts.push(c);
</script>
