{% extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{ 'Site Performance'|trans }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box widget-color-blue no-border">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title">{{ 'Results'|trans }}</h5>
                    {{ widget_filter_toolbox({'start_open': true}) }}
                </div>
                <div class="widget-body">
                    <div class="widget-toolbox padding-8">
                        <div class="collapse in" id="filters">
                            <form method="POST" action="{{ path('reportIbdSitePerformance') }}">
                                <div class="row">
                                    <div class="col-xs-3">
                                        {{ form_row(form.year) }}
                                    </div>
                                    <div class="col-xs-3">
                                        {% if form.region is defined %}
                                            {{ form_row(form.region) }}
                                        {% endif %}
                                    </div>

                                    <div class="col-xs-3">
                                        {% if form.country is defined %}
                                            {{ form_row(form.country) }}
                                        {% endif %}
                                    </div>

                                    <div class="col-xs-3">
                                        {% if form.site is defined %}
                                            {{ form_widget(form.site) }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form.filter is defined ? form_widget(form.filter) }}
                                        {{ form.export is defined ? form_widget(form.export) }}
                                        {{ form.reset is defined ? form_widget(form.reset) }}
                                        {{ form_rest(form) }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget-main no-padding">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="thin-border-bottom">
                                <tr>
                                    <th>{{ 'Region'|trans }}</th>
                                    <th>{{ 'Country'|trans }}</th>
                                    <th colspan="2" style="max-width: 25%; width: 20%;">{{ 'Site'|trans }}</th>
                                    <th>{{ 'Tier'|trans }}</th>
                                    <th>{{ 'Total Cases'|trans }}</th>
                                    <th>{{ 'Consistent Reporting'|trans }}</th>
                                    <th>{{ 'Minimum No. Cases'|trans }}</th>
                                    <th>{{ 'Specimen Collection'|trans }}</th>
                                    <th>{{ 'Lab Confirmed'|trans }}</th>
                                </tr>
                                </thead>
                                {% for result in sites %}
                                    <tr>
                                        <td>{{ result.site.country.region.code }}</td>
                                        <td>{{ result.site.country.code }}</td>
                                        <td>{{ result.site.code }}</td>
                                        <td>{{ result.site.name }}</td>
                                        <td>{{ result.site.ibdTier }}</td>
                                        <td>{{ result.totalCases }}</td>
                                        <td>{{ consistentReporting(result) }}</td>
                                        <td>{{ minimumCases(result) }}</td>
                                        <td>{{ specimenCollected(result) }}</td>
                                        <td>{{ labConfirmed(result) }}</td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

