{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
    {%if route == 'ApiEditRemote' %}
        {{'Edit "%name%" Remote Server'|trans({'%name%': form.name.vars.value})}}
    {%else%}
        {{'Create Remote Server'|trans}}
    {%endif%}
{%endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="widget-box no-border">
            <div>
            {%if route == 'ApiEditRemote' %}
                <form action="{{path('ApiEditRemote',{id:id})}}" method="POST" novalidate>
            {%else%}
                <form action="{{path('ApiCreateRemote')}}" method="POST" novalidate>
            {%endif%}
                    {{form_rest(form)}}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
