{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'Api Dashboard'|trans}}{%endblock %}
{% block pagedescription %}{{'Lists Clients and Remote Systems'|trans}}{%endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10">
        <div class="widget-box widget-color-blue no-border">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title">{{'Registered Clients'|trans}}</h5>
                <div class="widget-toolbar">
                    <a class="btn btn-xs btn-success" href="{{path('ApiCreateClient')}}">{{'Create'|trans}} <i class="fa fa-plus-sign fa-on-right bigger-110"></i></a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>{{'Name'|trans}}</th>
                            <th>{{'Client Id'|trans}}</th>
                            <th>{{'Client Secret'|trans}}</th>
                            <th>{{'Redirect Uris'|trans}}</th>
                            <th>{{'Allowed Grant Types'|trans}}</th>
                            <th>{{'Actions'|trans}}</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for c in clients %}
                    <tr>
                        <td>{{c.name}}</td>
                        <td>{{c.publicId}}</td>
                        <td>{{c.secret}}</td>
                        <td>{%for uri in c.redirectUris  %}{{uri}}<br />{%endfor%}</td>
                        <td>{%for uri in c.allowedGrantTypes  %}{{uri}}<br />{%endfor%}</td>
                        <td>
                            <a class="btn btn-xs btn-success" href="{{path('ApiEditClient',{objId: c.id})}}">{{'Edit'|trans}} <i class="fa fa-edit fa-on-right bigger-110"></i></a>
                            <a class="btn btn-xs btn-danger" href="{{path('ApiDeleteClient',{objId:c.id})}}">{{'Delete'|trans}} </a>
                        </td>
                    </tr>
                {%endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10">
        <div class="widget-box widget-color-blue no-border">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title">{{'Remote Systems'|trans}}</h5>
                <div class="widget-toolbar">
                    <a class="btn btn-xs btn-success" href="{{path('ApiCreateRemote')}}">{{'Create'|trans}} <i class="fa fa-plus-sign fa-on-right bigger-110"></i></a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>{{'Name'|trans}}</th>
                            <th>{{'Client Id/Secret'|trans}}</th>
                            <th>{{'Token Endpoint'|trans}}</th>
                            <th>{{'Auth Endpoint'|trans}}</th>
                            <th>{{'Actions'|trans}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in remotes %}
                        <tr>
                            <td>{{c.name}}</td>
                            <td>{{c.clientId}}<br/>{{c.clientSecret}}</td>
                            <td>{{c.tokenEndpoint}}</td>
                            <td>{{c.authEndpoint}}</td>
                            <td>
                                {%if not c.hasAccessToken() or c.IsExpired() %}
                                    <a href="{{oauth_authenticate_path(c)}}">{{'Initiate authorization'|trans}}</a>
                                {%else%}
                                    {{'Authorization Complete'|trans}}
                                {%endif%}
                                <a class="btn btn-xs btn-success" href="{{path('ApiEditRemote',{objId:c.id})}}">Edit <i class="fa fa-edit fa-on-right bigger-110"></i></a>
                                <a class="btn btn-xs btn-danger" href="{{path('ApiDeleteRemote',{objId:c.id})}}">Delete </a>
                            </td>
                        </tr>
                    {%endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
