{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'Create / Edit %type% For %id%'|trans({'%id%': id,'%type%': type})}}
{% endblock %}

{% block body %}
    {{form_errors(form)}}

<form method="POST" action="{{path('rotavirus'~type~'Edit',{'id':id})}}" novalidate>
<div class="row">
    {{form_errors(form)}}
    <div class="col-sm-3 col-md-3 col-lg-3" >
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h4 class="panelTitle">{{'Lab Information'|trans}}</h4></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_row(form.labId)}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3" >
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h4 class="panelTitle">{{'Lab Information'|trans}}</h4></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_rest(form)}}
                </div>
            </div>
        </div>
    </div>    
</div>    
<div class="form-actions center">
    <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
</div>
</form>
{% endblock %}