{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'Edit Case Outcome %id%'|trans({'%id%': id})}}
{% endblock %}

{%block pageactions %}
<div class="pull-right">{{case_big_actions(form.vars.value,true)}}</div>
{%endblock %}

{% block body %}
{{form_errors(form)}}
<form method="POST" action="{{path('rotavirusOutcomeEdit',{'id':id})}}">
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                <li class="active"><a data-toggle="tab" href="#outcome">{{'Outcome Data'|trans}}</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="outcome" class="tab-pane active">
                <div class="row">
                    <div class="col-sm-6">
                        {{form_row(form.dischargeOutcome)}}
                        {{form_row(form.dischargeDate)}}
                        {{form_row(form.dischargeClassOther)}}
                    </div>
                    <div class="col-sm-6">
                        {{form_row(form.comment)}}
                        {{form_rest(form)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions center">
            <a href="{{path('rotavirusIndex')}}" class="btn btn-sm btn-danger">{{'Cancel'|trans}}</a> <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}} <i class="fa fa-arrow-right fa fa-on-right bigger-110"></i></button>
        </div>
    </div>
</div>


</form>
{% endblock %}
