{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'Edit Lab For Case %id%'|trans({'%id%': form.vars.value.case.caseId})}}
{% endblock %}

{%block pageactions %}
<div class="pull-right">{{case_big_actions(form.vars.value.case)}}</div>
{%endblock %}

{% block body %}
{{form_errors(form)}}
<form method="POST" action="{{path('rotavirusLabEdit',{'id':id})}}" novalidate>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                <li class="active"><a data-toggle="tab" href="#stool">{{'Stool'|trans}}</a></li>
                {% if form.stoolSentToNL is defined %}
                <li><a data-toggle="tab" href="#stool-nl">{{'Stool - NL'|trans}}</a></li>
                {% endif %}
    
                {% if form.stoolSentToRRL is defined %}
                <li><a data-toggle="tab" href="#stool-rrl">{{'Stool - RRL'|trans}}</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
                <div id="stool" class="tab-pane active">
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.stoolReceivedDate)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.stoolStored)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.stoolAdequate)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.stoolELISADone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.stoolTestDate)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.stoolELISAResult)}}
                        </div>
                    </div>
                </div>
                <div id="stool-rrl" class="tab-pane">
                    {{form_row(form.stoolSentToRRL)}}
                    {{form_row(form.stoolSentToRRLDate)}}
                </div>
                <div id="stool-nl" class="tab-pane">
                    {{form_row(form.stoolSentToNL)}}
                    {{form_row(form.stoolSentToNLDate)}}
                </div>
            </div>
        </div>
        {{form_rest(form)}}

        <div class="form-actions center">
            <a href="{{path('rotavirusIndex')}}" class="btn btn-sm btn-danger">{{'Cancel'|trans}}</a> <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
        </div>
    </div>
</div>

</form>
{% endblock %}
