{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'Create / Edit Lab For Case %id%'|trans({'%id%': id})}}
{% endblock %}

{% block body %}
<form method="POST" action="{{path('rotavirusLabEdit',{'id':id})}}" novalidate>
    {{form_errors(form)}}
<div class="row">
    <div class="col-sm-4" >
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h6>{{'Stool'|trans}}</h6></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_row(form.stoolReceivedDate)}}
                    {{form_row(form.stoolAdequate)}}
                    {{form_row(form.stoolELISADone)}}
                    {{form_row(form.stoolTestDate)}}
                    {{form_row(form.stoolELISAResult)}}
                    {{form_row(form.stoolStored)}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4" >
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h6>{{'Stool - RRL'|trans}}</h6></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_row(form.stoolSentToRRL)}}
                    {{form_row(form.stoolSentToRRLDate)}}
                    {{form_row(form.rrlELISAResult)}}
                    {{form_row(form.rrlGenoTypeDate)}}
                    {{form_row(form.rrlGenoTypeResult)}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4" >
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h6>{{'Stool - NL'|trans}}</h6></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_row(form.stoolSentToNL)}}
                    {{form_row(form.stoolSentToNLDate)}}
                    {{form_row(form.nlELISAResult)}}
                    {{form_row(form.nlGenoTypeDate)}}
                    {{form_row(form.nlGenoTypeResult)}}
                </div>
            </div>
        </div>
    </div>
</div>

{{form_rest(form)}}

<div class="form-actions center">
    <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
</div>

</form>
{% endblock %}
