{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'Edit %type% For %id%'|trans({'%id%': id,'%type%': type})}}
{% endblock %}

{%block pageactions %}
<div class="pull-right">{{case_big_actions(form.vars.value.case)}}</div>
{%endblock %}

{% block body %}
{{form_errors(form)}}
<form method="POST" action="{{path('rotavirus'~type~'Edit',{'id':id})}}" novalidate>
<div class="row">
    {{form_errors(form)}}
    <div class="col-sm-9">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                <li class="active"><a data-toggle="tab" href="#labinfo">{{'Lab Information'|trans}}</a></li>
                <li><a data-toggle="tab" href="#genotype">{{'Genotyping Results'|trans}}</a></li>
                <li><a data-toggle="tab" href="#sent">{{'Results Sent'|trans}}</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div id="labinfo" class="tab-pane active">
                {{form_row(form.labId)}}
                {{form_row(form.eiaResult)}}
            </div>
            <div id="genotype" class="tab-pane">
                <div class="row">
                    <div class="col-sm-6">
                        {{form_row(form.genotypingDate)}}
                    </div>
                    <div class="col-sm-6">
                        {{form_row(form.pcrVp6Result)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{form_row(form.genotypingResultG)}}
                    </div>
                    <div class="col-sm-6">
                        {{form_row(form.genotypingResultGSpecify)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{form_row(form.genotypeResultP)}}
                    </div>
                    <div class="col-sm-6">
                        {{form_row(form.genotypeResultPSpecify)}}
                    </div>
                </div>
            </div>
            <div id="sent" class="tab-pane">
                {{form_row(form.genotypeResultSentToCountry)}}
                {{form_row(form.genotypeResultSentToWHO)}}
            </div>
        </div>

        {{form_rest(form)}}

        <div class="form-actions center">
            <a href="{{path('rotavirusIndex')}}" class="btn btn-sm btn-danger">{{'Cancel'|trans}}</a> <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
        </div>
    </div>
</div>
</form>
{% endblock %}