{% extends "NSSentinelBundle::edit.html.twig" %}

{% block pagetitle %}
{{'Edit Case %id%'|trans({'%id%': record.caseId })}}
{% endblock %}

{% block pageactions %}
<div class="pull-right">{{case_big_actions(record)}}</div>
{% endblock %}

{% block inlinescripts %}
    {{ parent() }}
    <script type="text/javascript">
        function getDuplicates(caseId, siteId, admDate, dobDate) {
            var dTable             = $('#duplicateTable');
            var duplicateLabel     = $('#duplicateLabel');
            var duplicateLabelText = '{{ 'Potential Duplicates Check'|trans }}';

            $.ajax('{{ path('rotavirusDuplicateCheck') }}', {
                method: 'POST',
                data: {siteId: siteId, admDate: admDate, caseId: caseId, dobDate: dobDate},
                success: function(data) {
                    var rows   = '';
                    if (data.length > 0) {
                        rows += '<tr><th>{{ 'ibd-form.last-name'|trans }}</th>'+
                            '<th>{{ 'ibd-form.first-name'|trans }}</th>'+
                            '<th>{{ 'rotavirus-form.case-id'|trans }}</th>'+
                            '<th>{{ 'rotavirus-form.dob'|trans }}</th>'+
                            '<th>{{ 'ibd-form.adm-date'|trans }}</th>'+
                            '<th>{{ 'rotavirus-form.district'|trans }}</th></tr>';

                        data.forEach(function(item) {
                            rows += '<tr>' +
                                '<td>'+item.lastName+'</td>'+
                                '<td>'+item.firstName+'</td>' +
                                '<td>'+item.caseId+'</td>' +
                                '<td>'+item.dob+'</td>' +
                                '<td>'+item.admDate+'</td>' +
                                '<td>'+item.district+'</td>' +
                                '</tr>';
                        });
                    } else {
                        dTable.closest('div').hide();
                    }

                    dTable.html(rows);
                },
                beforeSend: function() {
                    dTable.closest('div').show();
                    duplicateLabel.html(duplicateLabelText+' <i class="fa fa-spinner fa-spin"></i>');
                },
                error: function() {
                    dTable.closest('div').hide();
                },
                complete: function() {
                    duplicateLabel.html(duplicateLabelText);
                }
            });
        }

        $(document).ready(function() {
            var siteId = '{{ record.site.id }}';
            var caseId = '{{ record.id }}';
            {% if record.admDate and record.birthdate %}
            getDuplicates(caseId, siteId, '{{ record.admDate|date('Y-m-d') }}', '{{ record.birthdate|date('Y-m-d') }}');
            {% endif %}
            var admDate = $('#{{ form.admDate.vars.id }}');
            var dobDate = $('#{{ form.birthdate.vars.id }}');
            admDate.change(function() {
                if ($(this).val() && dobDate.val()) {
                    var admDay = new Date($(this).val());
                    var admDateStr = admDay.getFullYear() + '-' + (admDay.getMonth() + 1) + '-' + admDay.getDate();

                    var dobDay = new Date(dobDate.val());
                    var dobDateStr = dobDay.getFullYear() + '-' + (dobDay.getMonth() + 1) + '-' + dobDay.getDate();
                    getDuplicates(caseId, siteId, admDateStr, dobDateStr);
                }
            });
            dobDate.change(function() {
                if ($(this).val() && admDate.val()) {
                    var admDay = new Date(admDate.val());
                    var admDateStr = admDay.getFullYear() + '-' + (admDay.getMonth() + 1) + '-' + admDay.getDate();

                    var dobDay = new Date($(this).val());
                    var dobDateStr = dobDay.getFullYear() + '-' + (dobDay.getMonth() + 1) + '-' + dobDay.getDate();
                    getDuplicates(caseId, siteId, admDateStr, dobDateStr);
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {{ form_errors(form) }}
    {{ form_start(form, {'action': path('rotavirusEdit',{'id':id}),'attr':{'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-sm-12">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                    <li class="active"><a data-toggle="tab" href="#demographics">{{'Case Based Demographics'|trans}}</a></li>
                    <li><a data-toggle="tab" href="#clinical">{{'Clinical Data'|trans}}</a></li>
                    <li><a data-toggle="tab" href="#history">{{'Vaccination History'|trans}}</a></li>
                    <li><a data-toggle="tab" href="#specimen">{{'Specimen Collection Data'|trans}}</a></li>
                    <li><a data-toggle="tab" href="#outcome">{{'Outcome'|trans}}</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="demographics" class="tab-pane active">
                    <div class="row">
                        <div class="col-sm-4">
                            {{form_row(form.firstName)}}
                            {{form_row(form.lastName)}}
                            {{form_row(form.parentalName)}}
                            {{form_row(form.gender)}}
                        </div>
                        <div class="col-sm-4">
                            {{ form_row(form.dobKnown) }}
                            {{ form_row(form.birthdate) }}
                            {{ form_row(form.dobYearMonths) }}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.caseId)}}
                            {{form_row(form.district)}}
                            {{form_row(form.state)}}
                            <div class="form-group">
                                <label for="ibd_id">{{'System Id'|trans}}</label>
                                <div class="input-group">{{id}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="history" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-4">
                            {{form_row(form.vaccinationReceived)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.vaccinationType)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.doses)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form_row(form.firstVaccinationDose)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.secondVaccinationDose)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.thirdVaccinationDose)}}
                        </div>
                    </div>
                </div>
                <div id="clinical" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-4">
                             {{form_row(form.admDate)}}
                        </div>
                        <div class="col-sm-4">
                             {{form_row(form.intensiveCare)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {% if form.symptomDiarrheaBloody is defined %}
                                {{form_row(form.symptomDiarrheaBloody)}}
                            {% endif %}
                            {{form_row(form.symptomDiarrhea)}}
                            {{form_row(form.symptomDiarrheaOnset)}}
                            {{form_row(form.symptomDiarrheaEpisodes)}}
                            {{form_row(form.symptomDiarrheaDuration)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.symptomVomit)}}
                            {{form_row(form.symptomVomitEpisodes)}}
                            {{form_row(form.symptomVomitDuration)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.symptomDehydration)}}
                            {{form_row(form.rehydration)}}
                            {{form_row(form.rehydrationType)}}
                            {{form_row(form.rehydrationOther)}}
                        </div>
                    </div>
                </div>
                <div id="specimen" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-4">
                            {{form_row(form.stoolCollected)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.stoolId)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.stoolCollectionDate)}}
                        </div>
                    </div>
                </div>

                <div id="outcome" class="tab-pane">
                    {% include 'NSSentinelBundle:RotaVirus:_outcome.html.twig' %}
                </div>

                {{form_rest(form)}}
            </div>
            <div class="form-actions center">
                <a href="{{path('rotavirusIndex')}}" class="btn btn-sm btn-danger">{{'Cancel'|trans}}</a>
                <button type="submit" name="save" class="btn btn-sm btn-success">{{'Save'|trans}} <i class="fa fa-arrow-right fa fa-on-right bigger-110"></i></button>
                <button type="submit" name="saveclose" class="btn btn-sm btn-success">{{'Save & Close'|trans}} <i class="fa fa-arrow-right fa fa-on-right bigger-110"></i></button>
                <a href="{{ path('rotavirusDelete',{'id': id}) }}" class="btn btn-sm btn-warning pull-right ns-confirm" data-confirm-message="Delete case {{ id }}? Operation is not reversible."><i class="fa fa-times"></i> {{ 'Delete'|trans }}</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <h4 id="duplicateLabel"></h4>
                <table class="table table-responsive" id="duplicateTable"></table>
            </div>
        </div>
    </div>
{% endblock %}
