{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
    {{'Edit Lab For Case %id%'|trans({'%id%': form.vars.value.caseFile.caseId})}}
{% endblock %}

{%block pageactions %}
    <div class="pull-right">{{case_big_actions(form.vars.value.caseFile,true)}}</div>
{%endblock %}

{% block body %}
    {{form_errors(form)}}
    <form method="POST" action="{{path('rotavirusLabEdit',{'id':id})}}" novalidate>
        <div class="row">
            <div class="col-sm-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                        <li class="active"><a data-toggle="tab" href="#stool">{{'Sample & Elisa'|trans}}</a></li>
                        <li><a data-toggle="tab" href="#genotype">{{'Genotyping'|trans}}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="stool" class="tab-pane active">
                            <div class="row">
                                <div class="col-sm-3">
                                    {{form_row(form.received)}}
                                    {#{{form_row(form.siteLabId)}}#}
                                </div>
                                <div class="col-sm-3">
                                    {{form_row(form.adequate)}}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{form_row(form.elisaDone)}}
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{form_row(form.elisaKit)}}
                                            {{form_row(form.elisaKitOther)}}
                                            {{form_row(form.elisaLoadNumber)}}
                                        </div>
                                        <div class="col-sm-6">                                
                                            {{form_row(form.elisaExpiryDate)}}
                                            {{form_row(form.elisaTestDate)}}
                                            {{form_row(form.elisaResult)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    {{form_row(form.stored)}}
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                {% if form.stoolSentToRRL is defined %}
                                    <div class="col-md-6">
                                        {{form_row(form.stoolSentToRRL)}}
                                        {{form_row(form.stoolSentToRRLDate)}}
                                    </div>
                                {% endif %}
                                {% if form.stoolSentToNL is defined %}
                                    <div class="col-md-6">
                                        {{form_row(form.stoolSentToNL)}}
                                        {{form_row(form.stoolSentToNLDate)}}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div id="genotype" class="tab-pane">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{form_row(form.genotypingDate)}}
                                </div>
                                <div class="col-sm-4">
                                    {{form_row(form.genotypingResultG)}}
                                    {{form_row(form.genotypingResultGSpecify)}}
                                </div>
                                <div class="col-sm-4">
                                    {{form_row(form.genotypeResultP)}}
                                    {{form_row(form.genotypeResultPSpecify)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{form_rest(form)}}

                <div class="form-actions center">
                    <a href="{{path('rotavirusIndex')}}" class="btn btn-sm btn-danger">{{'Cancel'|trans}}</a> <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="fa fa-arrow-right fa fa-on-right bigger-110"></i></button>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
