{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{%if id %}{{'View Case %id%'|trans({'%id%': id})}}{%else%}{{'Create New Case'|trans}}{%endif%}
{% endblock %}

{% block body %}
<form method="POST" action="{{path('rotavirusEdit',{'id':id})}}">
{% if form.site is defined %}
<div class="row">
    <div class="col-sm-4" >
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h6>{{'Site'|trans}}</h6></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_row(form.site)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
    
<div class="row">
    {{form_errors(form)}}
    <div class="col-sm-4" >
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h6>{{'Case Based Demographics'|trans}}</h6></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_row(form.caseId)}}
                    {{form_row(form.dob)}}
                    {{form_row(form.gender)}}
                    {{form_row(form.district)}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-8" >
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h6>{{'Vaccination History'|trans}}</h6></div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-6">
                            {{form_row(form.vaccinationReceived)}}
                            {{form_row(form.vaccinationType)}}
                            {{form_row(form.doses)}}
                        </div>
                        <div class="col-sm-6">
                            {{form_row(form.firstVaccinationDose)}}
                            {{form_row(form.secondVaccinationDose)}}
                            {{form_row(form.thirdVaccinationDose)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h6>{{'Clinical Data'|trans}}</h6></div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-4">
                            {{form_row(form.admissionDate)}}
                            {{form_row(form.symptomDiarrhea)}}
                            {{form_row(form.symptomDiarrheaOnset)}}
                            {{form_row(form.symptomDiarrheaEpisodes)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.symptomDiarrheaDuration)}}
                            {{form_row(form.symptomDiarrheaVomit)}}
                            {{form_row(form.symptomVomitEpisodes)}}
                            {{form_row(form.symptomVomitDuration)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.symptomDehydration)}}
                            {{form_row(form.rehydration)}}
                            {{form_row(form.rehydrationType)}}
                            {{form_row(form.rehydrationOther)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h6>{{'Specimen Collection Data'|trans}}</h6></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_row(form.stoolCollected)}}
                    {{form_row(form.stoolId)}}
                    {{form_row(form.stoolCollectionDate)}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h6>{{'Outcome Data'|trans}}</h6></div>
            <div class="widget-body">
                <div class="widget-main">
                {{form_rest(form)}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-actions center">
    <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
</div>

</form>
{% endblock %}
