<tr>
    <td>{{ row.caseId}}</td>
    <td>{{ row.admDate|date('d/m/Y') }}</td>
    <td>{{ row.site }}</td>
    <td class='hidden-480'>
        {{case_label(row,'EPI'|trans)}}
        {{case_lab_label(row,'LAB'|trans)}}
        {{case_rrl_label(row,'RRL'|trans)}}
        {{case_nl_label(row,'NL'|trans)}}
    </td>
    <td>{% include 'NSSentinelBundle::index-action.html.twig' %}</td>
</tr>