{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'Recent Cases'|trans}}{%endblock %}
{% block pagedescription %}{{'Lists the last %count% rotavirus cases'|trans({'%count%':app.session.get('rota.index.limit',10)})}}{%endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/bundles/nsfilteredpagination/js/main.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="widget-box widget-color-blue no-border">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title">{{'Latest Rotavirus Cases'|trans}}</h5>
                    <div class="widget-toolbar">{{ form_widget(limitForm.limit) }} {{ 'Results per page'|trans }}</div>
                    <div class="widget-toolbar no-border">{{ knp_pagination_render(pagination) }}</div>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div class="table-responsive">
                            {{ case_index_template(pagination,'rotaCases') }}
                        </div>
                    </div>
                    {% if is_granted('ROLE_CAN_CREATE') %}
                        <div class="widget-toolbox padding-8 clearfix">
                            <a href="#modal-form" data-toggle="modal" class="btn btn-xs btn-success pull-right">{{'Create/Edit'|trans}}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-3 widget-container-span">
            {% include 'NSSentinelBundle::filter.html.twig' with {'route':'rotavirusIndex'} %}
        </div>
    </div>
    {% if is_granted('ROLE_CAN_CREATE') %}
        <div id="modal-form" class="modal" tabindex="-1" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="blue bigger">{{'Create Case'|trans}}</h4>
                    </div>
                    <form method="POST" action="{{path('rotavirusCreate')}}">

                        <div class="modal-body overflow-visible">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5">
                                    {{form_rest(createForm)}}
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-sm" data-dismiss="modal">
                                <i class="fa fa-remove"></i> {{'Cancel'|trans}}
                            </button>

                            <button class="btn btn-sm btn-primary" id="rotavirus_create_submit">
                                <i class="fa fa-check"></i> {{'Create/Edit'|trans}}
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <script type="text/javascript">
        //chosen plugin inside a modal will have a zero width because the select element is originally hidden
        //and its width cannot be determined.
        //so we set the width after modal is show
        $('#modal-form').on('shown.bs.modal', function ()
        {
            $(this).find('.chosen-container').each(function ()
            {
                $(this).find('a:first-child').css('width', '210px');
                $(this).find('.chosen-drop').css('width', '210px');
                $(this).find('.chosen-search input').css('width', '200px');
            });
        });
    </script>
{% endblock %}
