{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'View Case %id%'|trans({'%id%': record.id})}}{%endblock %}

{% block body %}
<div class="col-sm-12">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" id="myTab2">
            <li class="active"><a data-toggle="tab" href="#demographics">{{'Case Based Demographics'|trans}}</a></li>
            <li><a data-toggle="tab" href="#vacination">{{'Vaccination History'|trans}}</a></li>
            <li><a data-toggle="tab" href="#clinical">{{'Clinical Data'|trans}}</a></li>
            <li><a data-toggle="tab" href="#collectionData">{{'Specimen Collection Data'|trans}}</a></li>
            <li><a data-toggle="tab" href="#outcome">{{'Outcome Data'|trans}}</a></li>
            <li><a data-toggle="tab" href="#labData">{{'Site Lab'|trans}}</a></li>
        </ul>
        <div class="tab-content">
            <div id="demographics" class="tab-pane active">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.id'|trans}}</th>
                        <td>{{record.id}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.caseId'|trans}}</th>
                        <td>{{record.caseId}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.dob'|trans}}</th>
                        <td>{{record.dob|date}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.gender'|trans}}</th>
                        <td>{{record.gender}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.district'|trans}}</th>
                        <td>{{record.district}}</td>
                    </tr>
                </table>
            </div>

            <div id="vacination" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.vaccination-received'|trans}}</th>
                        <td>{{record.vaccinationReceived}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.vaccination-type'|trans}}</th>
                        <td>{{record.vaccinationType}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.doses'|trans}}</th>
                        <td>{{record.doses}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.firstVaccinationDose'|trans}}</th>
                        <td>{{record.firstVaccinationDose}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.secondVaccinationDose'|trans}}</th>
                        <td>{{record.secondVaccinationDose}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.thirdVaccinationDose'|trans}}</th>
                        <td>{{record.thirdVaccinationDose}}</td>
                    </tr>
                </table>
            </div>

            <div id="clinical" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.adm-date'|trans}}</th>
                        <td>{{record.admDate|date}}</td>
                    </tr>
                </table>
            </div>

            <div id="rotavirus" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.symptomDiarrhea'|trans}}</th>
                        <td>{{record.symptomDiarrhea}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomDiarrheaOnset'|trans}}</th>
                        <td>{{record.symptomDiarrheaOnset}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomDiarrheaEpisodes'|trans}}</th>
                        <td>{{record.symptomDiarrheaEpisodes}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomDiarrheaDuration'|trans}}</th>
                        <td>{{record.symptomDiarrheaDuration}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomDiarrheaVomit'|trans}}</th>
                        <td>{{record.symptomDiarrheaVomit}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomVomitEpisodes'|trans}}</th>
                        <td>{{record.symptomVomitEpisodes}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomVomitDuration'|trans}}</th>
                        <td>{{record.symptomVomitDuration}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomDehydration'|trans}}</th>
                        <td>{{record.symptomDehydration}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.rehydration'|trans}}</th>
                        <td>{{record.rehydration}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.rehydration-type'|trans}}</th>
                        <td>{{record.rehydrationType}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.rehydration-other'|trans}}</th>
                        <td>{{record.rehydrationOther}}</td>
                    </tr>
                </table>
            </div>

            <div id="collectionData" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.csf-collected'|trans}}</th>
                        <td>{{record.stoolCollected}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.csf-collect-datetime'|trans}}</th>
                        <td>{{record.stoolId}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.csf-appearance'|trans}}</th>
                        <td>{{record.stoolCollectionDate}}</td>
                    </tr>
                </table>
            </div>
            <div id="outcome" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.dischargeOutcome'|trans}}</th>
                        <td>{{record.dischargeOutcome}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.dischargeDate'|trans}}</th>
                        <td>{{record.dischargeDate}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.dischargeClassOther'|trans}}</th>
                        <td>{{record.dischargeClassOther}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.comment'|trans}}</th>
                        <td>{{record.comment}}</td>
                    </tr>
                </table>
            </div>
            <div id="labData" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    {%if record.hasSiteLab %}
                    {% set lab = record.lab %}
                    <tr>
                        <th>{{'rotavirus-form.hasSiteLab'|trans}}</th>
                        <td>{{'Yes'|trans}}</td>
                    </tr>                    
                    <tr>
                        <th>{{'rotavirus-form.stoolReceivedDate'|trans}}</th>
                        <td>{{lab.stoolReceivedDate}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.stoolAdequate'|trans}}</th>
                        <td>{{lab.stoolAdequate}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.stoolELISADone'|trans}}</th>
                        <td>{{lab.stoolELISADone}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.stoolTestDate'|trans}}</th>
                        <td>{{lab.stoolTestDate}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.stoolELISAResult'|trans}}</th>
                        <td>{{lab.stoolELISAResult}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.stoolStored'|trans}}</th>
                        <td>{{lab.stoolStored}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.stoolSentToRRL'|trans}}</th>
                        <td>{{lab.stoolSentToRRL}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.stoolSentToRRLDate'|trans}}</th>
                        <td>{{lab.stoolSentToRRLDate}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.rrlELISAResult'|trans}}</th>
                        <td>{{lab.rrlELISAResult}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.rrlGenoTypeDate'|trans}}</th>
                        <td>{{lab.rrlGenoTypeDate}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.rrlGenoTypeResult'|trans}}</th>
                        <td>{{lab.rrlGenoTypeResult}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.stoolSentToNL'|trans}}</th>
                        <td>{{lab.stoolSentToNL}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.stoolSentToNLDate'|trans}}</th>
                        <td>{{lab.stoolSentToNLDate}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.nlELISAResult'|trans}}</th>
                        <td>{{lab.nlELISAResult}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.nlGenoTypeDate'|trans}}</th>
                        <td>{{lab.nlGenoTypeDate}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.nlGenoTypeResult'|trans}}</th>
                        <td>{{lab.nlGenoTypeResult}}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <th>{{'rotavirus-form.hasSiteLab'|trans}}</th>
                        <td>{{'No'|trans}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
