{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'View Case %id%'|trans({'%id%': record.id})}}{%endblock %}

{%block pageactions %}
<div class="pull-right">{{case_big_actions(record,true)}}</div>
{%endblock %}

{% block body %}
<div class="col-sm-12">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" id="myTab2">
            <li class="active"><a data-toggle="tab" href="#demographics">{{'Case Based Demographics'|trans}}</a></li>
            <li><a data-toggle="tab" href="#vacination">{{'Vaccination History'|trans}}</a></li>
            <li><a data-toggle="tab" href="#clinical">{{'Clinical Data'|trans}}</a></li>
            <li><a data-toggle="tab" href="#collectionData">{{'Specimen Collection Data'|trans}}</a></li>
            <li><a data-toggle="tab" href="#labData">{{'Lab'|trans}}</a></li>
            <li><a data-toggle="tab" href="#labData-genotype">{{'Genotype'|trans}}</a></li>
            <li><a data-toggle="tab" href="#outcome">{{'Outcome Data'|trans}}</a></li>
        </ul>
        <div class="tab-content">
            <div id="demographics" class="tab-pane active">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.id'|trans}}</th>
                        <td>{{record.id}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.case-id'|trans}}</th>
                        <td>{{record.caseId}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.dob'|trans}}</th>
                        <td>{%if record.dob %}{{record.dob|date}}{%endif%}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.age'|trans}}</th>
                        <td>{{record.age}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.gender'|trans}}</th>
                        <td>{{record.gender}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.first-name'|trans}}</th>
                        <td>{{record.firstName}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.last-name'|trans}}</th>
                        <td>{{record.lastName}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.parental-name'|trans}}</th>
                        <td>{{record.parentalName}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.district'|trans}}</th>
                        <td>{{record.district}}</td>
                    </tr>
                </table>
            </div>

            <div id="vacination" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.vaccination-received'|trans}}</th>
                        <td>{{record.vaccinationReceived}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.vaccination-type'|trans}}</th>
                        <td>{{record.vaccinationType}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.doses'|trans}}</th>
                        <td>{{record.doses}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.firstVaccinationDose'|trans}}</th>
                        <td>{{record.firstVaccinationDose}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.secondVaccinationDose'|trans}}</th>
                        <td>{{record.secondVaccinationDose}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.thirdVaccinationDose'|trans}}</th>
                        <td>{{record.thirdVaccinationDose}}</td>
                    </tr>
                </table>
            </div>

            <div id="clinical" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.adm-date'|trans}}</th>
                        <td>{%if record.admDate %}{{record.admDate|date}}{%endif%}</td>
                    </tr>
                </table>
            </div>

            <div id="rotavirus" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.symptomDiarrhea'|trans}}</th>
                        <td>{{record.symptomDiarrhea}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomDiarrheaOnset'|trans}}</th>
                        <td>{{record.symptomDiarrheaOnset}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomDiarrheaEpisodes'|trans}}</th>
                        <td>{{record.symptomDiarrheaEpisodes}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomDiarrheaDuration'|trans}}</th>
                        <td>{{record.symptomDiarrheaDuration}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomVomit'|trans}}</th>
                        <td>{{record.symptomVomit}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomVomitEpisodes'|trans}}</th>
                        <td>{{record.symptomVomitEpisodes}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomVomitDuration'|trans}}</th>
                        <td>{{record.symptomVomitDuration}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.symptomDehydration'|trans}}</th>
                        <td>{{record.symptomDehydration}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.rehydration'|trans}}</th>
                        <td>{{record.rehydration}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.rehydration-type'|trans}}</th>
                        <td>{{record.rehydrationType}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.rehydration-other'|trans}}</th>
                        <td>{{record.rehydrationOther}}</td>
                    </tr>
                </table>
            </div>

            <div id="collectionData" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.csf-collected'|trans}}</th>
                        <td>{{record.stoolCollected}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.csf-collect-datetime'|trans}}</th>
                        <td>{{record.stoolId}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.csf-appearance'|trans}}</th>
                        <td>{%if record.stoolCollectionDate %}{{record.stoolCollectionDate|date}}{%endif%}</td>
                    </tr>
                </table>
            </div>
            <div id="outcome" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'rotavirus-form.dischargeOutcome'|trans}}</th>
                        <td>{{record.dischargeOutcome}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.dischargeDate'|trans}}</th>
                        <td>{%if record.dischargeDate %}{{record.dischargeDate|date}}{%endif%}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.dischargeClassOther'|trans}}</th>
                        <td>{{record.dischargeClassOther}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.comment'|trans}}</th>
                        <td>{{record.comment}}</td>
                    </tr>
                </table>
            </div>
            <div id="labData" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    {%if record.hasLab %}
                    {% set lab = record.lab %}
                    <tr>
                        <th>{{'rotavirus-form.hasLab'|trans}}</th>
                        <td>{{'Yes'|trans}}</td>
                    </tr>                    
                    <tr>
                        <th>{{'rotavirus-form.siteReceivedDate'|trans}}</th>
                        <td>{%if lab.siteReceivedDate %}{{lab.siteReceivedDate|date}}{%endif%}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.adequate'|trans}}</th>
                        <td>{{lab.adequate}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.stored'|trans}}</th>
                        <td>{{lab.stored}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.elisaDone'|trans}}</th>
                        <td>{{lab.elisaDone}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.elisaKit'|trans}}</th>
                        <td>{{lab.elisaKit}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.elisaKitOther'|trans}}</th>
                        <td>{{lab.elisaKitOther}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.elisaLoadNumber'|trans}}</th>
                        <td>{{lab.elisaLoadNumber}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.elisaExpiryDate'|trans}}</th>
                        <td>{%if lab.elisaExpiryDate %}{{lab.elisaExpiryDate|date}}{%endif%}</td>
                    </tr>

                    <tr>
                        <th>{{'rotavirus-form.elisaTestDate'|trans}}</th>
                        <td>{%if lab.elisaTestDate %}{{lab.elisaTestDate|date}}{%endif%}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.elisaResult'|trans}}</th>
                        <td>{{lab.elisaResult}}</td>
                    </tr>
                    
                    <tr>
                        <th>{{'rotavirus-form.secondaryElisaDone'|trans}}</th>
                        <td>{{lab.secondaryElisaDone}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.secondaryElisaKit'|trans}}</th>
                        <td>{{lab.secondaryElisaKit}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.secondaryElisaKitOther'|trans}}</th>
                        <td>{{lab.secondaryElisaKitOther}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.secondaryElisaLoadNumber'|trans}}</th>
                        <td>{{lab.secondaryElisaLoadNumber}}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.secondaryElisaExpiryDate'|trans}}</th>
                        <td>{%if lab.secondaryElisaExpiryDate %}{{lab.secondaryElisaExpiryDate|date}}{%endif%}</td>
                    </tr>

                    <tr>
                        <th>{{'rotavirus-form.secondaryElisaTestDate'|trans}}</th>
                        <td>{%if lab.secondaryElisaTestDate %}{{lab.secondaryElisaTestDate|date}}{%endif%}</td>
                    </tr>
                    <tr>
                        <th>{{'rotavirus-form.secondaryElisaResult'|trans}}</th>
                        <td>{{lab.secondaryElisaResult}}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <th>{{'rotavirus-form.hasLab'|trans}}</th>
                        <td>{{'No'|trans}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
                <div id="labData-genotype" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        <tr><th>{{'external-lab-form.genotyping-date'|trans}}</th><td>{%if lab.genotypingDate %}{{lab.genotypingDate|date}}{%endif%}</td></tr>
                        <tr><th>{{'external-lab-form.genotyping-result-g'|trans}}</th><td>{{lab.genotypingResultG}}</td></tr>
                        <tr><th>{{'external-lab-form.genotyping-result-g-specify'|trans}}</th><td>{{lab.genotypingResultGSpecify}}</td></tr>
                        <tr><th>{{'external-lab-form.genotyping-result-p'|trans}}</th><td>{{lab.genotypeResultP}}</td></tr>
                        <tr><th>{{'external-lab-form.genotyping-result-p-specify'|trans}}</th><td>{{lab.genotypeResultPSpecify}}</td></tr>
                    </table>
                </div>
        </div>
    </div>
</div>
{% endblock %}
