<table class="table table-responsive table-striped table-hover">
    <thead>
    <tr>
        <th>{{ 'Year'|trans }}</th>
        <td>{{ 'Culture+'|trans }}</td>
        <td>{{ 'Culture- & Binax+'|trans }}</td>
        <td>{{ 'PCR+ & Binax- & Culture-'|trans }}</td>
    </tr>
    </thead>
    <tbody>
    {% for year in results.years %}
        <tr>
            <td>{{ year }}</td>
            <td>{{ results.getCulturePositive(year) }}</td>
            <td>{{ results.getCultureNegative(year) }}</td>
            <td>{{ results.getPcrPositive(year) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
