{%extends "NSAceBundle::base.html.twig" %}

    {% block stylesheets %}
        {{parent()}}
        <link rel="stylesheet" href="{{asset('bundles/nsimport/css/query-builder.default.min.css')}}" />
        <link rel="stylesheet" href="{{asset('bundles/nssentinel/css/main.css')}}" />
    {%endblock %}

    {% block javascripts %}
        {{parent()}}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            var google_charts   = new Array();
        </script>
        <script type="text/javascript" src="{{asset('/bundles/nsimport/js/JQuery.extendext.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('/bundles/nsimport/js/doT.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('/bundles/nsimport/js/query-builder.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('/bundles/nssentinel/js/main.js')}}"></script>
    {% endblock %}

    {%block ace_settings %}{% endblock %}

    {% block sitebrand_text %}
        <img src="{{asset('bundles/nssentinel/images/WHO-logo_WHITE.png')}}" alt="WHO - {{'sitebrand-text'|trans|desc('NUVI Sentinel Network')}}" /> {{'sitebrand-text'|trans|desc('NUVI Sentinel Network')}}
    {%endblock%}
    {% block sitetitle %}
        {{'site-title-text'|trans|desc('WHO Sentinel Network')}}
    {% endblock %}

    {%block sidenav_menu %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ knp_menu_render('sidebar') }}
        {% endif %}
    {% endblock %}

    {% block sidenav_shortcuts %}
    {% endblock %}

    {% block flash %}
		{{ flash_messages() }}
    {% endblock %}

    {% block navbarheader %}
        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
            {% if is_granted('ROLE_CAN_CHANGE_LANGUAGE') %}
            {{ locale_switcher(null,null,'::switcher_links.html.twig') }}
            {% endif %}
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <!--<img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo">-->
                        <span class="user-info">
                            <small>Welcome,</small> {{ app.user.name }}
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="{{path('userProfile')}}"><i class="fa fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{path('logout')}}"><i class="fa fa-off"></i> {{'Logout'|trans}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
{#
            {% block topbar_tasks %}<ul class="nav ace-nav"><li>{ {> layout.topbar.tasks} }</li></ul>{%endblock%}
            {% block topbar_notifications %}<ul class="nav ace-nav"><li>{ {> layout.topbar.notifications} }</li></ul>{%endblock%}
            {% block topbar_messages %}<ul class="nav ace-nav"><li>{ {> layout.topbar.messages} }</li></ul>{%endblock%} #}
            {#{% block topbar_user_menu%}<ul class="nav ace-nav"><li>{ {> layout.topbar.user_menu} }</li></ul>{%endblock%}#}
        </div><!-- /.navbar-header -->    
    {%endblock %}
