<table class="table table-responsive table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th rowspan="2">{{ 'Region'|trans }}</th>
        <th rowspan="2">{{ 'Country'|trans }}</th>
        <th rowspan="2">{{ 'Site'|trans }}</th>
        <th rowspan="2">{{ 'Year'|trans }}</th>
        <th rowspan="2">{{ 'Total Cases'|trans }}</th>
        <th colspan="2">{{ 'Confirmed'|trans }}</th>
        <th colspan="2">{{ 'Discarded'|trans }}</th>
        <th colspan="2">{{ 'Inadequately Investigated'|trans }}</th>
        <th colspan="2">{{ 'Unknown'|trans }}</th>
    </tr>
    <tr>
        <td>#</td>
        <td>%</td>

        <td>#</td>
        <td>%</td>

        <td>#</td>
        <td>%</td>

        <td>#</td>
        <td>%</td>
    </tr>
    </thead>
    <tbody>
    {% for result in sites %}
        <tr>
            <td>{{ result.site.country.region.code }}</td>
            <td>{{ result.site.country.code }}</td>
            <td>{{ result.site.code }}</td>
            <td>{{ result.year }}</td>
            <td>{{ result.totalCases }}</td>

            <td>{{ result.confirmed }}</td>
            <td>{{ result.confirmedPercent|number_format }} %</td>

            <td>{{ result.discarded }}</td>
            <td>{{ result.discardedPercent|number_format(1) }} %</td>

            <td>{{ result.inadequate }}</td>
            <td>{{ result.inadequatePercent|number_format(1) }}%</td>

            <td>{{ result.unknown }}</td>
            <td>{{ result.unknownPercent|number_format(1) }}%</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
