{% extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{ 'Data Linking'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box widget-color-blue no-border">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title">{{ 'Results'|trans }}</h5>
                    <div class="widget-toolbar">
                        <a href="#performanceFilters" data-toggle="collapse" class="white small">
                            <i class="ace-icon fa fa-plus" data-icon-hide="fa-minus" data-icon-show="fa-plus"></i>
                            Filters
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-toolbox padding-8">
                        <div class="collapse" id="performanceFilters">
                            <form method="POST" action="{{ path('reportRotaDataLinking') }}">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3">
                                        {{ form_row(form.year) }}
                                    </div>
                                    {% if form.region is defined %}
                                        <div class="col-lg-2 col-md-3">
                                            {{ form_row(form.region) }}
                                        </div>
                                    {% endif %}
                                    {% if form.country is defined %}
                                        <div class="col-lg-2 col-md-3">
                                            {{ form_row(form.country) }}
                                        </div>
                                    {% endif %}
                                    {% if form.site is defined %}
                                        <div class="col-lg-2 col-md-3">
                                            {{ form_widget(form.site) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form.filter is defined ? form_widget(form.filter) }}
                                        {{ form.export is defined ? form_widget(form.export) }}
                                        {{ form.reset is defined ? form_widget(form.reset) }}
                                        {{ form_rest(form) }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget-main no-padding">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="thin-border-bottom">
                                <tr>
                                    <th>{{ 'Region'|trans }}</th>
                                    <th>{{ 'Country'|trans }}</th>
                                    <th>{{ 'Total Labs'|trans }}</th>
                                    <th colspan="2">{{ 'Linked'|trans }}</th>
                                    <th colspan="2">{{ 'Failed Link'|trans }}</th>
                                    {#<th>{{ 'No Lab'|trans }}</th>#}
                                </tr>
                                </thead>
                                {% for result in sites %}
                                    <tr>
                                        <td>{{ result.country.region.code }}</td>
                                        <td>{{ result.country.code }}</td>
                                        <td>{{ result.totalCases }}</td>
                                        <td>{{ result.linked }}</td>
                                        <td>{{ result.linkedPercent|number_format(0) }} %</td>
                                        <td>{{ result.notLinked }}</td>
                                        <td>{{ result.notLinkedPercent|number_format(0) }} %</td>
                                        {#<td>{{ result.noLab }}</td>#}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
