{% extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{ 'Data Quality Checks'|trans }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box widget-color-blue no-border">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title">{{ 'Results'|trans }}</h5>
                    {{ widget_filter_toolbox({'start_open': true}) }}
                </div>
                <div class="widget-body">
                    <div class="widget-toolbox padding-8">
                        <div class="collapse in" id="filters">
                            <form method="POST" action="{{ path('reportRotaDataQuality') }}">
                                <div class="row">
                                    <div class="col-xs-3">
                                        {{ form_row(form.adm_date) }}
                                        {{ form_row(form.createdAt) }}
                                    </div>
                                    <div class="col-xs-3">
                                        {% if form.region is defined %}
                                            {{ form_row(form.region) }}
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-3">
                                        {% if form.country is defined %}
                                            {{ form_row(form.country) }}
                                        {% endif %}

                                    </div>
                                    <div class="col-xs-3">
                                        {% if form.site is defined %}
                                            {{ form_row(form.site) }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form.filter is defined ? form_widget(form.filter) }}
                                        {{ form.export is defined ? form_widget(form.export) }}
                                        {{ form.reset is defined ? form_widget(form.reset) }}
                                        {{ form_rest(form) }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget-main no-padding">
                        {% include 'NSSentinelBundle:Report/RotaVirus/Export:data-quality.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
