{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block list_filters %}
    {% if admin.datagrid.filters %}
        <div class="widget-box widget-color-blue">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h5>
                <div class="widget-toolbar">
                    <a href="#" class="filter_legend white" data-action="expand"><i class="orange fa fa-chevron-down"></i> <span>Advanced<span></a>
                </div>
            </div>
            <div class="widget-body">
                <form class="sonata-filter-form form-horizontal {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET">
                <div class="widget-main">

                        {{ form_errors(form) }}
                        <fieldset class="filter_legend">
                            <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                                {% for filter in admin.datagrid.filters %}
                                    <div>
                                            <label class="control-label no-padding-right"
                                                for="{{ form.children[filter.formName].children['value'].vars.id }}">
                                                    {{ admin.trans(filter.label, {}, filter.translationDomain) }}
                                            </label>
                                        <div class="input-group">
                                            {{ form_widget(form.children[filter.formName].children['type'], {'attr': {'class': 'span8 sonata-filter-option'}}) }}
                                            {{ form_widget(form.children[filter.formName].children['value'], {'attr': {'class': 'span8 sonata-filter-value'}}) }}
                                        </div>
                                    </div>
                                {% endfor %}

                                <input type="hidden" name="filter[_page]" id="filter__page" value="1" />

                                {% set foo = form.children['_page'].setRendered() %}
                                {{ form_rest(form) }}
                            </div>

                            {% for paramKey, paramValue in admin.persistentParameters %}
                                <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}" />
                            {% endfor %}
                        </fieldset>

                </div>
                <div class="widget-toolbox">
                    <button type="submit" class="btn btn-xs btn-primary"><i class="fa fa-arrow-right fa-on-right bigger-110"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>
                    <a class="btn btn-xs" href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block table_footer %}
    <tr>
        <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
            <div class="form-inline">
                {% if not app.request.isXmlHttpRequest %}
                    {% if admin.hasRoute('batch') and batchactions|length > 0  %}
                        {% block batch %}
                            <script type="text/javascript">
                                {% block batch_javascript %}
                                    jQuery(document).ready(function ($) {
                                        $('#list_batch_checkbox').click(function () {
                                            $(this).closest('table').find("td input[type='checkbox']").attr('checked', $(this).is(':checked')).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                        });
                                        $("td.sonata-ba-list-field-batch input[type='checkbox']").change(function () {
                                            $(this).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                        });
                                    });
                                {% endblock %}
                            </script>

                            {% block batch_actions %}
                                <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                    <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements"/>
                                    {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                </label>

                                <select name="action" style="width: auto; height: auto">
                                    {% for action, options in batchactions %}
                                        <option value="{{ action }}">{{ options.label }}</option>
                                    {% endfor %}
                                </select>
                            {% endblock %}
                        {% endblock %}

                        <input type="submit" class="btn btn-xs btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}"/>
                    {% endif %}

                    <div class="pull-right">
                        {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                            {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                            {% for format in admin.getExportFormats() %}
                                <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">{{ format }}</a>{% if not loop.last %},{% endif %}
                            {% endfor %}

                            &nbsp;-&nbsp;
                        {% endif %}

                        {% block pager_results %}
                            {% include admin.getTemplate('pager_results') %}
                        {% endblock %}
                    </div>
                {% endif %}
            </div>
        </th>
    </tr>

    {% block pager_links %}
        {% if admin.datagrid.pager.haveToPaginate() %}
            {% include admin.getTemplate('pager_links') %}
        {% endif %}
    {% endblock %}

{% endblock %}