{% extends 'NSAceBundle::login.html.twig' %}

{% block body %}
    <div class="login-container">
        <div class="center">
            <h1><img src="{{ asset('/bundles/nssentinel/images/logo.jpg')}}" /></h1>
            <h6 class="blue">&copy; New Level Thinking & Noblet Solutions</h6>
        </div>
        <div class="space-6"></div>

        {% if err is defined %}
            <div class="alert alert-danger">
                <strong>
                    <i class="icon-remove"></i>
                </strong>
                {{err}}
                <br>
            </div>
        {%endif%}

        <div class="position-relative">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            <span class="fa-stack">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-question fa-stack-1x"></i>
                            </span> {{'Forgot Password'}}
                        </h4>
                        <div class="space-6"></div>
                        <form action="{{ path('forgotPassword') }}" method="POST" novalidate>
                            {{ form_errors(form) }}
                            <fieldset>
                                {{ form_errors(form.email) }}
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        {{ form_widget(form.email) }}
                                        <i class="ace-icon fa fa-user"></i>
                                    </span>
                                </label>
                                <div class="space"></div>

                                <div class="clearfix">
                                    <button type="submit" id="login" class="pull-right btn btn-sm btn-primary">
                                        <i class="fa fa-key"></i> {{'Reset Password'|trans}}
                                    </button>
                                </div>

                                <div class="space-4"></div>
                            </fieldset>
                            {{ form_rest(form) }}
                        </form>
                    </div>
                    <div class="toolbar clearfix">
                        <div></div>
                        <div>
                            <a href="{{ url('login') }}" class="user-signup-link"> Return to Login <i class="ace-icon fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <h7 class="blue">&copy; Noblet Solutions</h7>
        </div>
    </div>
{% endblock %}
