{% extends "NSAceBundle::login.html.twig" %}

{% block body %}
<div class="login-container">
    <div class="center">
        <h1><img src="{{ asset('bundles/nssentinel/images/logo.jpg')}}" /></h1>
        <h7 class="blue">&copy; New Level Thinking & Noblet Solutions</h7>
    </div>

    <div class="space-6"></div>
    
    {% if error %}
    <div class="alert alert-danger">
        <strong>
            <i class="icon-remove"></i>
        </strong>
        {{error.message}}
        <br>
    </div>
    {%endif%}
    
    <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                 <div class="widget-main">
                    <h4 class="header blue lighter bigger"><i class="icon-coffee green"></i> {{'Please Enter Your Information'|trans}}</h4>
                        <div class="space-6"></div>
                        <form id="login_form" action="{{ path('login_check') }}" method="post">
                            <fieldset>
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" id="username" name="_username" required class="form-control" placeholder="{{'Email / Username'|trans}}" value="{{ last_username }}" />
                                        <i class="icon-user"></i>
                                    </span>
                                </label>

                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        <input type="password" class="form-control" required name="_password" placeholder="{{'Password'|trans}}" />
                                        <i class="icon-lock"></i>
                                    </span>
                                </label>

                                <div class="space"></div>

                                <div class="clearfix">
<!--                                <label class="inline"><input type="checkbox" class="ace" /><span class="lbl"> Remember Me</span></label>-->
                                    <button type="submit" id="login" style="" class="width-35 pull-right btn btn-sm btn-primary">
                                        <i class="icon-key"></i>{{'Login'|trans}}
                                    </button>
                                </div>

                                <div class="space-4"></div>
                            </fieldset>
                        </form>
                 </div><!--/widget-main-->

                 <div class="toolbar clearfix">
                    <div>
                        <a href="#" class="forgot-password-link"><i class="icon-arrow-left"></i> {{'I forgot my password'|trans}}</a>
                    </div>
                 </div>
            </div><!--/widget-body-->
        </div><!--/login-box-->
    </div>
</div>
{% endblock %}
