{% extends "NSAceBundle::login.html.twig" %}
{% block pagetitle %}
    Password Reset
{% endblock %}

{% block body %}
    <div class="login-container">
        <div class="center">
            <h1><img src="{{ asset('/bundles/nssentinel/images/logo.jpg')}}" /></h1>
            <h6 class="blue">&copy; New Level Thinking & Noblet Solutions</h6>
        </div>

        <div class="space-6"></div>

        <div class="position-relative">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                        <span class="fa-stack">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-sign-in fa-stack-1x"></i>
                        </span> Update Password
                        </h4>
                        <div class="space-6"></div>
                        <form action="{{ path('resetPassword', {'token': token}) }}" method="post">
                            <fieldset>
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        {{ form_widget(form.password.first) }}
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </label>

                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        {{ form_widget(form.password.second) }}
                                        <i class="ace-icon fa fa-key"></i>
                                    </span>
                                </label>

                                {{ form_rest(form) }}

                                <div class="space"></div>

                                <div class="clearfix">
                                    <button type="submit" id="login" style="" class="pull-right btn btn-sm btn-primary">
                                        <i class="fa fa-key"></i> {{ 'Reset Password'|trans }}
                                    </button>
                                </div>

                                <div class="space-4"></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
