{%extends "::base.html.twig" %}
{%block pagetitle %}{{'Import Cases'|trans}}{%endblock %}

{%block body %}
    <div class="row">
        <div class="col-sm-3">
            <div class="widget-box widget-color-blue">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title">{{'New Uploads'|trans}}</h5>
                </div>
                <div class="widget-body">
                    <form method="POST" action="{{path('importIndex')}}" {{form_enctype(form)}}>
                        <div class="widget-main">
                            {{form_row(form.map)}}
                            {{form_row(form.sourceFile)}}
                        </div>
                        <div class="widget-toolbox padding-6 clearfix">
                            {{form_row(form.import)}}
                            {{form_rest(form)}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="widget-box widget-color-blue no-border">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title">{{'Recent Uploads'|trans}}</h5>
                    <div class="widget-toolbar no-border">{{ knp_pagination_render(results) }}</div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>{{'Created'|trans}}</th>
                                <th>{{'Map'|trans}}</th>
                                <th>{{'File'|trans}}</th>
                                <th>{{'File Record Count'|trans}}</th>
                                <th>{{'Processed'|trans}}</th>
                                <th>{{'Imported'|trans}}</th>
                                <th>{{'Successes'|trans}}</th>
                                <th>{{'Warnings'|trans}}</th>
                                <th>{{'Errors'|trans}}</th>
                                <th>{{'Actions'|trans}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for r in results %}
                                <tr>
                                    <td>{{r.createdAt.format('Y-m-d H:i:s')}}</td>
                                    <td>{{r.mapName}}</td>
                                    <td><a href="{{path('importResultDownload',{type:'source','id':r.id})}}"/>{{ r.source }}</a></td>
                                    <td id="progress-{{ r.id }}-source"> {{ r.sourceCount }} </td>
                                    <td id="progress-{{ r.id }}-processed"> {{ r.processedCount }} </td>
                                    <td id="progress-{{ r.id }}-imported"> {{ r.importedCount }} </td>
                                    <td>
                                        <a href="{{path('importResultDownload',{type:'success','id':r.id})}}" class="btn btn-xs btn-success">{{'Successful'|trans}} <i class="fa fa-cloud-download"></i></a>
                                    </td>
                                    <td>
                                        <a href="{{path('importResultDownload',{type:'warnings','id':r.id})}}" class="btn btn-xs btn-warning">{{r.warningCount}} {{'Warnings'|trans}} <i class="fa fa-cloud-download"></i></a>
                                    </td>
                                    <td>
                                        <a href="{{path('importResultDownload',{type:'errors','id':r.id})}}" class="btn btn-xs btn-danger">{{r.errorCount}} {{'Errors'|trans}} <i class="fa fa-cloud-download"></i></a>
                                    </td>
                                    <td><a href="{{ path('importExecute',{id: r.id}) }}">Execute</a></td>
                                </tr>
                                {%  if r.percentComplete < 100 %}
                                <tr>
                                    <td colspan="6">
                                        <div class="progress pos-rel" id="progress-{{ r.id }}-percent" data-percent="{{ r.percentComplete }}%">
                                            <div class="progress-bar" style="width:{{ r.percentComplete }}%;" id="progress-{{ r.id }}"></div>
                                            {#<i class="ace-icon fa fa-spinner fa-spin bigger-125"></i>#}
                                        </div>

                                        <script type="text/javascript">
                                            $(function() {
                                                function pollLatestResponse() {
                                                    $.get("{{ path('importStatus', {'id': r.id}) }}").done(function (ret) {
                                                        var retValue = jQuery.parseJSON(ret);
                                                        $('#progress-{{r.id}}').css({'width':retValue['percent']});
                                                        $('#progress-{{r.id}}-percent').attr('data-percent',retValue['percent']);
                                                        $('#progress-{{r.id}}-source').html(retValue['sourceCount']);
                                                        $('#progress-{{r.id}}-processed').html(retValue['processedCount']);
                                                        $('#progress-{{r.id}}-imported').html(retValue['importedCount']);

                                                        if (retValue['percent'] == '100%') {
                                                            clearInterval(pollTimer);
                                                        }
                                                    });
                                                }

                                                var pollTimer;
                                                $(document).ready(function () {
                                                    pollTimer = setInterval(pollLatestResponse, 6000);
                                                });
                                            });
                                        </script>
                                    </td>
                                </tr>
                                {% endif %}
                            {%endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
