{%extends "::base.html.twig" %}
{%block pagetitle %}{{'Import Cases'|trans}}{%endblock %}

{%block body %}
    <div class="row">
        <div class="col-sm-3">
            <div class="widget-box">
                <div class="widget-header widget-header-small header-color-blue">
                    <h5>{{'New Uploads'|trans}}</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form method="POST" action="{{path('importIndex')}}" {{form_enctype(form)}}>
                            {{form_rest(form)}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            {% render(controller('NSImportBundle:Import:recent'))%}
        </div>
    </div>
{%endblock%}