{%extends "NSSentinelBundle::layout.html.twig" %}
{% block body %}
<div class="row">
    <div class="col-xs-9">
        <div class="widget-box no-border">
            <div class="widget-header widget-header-small header-color-blue">
                <h5>{{'Results'|trans}}</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th colspan="2">{{'Year & Total'|trans}}</th>
                        <td colspan="2">{{'0-5'|trans}}</td>
                        <td colspan="2">{{'6-11'|trans}}</td>
                        <td colspan="2">{{'12-23'|trans}}</td>
                        <td colspan="2">{{'24-59'|trans}}</td>
                        <td colspan="2">{{'Unknown'|trans}}</td>
                    </tr>
                    </thead>
                    {% for year in results.getYears() %}
                    <tr>
                        <td>{{ year }}</td>
                        <td>{{ results.getTotal(year) }}</td>
                        <td>{{ results.getZeroToFive(year) }}</td>
                        <td>{{ results.getZeroToFivePercent(year)|number_format }} %</td>
                        <td>{{ results.getFiveToEleven(year) }}</td>
                        <td>{{ results.getFiveToElevenPercent(year)|number_format }} %</td>
                        <td>{{ results.getElevenToTwentyThree(year) }}</td>
                        <td>{{ results.getElevenToTwentyThreePercent(year)|number_format }} %</td>
                        <td>{{ results.getTwentyThreeToFiftyNine(year) }}</td>
                        <td>{{ results.getTwentyThreeToFiftyNinePercent(year)|number_format }} %</td>
                        <td>{{ results.getUnknown(year) }}</td>
                        <td>{{ results.getUnknownPercent(year)|number_format }}%</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue">
                <h5>{{'Filters'|trans}}</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form method="POST" action="{{path('reportAnnualAgeDistribution')}}" class="reportFilters">
                        {{form_rest(form)}}
                    </form>                        
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
