{%extends "NSSentinelBundle::layout.html.twig" %}
{% block body %}
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Year</th>
                    <td>0-5</td>
                    <td>6-11</td>
                    <td>12-23</td>
                    <td>24-59</td>
                    <td>Unknown</td>
                </tr>
                </thead>
                {% for year,res in results %}
                <tr>
                    <td>{{ year }}</td>
                    <td>{{ attribute(res,5) }}</td>
                    <td>{{ attribute(res,11) }}</td>
                    <td>{{ attribute(res,23) }}</td>
                    <td>{{ attribute(res,59) }}</td>
                    <td>{{res.unknown}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
    
{% endblock %}
