{%extends "NSSentinelBundle::layout.html.twig" %}
{%block pagetitle %}{{'Field Population'|trans}}{%endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="col-sm-9">
            <div class="widget-box no-border">
                <div class="widget-header widget-header-small header-color-blue">
                    <h5>{{'Results'|trans}}</h5>
                </div>
                <table class="table table-bordered table-striped">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>{{'Region'|trans}}</th>
                            <th>{{'Country'|trans}}</th>
                            <th>{{'Site'|trans}}</th>
                            <th>{{'Intense Support'|trans}}</th>
                            <th>{{'Total # of Cases'|trans}}</th>
                            <th colspan="2">{{'csfCollected'|trans}}</th>
                            <th colspan="2">{{'csfResult'|trans}}</th>
                            <th colspan="2">{{'bloodCollected'|trans}}</th>
                            <th colspan="2">{{'bloodResult'|trans}}</th>
                            <th>{{'bloodEqual'|trans}}</th>
                            <th>{{'csfBinaxResult'|trans}}</th>
                            <th>{{'csfLatRecorded'|trans}}</th>
                            <th>{{'totalCSFspnpcrpositive'|trans}}</th>
                            <th colspan="2">{{'CsfPcr'|trans}}</th>
                            <th colspan="2">{{'SpnResult'|trans}}</th>
                            <th colspan="2">{{'HiResult'|trans}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in sites %}
                        <tr>
                            <td>{{result.site.country.region}}</td>
                            <td>{{result.site.country}}</td>
                            <td>{{result.site.name}}</td>
                            <td>{{result.site.ibdIntenseSupport}}</td>
                            <td>{{result.totalCases}}</td>
                            <td>{{result.csfCollectedCount}}</td><td>{{result.csfCollectedPercent|number_format(1)}} %</td>
                            <td>{{result.csfResultCount}}</td><td>{{result.csfResultPercent|number_format(1)}} %</td>
                            <td>{{result.bloodCollectedCount}}</td><td>{{result.bloodCollectedPercent|number_format(1)}} %</td>
                            <td>{{result.bloodResultCount}}</td><td>{{result.bloodResultPercent|number_format(1)}} %</td>
                            <td>{{result.bloodEqual|number_format(1)}} %</td>
                            <td>{{result.csfBinaxResultPercent|number_format(1)}} %</td>
                            <td>{{result.csfLatResultPercent|number_format(1)}} %</td>
                            <td></td>
                            <td>{{result.csfPcrRecordedCount}}</td>
                            <td>{{result.csfPcrRecordedPercent|number_format(1)}} %</td>

                            <td>{{result.csfSpnRecordedCount}}</td>
                            <td>{{result.csfSpnRecordedPercent|number_format(1)}} %</td>

                            <td>{{result.csfHiRecordedCount}}</td>
                            <td>{{result.csfHiRecordedPercent|number_format(1)}} %</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget-box">
                <div class="widget-header widget-header-small header-color-blue">
                    <h5>{{'Filters'|trans}}</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form method="POST" action="{{path('reportFieldPopulation')}}" class="reportFilters">
                            {{form_rest(form)}}
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-sm-12">
            <div id="chart_div" style="width: 1024px; height: 500px;"></div>
        </div>
    </div>
{% endblock %}

