{%extends "NSSentinelBundle::layout.html.twig" %}

{% block body %}
    <h2>Clients</h2>
    {% for c in clients %}
        {{c.publicId}} - {{c.secret}} {%if not c.hasAccessToken() %}<a class="btn btn-xs btn-info" href="">authorize</a>{%endif%}<br />
    {%endfor %}
    <h2>Remote Systems</h2>
    <table>
    {% for c in remotes %}
        <tr><th>Client Id</th><td>{{c.clientId}}</td></tr>
        <tr><th>Client Secret</th><td>{{c.clientSecret}}</td></tr>
        <tr><th>Token Endpoint</th><td>{{c.tokenEndpoint}}</td></tr>
        <tr><th>Auth Endpoint</th><td>{{c.authEndpoint}}</td></tr>
        <tr><th>Authorization Status</th>
            <td>{%if not c.hasAccessToken() or c.IsExpired() %}<a href="{{oauth_authenticate_path(c)}}">Initiate authorization</a>{%else%}Authorization Complete{%endif%}</td>
        </tr>
    {%endfor %}
    </table>
{% endblock %}