{%extends "::base.html.twig" %}
{%block pagetitle %}{{'Export'|trans}}{%endblock %}

{%block body %}
<div class="row">
    {% for route,values in forms %}
        <div class="col-sm-5">
            <div class="widget-box widget-color-blue">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title">{{values.title|trans}}</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form action="{{ path(route) }}" method="POST">
                            {{ form_errors(values.form) }}
                            <div class="row">
                                <div class="col col-sm-6">
                                    {{ form_row(values.form.adm_date) }}
                                </div>
                                <div class="col col-sm-6">
                                    {{ form_row(values.form.createdAt) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-sm-6">
                                    {{ form_row(values.form.exportFormat) }}
                                    {{ form_row(values.form.pahoFormat) }}
                                </div>
                                <div class="col col-sm-6">
                                    {{ form_row(values.form.areas) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-sm-6">{{ form_row(values.form.country) }}</div>
                                <div class="col col-sm-6">{{ form_row(values.form.site) }}</div>
                            </div>
                            {{ form_rest(values.form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{%endblock%}
