{%extends "::base.html.twig" %}
{%block pagetitle %}{{'Export'|trans}}{%endblock %}

{%block body %}
<div class="row">
    <div class="col-sm-5">
        <div class="widget-box widget-color-blue">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title">{{'IBD Export Filters'|trans}}</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form action="{{path('exportIbd')}}" method="POST" class="reportFilters">
                        {{form_errors(ibdForm)}}
                        <div class="row">
                            <div class="col col-sm-6">
                                {{form_row(ibdForm.adm_date)}}
                            </div>
                            <div class="col col-sm-6">
                                {{form_row(ibdForm.createdAt)}}
                            </div>
                        </div>
                        {{form_rest(ibdForm)}}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="widget-box widget-color-blue">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title">{{'RotaVirus Export Filters'|trans}}</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form action="{{path('exportRota')}}" method="POST" class="reportFilters">
                        {{form_errors(rotaForm)}}
                        <div class="row">
                            <div class="col col-sm-6">
                                {{form_row(rotaForm.adm_date)}}
                            </div>
                            <div class="col col-sm-6">
                                {{form_row(rotaForm.createdAt)}}
                            </div>
                        </div>
                        {{form_rest(rotaForm)}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
