<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
	<meta charset="utf-8" />
        <title>{%block sitetitle %}{%endblock %} {% block pagetitle %}{% endblock %}</title>
<!--	<meta name="description" content="{ {page.description} }" />-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block stylesheets %}
            <!-- basic styles -->
            <link href="{{asset('/bundles/nsace/css/bootstrap.min.css')}}" rel="stylesheet" />

            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/font-awesome.min.css')}}" />
            <!--[if IE 7]>
              <link rel="stylesheet" href="{{asset('/bundles/nsace/css/font-awesome-ie7.min.css')}}" />
            <![endif]-->

            <!-- fonts -->
            <link rel="stylesheet" href="{{app.request.scheme}}://fonts.googleapis.com/css?family=Open+Sans:400,300" />
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/ace-fonts.css')}}" />
 
            <!-- ace styles -->
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/ace.min.css')}}" />
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/ace-rtl.min.css')}}" />
            <!--[if lte IE 8]>
              <link rel="stylesheet" href="{{asset('/bundles/nsace/css/ace-ie.min.css')}}" />
            <![endif]-->

            <!-- page specific plugin styles -->
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/jquery-ui-1.10.3.custom.min.css')}}" />
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/chosen.css')}}" />
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/datepicker.css')}}" />
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/bootstrap-timepicker.css')}}" />
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/daterangepicker.css')}}" />
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/colorpicker.css')}}" />
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/token-input.css')}}" />

            <!-- ace styles -->
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/ace-skins.min.css')}}" />
            <link rel="stylesheet" href="{{asset('/bundles/nsace/css/ns.css')}}" />

            <!--[if lte IE 8]>
              <link rel="stylesheet" href="{{asset('/bundles/nsace/css/ace-ie.min.css')}}" />
            <![endif]-->
            <!-- inline styles related to this page -->
            {% block inlinestyles %}
            {% endblock inlinestyles %}
        {% endblock %}

        <!-- ace settings handler -->
        <script src="{{asset('/bundles/nsace/js/ace-extra.min.js')}}"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
            <script src="{{asset('/bundles/nsace/js/html5shiv.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/respond.min.js')}}"></script>
	<![endif]-->
        {% block javascripts %}

            <!--[if !IE]> -->
            <script src="{{app.request.scheme}}://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <!-- <![endif]-->
            <!--[if IE]>
            <script src="{{app.request.scheme}}://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <![endif]-->

            <!--[if !IE]> -->
            <script type="text/javascript">
             window.jQuery || document.write("<script src='{{asset('/bundles/nsace/js/jquery-2.0.3.min.js')}}'>"+"<"+"/script>");
            </script>
            <!-- <![endif]-->
            <!--[if IE]>
            <script type="text/javascript">
             window.jQuery || document.write("<script src='{{asset('/bundles/nsace/js/jquery-1.10.2.min.js')}}'>"+"<"+"/script>");
            </script>
            <![endif]-->

            <script type="text/javascript">
                    if("ontouchend" in document) document.write("<script src='{{asset('/bundles/nsace/js/jquery.mobile.custom.min.js')}}'>"+"<"+"/script>");
            </script>

            <script src="{{asset('/bundles/nsace/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/typeahead-bs2.min.js')}}"></script>

            <!-- page specific plugin scripts -->

            <!--[if lte IE 8]>
              <script src="{{asset('/bundles/nsace/js/excanvas.min.js')}}"></script>
            <![endif]-->

            <script src="{{asset('/bundles/nsace/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/jquery.ui.touch-punch.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/chosen.jquery.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/fuelux/fuelux.spinner.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/date-time/bootstrap-datepicker.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/date-time/bootstrap-timepicker.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/date-time/moment.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/date-time/daterangepicker.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/bootstrap-colorpicker.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/jquery.knob.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/jquery.autosize.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/jquery.inputlimiter.1.3.1.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/jquery.maskedinput.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/jquery.tokeninput.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/bootstrap-tag.min.js')}}"></script>

            <!-- ace scripts -->

            <script src="{{asset('/bundles/nsace/js/ace-elements.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/ace.min.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/underscore-min.js')}}"></script>
            <script src="{{asset('/bundles/punkavefileuploader/js/jquery.fileupload.js')}}"></script>
            <script src="{{asset('/bundles/punkavefileuploader/js/jquery.iframe-transport.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/nsFileUploader.js')}}"></script>
            <script src="{{asset('/bundles/nsace/js/nsbootstrap.js')}}"></script>
        {% endblock %}
</head>
<body>
    {%block topbar%}
        <div class="navbar navbar-default" id="navbar">
         <script type="text/javascript">
                try{ace.settings.check('navbar' , 'fixed')}catch(e){}
         </script>

          <div class="navbar-container" id="navbar-container">
              {% block sitebrand %}
                <div class="navbar-header pull-left">
                  <a href="#" class="navbar-brand">
                    <small>
                        <i class="{%block sitebrand_icon %}{% endblock %}"></i>
                        {%block sitebrand_text %}site.brand_text{% endblock %}
                    </small>
                  </a><!-- /.brand -->
                </div><!-- /.navbar-header -->
              {% endblock %}
              {%block navbarheader %}{%endblock %}
                {#
                <div class="navbar-header pull-right" role="navigation">
                    {% block topbar_tasks %}<ul class="nav ace-nav"><li>{ {> layout.topbar.tasks} }</li></ul>{%endblock%}
                    {% block topbar_notifications %}<ul class="nav ace-nav"><li>{ {> layout.topbar.notifications} }</li></ul>{%endblock%}
                    {% block topbar_messages %}<ul class="nav ace-nav"><li>{ {> layout.topbar.messages} }</li></ul>{%endblock%}
                    {% block topbar_user_menu%}<ul class="nav ace-nav"><li>{ {> layout.topbar.user_menu} }</li></ul>{%endblock%}
                </div><!-- /.navbar-header -->    
                #}
          </div><!-- /.container -->
        </div>
    {%endblock%}
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>
        <div class="main-container-inner">
             {%block sidenav%}
                <a class="menu-toggler" id="menu-toggler" href="#"><span class="menu-text"></span></a>
                <div class="sidebar" id="sidebar">
                        <script type="text/javascript">
                        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
                        </script>

                        {%block sidenav_shortcuts%}
                            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                                    <button class="btn btn-success"><i class="icon-signal"></i></button>
                                    <button class="btn btn-info"><i class="icon-pencil"></i></button>
                                    <button class="btn btn-warning"><i class="icon-group"></i></button>
                                    <button class="btn btn-danger"><i class="icon-cogs"></i></button>
                                </div>
                                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                                    <span class="btn btn-success"></span>
                                    <span class="btn btn-info"></span>
                                    <span class="btn btn-warning"></span>
                                    <span class="btn btn-danger"></span>
                                </div>
                            </div><!-- #sidebar-shortcuts -->
                        {%endblock%}

                        {%block sidenav_menu%}{%endblock%}

                        <div class="sidebar-collapse" id="sidebar-collapse">
                            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                        </div>

                        <script type="text/javascript">
                        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
                        </script>
                </div>
            {%endblock%}

            <div class="main-content">
                {%block breadcrumbs %}{%endblock%}
                <div class="page-content">
                    {% set _ptitle = block('pagetitle') %}
                    {% set _pdescription = block('pagedescription') %}
                    {% if _ptitle is not empty %}
                        <div class="page-header">
                            <h1>{{ _ptitle|raw }} {%if _pdescription is not empty %}<small><i class="icon-double-angle-right"></i> {{_pdescription|raw}}</small>{%endif%}</h1>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-12">
                            {% block flash %}{% endblock %}
                            {% block body %}{% endblock %}
                        </div><!--/.col-->
                    </div><!--/.row-->

                </div><!--/.page-content-->

            </div><!--/.main-content -->

            {%block ace_settings %}
            <div class="ace-settings-container" id="ace-settings-container">
                <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="icon-cog bigger-150"></i>
                </div>
                <div class="ace-settings-box" id="ace-settings-box">
                    <div>
                        <div class="pull-left">
                            <select id="skin-colorpicker" class="hide">
                                <option data-skin="default" value="#438EB9">#438EB9</option>
                                <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                            </select>
                        </div>
                        <span>&nbsp; Choose Skin</span>
                    </div>
                    <div><input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" /><label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label></div>
                    <div><input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" /><label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label></div>
                    <div><input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" /><label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label></div>
                    <div><input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" /><label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label></div>
                    <div><input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" /><label class="lbl" for="ace-settings-add-container"> Inside <b>.container</b> </label></div>
                </div>
            </div><!--/#ace-settings-container-->
            {%endblock%}
        </div><!--/.main-container-inner-->

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="icon-double-angle-up icon-only bigger-110"></i>
        </a>
    </div><!--/.main-container-->

    {%block footer %}{%endblock footer %}
        

        {% include "PunkAveFileUploaderBundle:Default:templates.html.twig" %}

</body>
</html>