{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'View Case %id%'|trans({'%id%': record.id})}}{%endblock %}

{%block pageactions %}
    <div class="pull-right">{{case_big_actions(record,true)}}</div>
{%endblock %}

{% block inlinestyles %}
    {{ parent() }}
    <style>
        ul.complete {
            list-style: none;
            color: red;
        }
    </style>
{% endblock %}

{% import 'NSSentinelBundle:Case:show-macros.html.twig' as macros %}

{% block body %}
    <div class="col-sm-12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" id="myTab2">
                <li class="active"><a data-toggle="tab" href="#demographics">{{'Case Based Demographics'|trans}}</a></li>
                <li><a data-toggle="tab" href="#vacination">{{'Vaccination History'|trans}}</a></li>
                <li><a data-toggle="tab" href="#clinical">{{'Clinical Data'|trans}}</a></li>
                {% if record.country.getTracksPneumonia %}
                <li><a data-toggle="tab" href="#pneumonia">{{'Pneumonia / Sepsis'|trans}}</a></li>
                {% endif %}
                <li><a data-toggle="tab" href="#collectionData">{{'Specimen Collection Data'|trans}}</a></li>
                {% if is_granted('ROLE_CAN_SEE_LAB') %}
                    <li><a data-toggle="tab" href="#labData">{{'Site Lab'|trans}}</a></li>
                {% endif %}
                <li><a data-toggle="tab" href="#nationalLab">{{'National Lab'|trans}}</a></li>
                <li><a data-toggle="tab" href="#referenceLab">{{'Reference Lab'|trans}}</a></li>
                <li><a data-toggle="tab" href="#outcome">{{'Outcome'|trans}}</a></li>
            </ul>

            <div class="tab-content">
                <div id="demographics" class="tab-pane active">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record, 'site', 'Site') }}
                        {{ macros.case_row(record, 'id', 'ibd-form.id', false) }}
                        {{ macros.case_row(record, 'caseId', 'ibd-form.case-id', false) }}
                        {{ macros.case_row(record, 'birthdate', 'ibd-form.dob', 'F j, Y') }}
                        {{ macros.case_row(record, 'age', 'ibd-form.age') }}
                        {{ macros.case_row(record, 'gender', 'ibd-form.gender') }}
                        {{ macros.case_row(record, 'firstName', 'ibd-form.first-name') }}
                        {{ macros.case_row(record, 'lastName', 'ibd-form.last-name') }}
                        {{ macros.case_row(record, 'parentalName', 'ibd-form.parental-name') }}
                        {{ macros.case_row(record, 'district', 'ibd-form.district') }}
                        {{ macros.case_row(record, 'updatedAt', 'last-updated', 'Y-m-d H:i T') }}
                        {{ macros.case_row(record, 'createdAt', 'creation-date', 'Y-m-d H:i T') }}
                    </table>
                </div>

                <div id="vacination" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record, 'hibReceived', 'ibd-form.hib-received') }}
                        {{ macros.case_row(record, 'hibDoses', 'ibd-form.hib-doses') }}
                        {{ macros.case_row(record, 'hibMostRecentDose', 'ibd-form.hib-most-recent-dose') }}

                        {{ macros.case_row(record, 'pcvReceived', 'ibd-form.pcv-received') }}
                        {{ macros.case_row(record, 'pcvDoses', 'ibd-form.pcv-doses') }}
                        {{ macros.case_row(record, 'pcvType', 'ibd-form.pcv-type') }}
                        {{ macros.case_row(record, 'pcvMostRecentDose', 'ibd-form.pcv-most-recent-dose') }}
                        
                        {{ macros.case_row(record, 'meningReceived', 'ibd-form.mening-received') }}
                        {{ macros.case_row(record, 'meningType', 'ibd-form.men-type') }}
                        {{ macros.case_row(record, 'meningDate', 'ibd-form.meningMostRecentDose') }}
                    </table>
                </div>

                <div id="clinical" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record, 'admDate', 'ibd-form.adm-date') }}
                        {{ macros.case_row(record, 'admDx', 'ibd-form.adm-dx') }}
                        {{ macros.case_row(record, 'admDxOther', 'ibd-form.adm-dx-other') }}
                    </table>
                </div>

                <div id="pneumonia" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record, 'pneuDiffBreathe', 'ibd-form.pneu-diff-breathe') }}
                        {{ macros.case_row(record, 'pneuChestIndraw', 'ibd-form.pneu-chest-indraw') }}
                        {{ macros.case_row(record, 'pneuCough', 'ibd-form.pneu-cough') }}
                        {{ macros.case_row(record, 'pneuCyanosis', 'ibd-form.pneu-cyanosis') }}
                        {{ macros.case_row(record, 'pneuRespRate', 'ibd-form.pneu-resp-rate') }}
                        {{ macros.case_row(record, 'cxrDone', 'ibd-form.cxr-done') }}
                        {{ macros.case_row(record, 'cxrResult', 'ibd-form.cxr-result') }}
                        {{ macros.case_row(record, 'cxrAdditionalResult', 'ibd-form.cxr-additional-result') }}
                    </table>
                </div>

                <div id="collectionData" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>{{'ibd-form.blood-collected'|trans}}</th>
                            <td>{{record.bloodCollected|trans}}</td>
                        </tr>
                    </table>
                </div>
                {% if is_granted('ROLE_CAN_SEE_LAB') %}
                    {% if record.hasSiteLab %}
                        {% set lab = record.siteLab %}
                        <div id="labData" class="tab-pane">
                            <table class="table table-striped table-bordered table-hover">
                                <tr><th colspan="3">{{ 'Blood'|trans }}</th></tr>
                                {{ macros.lab_row(lab,'bloodId','ibd-form.blood-id') }}
                                {{ macros.lab_row(lab,'bloodCultDone','ibd-form.blood-cult-done') }}
                                {{ macros.lab_row(lab,'bloodCultResult','ibd-form.blood-cult-result') }}
                                {{ macros.lab_row(lab,'bloodCultOther','ibd-form.blood-cult-other') }}

                                {{ macros.lab_row(lab,'bloodGramDone','ibd-form.blood-gram-done') }}
                                {{ macros.lab_row(lab,'bloodGramStain','ibd-form.blood-gram-result') }}
                                {{ macros.lab_row(lab,'bloodGramResult','ibd-form.blood-gram-result-organism') }}
                                {{ macros.lab_row(lab,'bloodGramOther','ibd-form.blood-gram-other') }}

                                {{ macros.lab_row(lab,'bloodPcrDone','ibd-form.blood-pcr-done') }}
                                {{ macros.lab_row(lab,'bloodPcrResult','ibd-form.blood-pcr-result') }}
                                {{ macros.lab_row(lab,'bloodPcrOther','ibd-form.blood-pcr-other') }}

                                {{ macros.lab_row(lab,'otherCultDone','ibd-form.other-cult-done1') }}
                                {{ macros.lab_row(lab,'otherCultResult','ibd-form.other-cult-result') }}
                                {{ macros.lab_row(lab,'otherCultOther','ibd-form.other-cult-other') }}

                                {% if is_granted('ROLE_AMR') %}
                                    <tr><th colspan="3">{{ '2nd Blood'|trans }}</th></tr>
                                    {{ macros.lab_row(lab,'bloodSecondId','ibd-form.blood-id') }}
                                    {{ macros.lab_row(lab,'bloodSecondCultDone','ibd-form.blood-cult-done') }}
                                    {{ macros.lab_row(lab,'bloodSecondCultResult','ibd-form.blood-cult-result') }}
                                    {{ macros.lab_row(lab,'bloodSecondCultOther','ibd-form.blood-cult-other') }}

                                    {{ macros.lab_row(lab,'bloodSecondGramDone','ibd-form.blood-gram-done') }}
                                    {{ macros.lab_row(lab,'bloodSecondGramStain','ibd-form.blood-gram-result') }}
                                    {{ macros.lab_row(lab,'bloodSecondGramResult','ibd-form.blood-gram-result-organism') }}
                                    {{ macros.lab_row(lab,'bloodSecondGramOther','ibd-form.blood-gram-other') }}

                                    {{ macros.lab_row(lab,'bloodSecondPcrDone','ibd-form.blood-pcr-done') }}
                                    {{ macros.lab_row(lab,'bloodSecondPcrResult','ibd-form.blood-pcr-result') }}
                                    {{ macros.lab_row(lab,'bloodSecondPcrOther','ibd-form.blood-pcr-other') }}

                                    <tr style="display: none;"><td></td></tr>
                                    <tr><th colspan="3">{{ 'Pleural Fluid'|trans }}</th></tr>
                                    {{ macros.lab_row(lab,'pleuralFluidCultureDone','ibd-form.pleural-fluid-culture-done') }}
                                    {{ macros.lab_row(lab,'pleuralFluidCultureResult','ibd-form.pleural-fluid-culture-result') }}
                                    {{ macros.lab_row(lab,'pleuralFluidCultureOther','ibd-form.pleural-fluid-culture-other') }}

                                    {{ macros.lab_row(lab,'pleuralFluidGramDone','ibd-form.pleural-fluid-gram-done') }}
                                    {{ macros.lab_row(lab,'pleuralFluidGramResult','ibd-form.pleural-fluid-gram-result') }}
                                    {{ macros.lab_row(lab,'pleuralFluidGramResultOrganism','ibd-form.pleural-fluid-gram-result-organism') }}

                                    {{ macros.lab_row(lab,'pleuralFluidPcrDone','ibd-form.pleural-fluid-pcr-done') }}
                                    {{ macros.lab_row(lab,'pleuralFluidPcrResult','ibd-form.pleural-fluid-pcr-result') }}
                                    {{ macros.lab_row(lab,'pleuralFluidPcrOther','ibd-form.pleural-fluid-pcr-other') }}
                                {% endif %}
                                <tr style="display: none;"><td></td></tr>
                                <tr><th colspan="3">{{ 'Other Fluids'|trans }}</th></tr>
                                {{ macros.lab_row(lab,'otherCultDone','ibd-form.other-culture') }}
                                {{ macros.lab_row(lab,'otherCultResult','ibd-form.other-cult-result') }}
                                {{ macros.lab_row(lab,'otherCultOther','ibd-form.other-cult-other') }}
                            </table>
                        </div>
                    {%else%}
                        <div id="labData" class="tab-pane">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>{{'pneumonia.has-site-lab'|trans}}</th>
                                    <td>{{'No'|trans}}</td>
                                </tr>
                            </table>
                        </div>
                    {%endif%}
                {% endif %}
                <div id="nationalLab" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                {% if record.hasNationalLab %}
                    {% set lab = record.nationalLab %}
                    <tr>
                        <th>{{'pneumonia.has-site-national-lab'|trans}}</th>
                        <td>{{'Yes'|trans}}</td>
                    </tr>

                    {{ macros.external_lab_row(lab, 'sampleType', 'ibd.sampleType') }}
                    {{ macros.external_lab_row(lab, 'dateReceived', 'ibd.dateReceived') }}
                    {{ macros.external_lab_row(lab, 'isolateViable', 'ibd.isolateViable') }}
                    {{ macros.external_lab_row(lab, 'isolateType', 'ibd.isolateType') }}
                    {{ macros.external_lab_row(lab, 'pathogenIdentifierMethod', 'ibd.pathogenIdentifierMethod') }}
                    {{ macros.external_lab_row(lab, 'pathogenIdentifierOther', 'ibd.pathogenIdentifierOther') }}

                    {{ macros.external_lab_row(lab, 'serotypeIdentifier', 'ibd.serotypeIdentifier') }}
                    {{ macros.external_lab_row(lab, 'serotypeIdentifierOther', 'ibd.serotypeIdentifierOther') }}

                    {{ macros.external_lab_row(lab, 'lytA', 'ibd.lytA') }}
                    {{ macros.external_lab_row(lab, 'ctrA', 'ibd.ctrA') }}
                    {{ macros.external_lab_row(lab, 'sodC', 'ibd.sodC') }}
                    {{ macros.external_lab_row(lab, 'hpd1', 'ibd.hpd1') }}
                    {{ macros.external_lab_row(lab, 'hpd3', 'ibd.hpd3') }}
                    {{ macros.external_lab_row(lab, 'bexA', 'ibd.bexA') }}
                    {{ macros.external_lab_row(lab, 'rNaseP', 'ibd.rNaseP') }}
                    {{ macros.external_lab_row(lab, 'spnSerotype', 'ibd.spnSerotype') }}
                    {{ macros.external_lab_row(lab, 'hiSerotype', 'ibd.hiSerotype') }}
                    {{ macros.external_lab_row(lab, 'nmSerogroup', 'ibd.nmSerogroup') }}
                    {{ macros.external_lab_row(lab, 'comment', 'ibd.comment', false) }}

                {% else %}
                    <tr>
                        <th>{{'pneumonia.has-site-national-lab'|trans}}</th>
                        <td>{{'No'|trans}}</td>
                    </tr>
                {% endif %}
                    </table>
                </div>

                <div id="referenceLab" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                {% if record.hasReferenceLab %}
                    <tr>
                        <th>{{'pneumonia.has-site-reference-lab'|trans}}</th>
                        <td>{{'Yes'|trans}}</td>
                    </tr>

                    {% set lab = record.referenceLab %}

                    {{ macros.external_lab_row(lab, 'sampleType', 'ibd.sampleType') }}
                    {{ macros.external_lab_row(lab, 'dateReceived', 'ibd.dateReceived') }}
                    {{ macros.external_lab_row(lab, 'isolateViable', 'ibd.isolateViable') }}
                    {{ macros.external_lab_row(lab, 'isolateType', 'ibd.isolateType') }}
                    {{ macros.external_lab_row(lab, 'pathogenIdentifierMethod', 'ibd.pathogenIdentifierMethod') }}
                    {{ macros.external_lab_row(lab, 'pathogenIdentifierOther', 'ibd.pathogenIdentifierOther') }}

                    {{ macros.external_lab_row(lab, 'serotypeIdentifier', 'ibd.serotypeIdentifier') }}
                    {{ macros.external_lab_row(lab, 'serotypeIdentifierOther', 'ibd.serotypeIdentifierOther') }}

                    {{ macros.external_lab_row(lab, 'lytA', 'ibd.lytA') }}
                    {{ macros.external_lab_row(lab, 'ctrA', 'ibd.ctrA') }}
                    {{ macros.external_lab_row(lab, 'sodC', 'ibd.sodC') }}
                    {{ macros.external_lab_row(lab, 'hpd1', 'ibd.hpd1') }}
                    {{ macros.external_lab_row(lab, 'hpd3', 'ibd.hpd3') }}
                    {{ macros.external_lab_row(lab, 'bexA', 'ibd.bexA') }}
                    {{ macros.external_lab_row(lab, 'rNaseP', 'ibd.rNaseP') }}
                    {{ macros.external_lab_row(lab, 'spnSerotype', 'ibd.spnSerotype') }}
                    {{ macros.external_lab_row(lab, 'hiSerotype', 'ibd.hiSerotype') }}
                    {{ macros.external_lab_row(lab, 'nmSerogroup', 'ibd.nmSerogroup') }}
                    {{ macros.external_lab_row(lab, 'comment', 'ibd.comment', false) }}
                {% else %}
                    <tr>
                        <th>{{'pneumonia.has-site-reference-lab'|trans}}</th>
                        <td>{{'No'|trans}}</td>
                    </tr>
                {% endif %}
                    </table>
                </div>

                <div id="outcome" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record, 'dischOutcome', 'ibd-form.discharge-outcome') }}
                        {{ macros.case_row(record, 'dischDx', 'ibd-form.discharge-diagnosis') }}
                        {{ macros.case_row(record, 'dischDxOther', 'ibd-form.discharge-diagnosis-other') }}
                        {{ macros.case_row(record, 'dischClass', 'ibd-form.discharge-class') }}
                        {{ macros.case_row(record, 'comment', 'ibd-form.comment', false) }}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
