{% block form_row %}
{% spaceless %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        {{form_widget(form)}}
    </div>
    {{form_errors(form)}}
</div>
{% endspaceless %}
{% endblock form_row %}

{%block switch_row %}
<div class="form_group">
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}
            {{form_widget(form)}}
            <span class="lbl"></span>
        </label>
    {% endif %}    
</div>
{%endblock %}

{%block slider_row %}
<div id="slider-range" class="ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all" aria-disabled="false" style="height: 200px;">
    <div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 70%;"></div>
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a>
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 87%;">
        <div class="tooltip right in" style="left: 16px; top: -6px; display: none;">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">87</div>
        </div>
    </a>
</div>
{%endblock %}

{% block acedate_label %}
    <label for="form-field-mask-1">
        Date
        <small class="text-success">99/99/9999</small>
    </label>
{% endblock %}

{%block acedate_row %}
<div>
    {{form_label(form)}}
    <div class="input-group">
        <input class="form-control input-mask-date" type="text" id="form-field-mask-1" />
        <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">
                <i class="icon-calendar bigger-110"></i>Go!
            </button>
        </span>
    </div>
</div>
{%endblock %}

{%block acedatepicker_row %}
{{form_label(form)}}
<div class="row">
    <div class="col-xs-8 col-sm-11">
        <div class="input-group">
            <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            <span class="input-group-addon">
                <i class="icon-calendar bigger-110"></i>
            </span>
        </div>
    </div>
</div>
<div class="datepicker datepicker-dropdown dropdown-menu" style="display: none; top: 2062px; left: 223px; z-index: 10;"><div class="datepicker-days" style="display: block;"><table class=" table-condensed"><thead><tr><th class="prev" style="visibility: visible;"><i class="icon-arrow-left"></i></th><th colspan="5" class="switch">December 2013</th><th class="next" style="visibility: visible;"><i class="icon-arrow-right"></i></th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td class="day old">24</td><td class="day old">25</td><td class="day old">26</td><td class="day old">27</td><td class="day old">28</td><td class="day old">29</td><td class="day old">30</td></tr><tr><td class="day">1</td><td class="day">2</td><td class="day">3</td><td class="day">4</td><td class="day">5</td><td class="day">6</td><td class="day">7</td></tr><tr><td class="day">8</td><td class="day">9</td><td class="day">10</td><td class="day">11</td><td class="day">12</td><td class="day">13</td><td class="day">14</td></tr><tr><td class="day">15</td><td class="day">16</td><td class="day">17</td><td class="day">18</td><td class="day">19</td><td class="day">20</td><td class="day">21</td></tr><tr><td class="day">22</td><td class="day active">23</td><td class="day">24</td><td class="day">25</td><td class="day">26</td><td class="day">27</td><td class="day">28</td></tr><tr><td class="day">29</td><td class="day">30</td><td class="day">31</td><td class="day new">1</td><td class="day new">2</td><td class="day new">3</td><td class="day new">4</td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr></tfoot></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" style="visibility: visible;"><i class="icon-arrow-left"></i></th><th colspan="5" class="switch">2013</th><th class="next" style="visibility: visible;"><i class="icon-arrow-right"></i></th></tr></thead><tbody><tr><td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month">Mar</span><span class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month active">Dec</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr></tfoot></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" style="visibility: visible;"><i class="icon-arrow-left"></i></th><th colspan="5" class="switch">2010-2019</th><th class="next" style="visibility: visible;"><i class="icon-arrow-right"></i></th></tr></thead><tbody><tr><td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year active">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year">2017</span><span class="year">2018</span><span class="year">2019</span><span class="year old">2020</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr></tfoot></table></div></div>
{%endblock %}

{% block file_label %}
<label class="file-label" data-title="Choose"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <span class="file-name" data-title="{{ label|trans({}, translation_domain) }}">
        <i class="icon-upload-alt"></i>
    </span>
</label>
{% endblock %}

{% block file_row %}
<div class="ace-file-input">
    {{block('form_widget_simple')}}
    {{form_label(form)}}
    <a class="remove" href="#"><i class="icon-remove"></i></a>
</div>
{% endblock %}