{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'Edit Lab For Case %id%'|trans({'%id%': form.vars.value.case.caseId})}}
{% endblock %}

{%block pageactions %}
<div class="pull-right">{{case_big_actions(form.vars.value.case,true)}}</div>
{%endblock %}

{% block body %}
{{form_errors(form)}}
<form method="POST" action="{{path('ibdLabEdit',{'id':id})}}" novalidate>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                <li class="active"><a data-toggle="tab" href="#csf">{{'CSF'|trans}}</a></li>
                <li><a data-toggle="tab" href="#blood">{{'Blood'|trans}}</a></li>
                <li><a data-toggle="tab" href="#other">{{'Other Fluids'|trans}}</a></li>
                <li><a data-toggle="tab" href="#lab">{{'NL/RRL Lab Information'|trans}}</a></li>
                <li><a data-toggle="tab" href="#sero">{{'Serotype Results'|trans}}</a></li>
            </ul>

            <div class="tab-content">
                <div id="csf" class="tab-pane active">
                    <h4 class="header smaller lighter">{{'Site'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfSiteDateTime)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfSiteId)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfSiteDNAExtractionDate)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfSiteDNAVolume)}}
                        </div>
                    </div>

                    {% if form.csfSentToNL is defined or form.csfIsolateSentToNL is defined %}
                    <h4 class="header smaller lighter">{{'NL'|trans}}</h4>
                    {% endif %}
                    {% if form.csfSentToNL is defined %}
                        <div class="row">
                            <div class="col-sm-3">
                                {{form_row(form.csfSentToNL)}}
                            </div>
                            <div class="col-sm-3">
                                {{form_row(form.csfDateSentToNL)}}
                            </div>
                            <div class="col-sm-3">
                                {{form_row(form.csfIsolateSentToNL)}}
                            </div>
                            <div class="col-sm-3">
                                {{form_row(form.csfIsolateDateSentToNL)}}
                            </div>
                        </div>
                    {%endif%}

                    {% if form.csfSentToRRL is defined or form.csfIsolateSentToRRL is defined %}
                        <h4 class="header smaller lighter">{{'RRL'|trans}}</h4>
                    {% endif %}
                    {% if form.csfSentToRRL is defined %}
                        <div class="row">
                            <div class="col-sm-3">
                                {{form_row(form.csfSentToRRL)}}
                            </div>
                            <div class="col-sm-3">
                                {{form_row(form.csfDateSentToRRL)}}
                            </div>
                            <div class="col-sm-3">
                                {{form_row(form.csfIsolateSentToRRL)}}
                            </div>
                            <div class="col-sm-3">
                                {{form_row(form.csfIsolateDateSentToRRL)}}
                            </div>
                        </div>
                    {%endif%}
                    <h4 class="header smaller lighter">{{'Results'|trans}}</h4>
                    
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfWcc)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfGlucose)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfProtein)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfGramDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfGramResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfGramResultOrganism)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfGramOther)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfBinaxDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfBinaxResult)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfLatDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfLatResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfLatOther)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfCultDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfCultResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfCultOther)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfPcrDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfPcrResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfPcrOther)}}
                        </div>
                    </div>
                    <h4 class="header smaller lighter">{{'Sample Storage'|trans}}</h4>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfStore)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfIsolStore)}}
                        </div>
                    </div>
                </div>

                <div id="blood" class="tab-pane">
                    <h4 class="header smaller lighter">{{'Site'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodSiteDate)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodSiteId)}}
                        </div>
                    </div>

                    {% if form.bloodSentToNL is defined %}
                    <h4 class="header smaller lighter">{{'NL'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                        {{form_row(form.bloodSentToNL)}}
                        </div>
                        <div class="col-sm-3">
                        {{form_row(form.bloodDateSentToNL)}}
                        </div>
                        <div class="col-sm-3">
                        {{form_row(form.bloodIsolateSentToNL)}}
                        </div>
                        <div class="col-sm-3">
                        {{form_row(form.bloodIsolateDateSentToNL)}}
                        </div>
                    </div>
                    {%endif %}

                    {% if form.bloodSentToRRL is defined %}
                    <h4 class="header smaller lighter">{{'RRL'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodSentToRRL)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodDateSentToRRL)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodIsolateSentToRRL)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodIsolateDateSentToRRL)}}
                        </div>
                    </div>
                    {%endif %}

                    <h4 class="header smaller lighter">{{'Blood Culture'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodCultDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodCultResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodCultOther)}}
                        </div>
                    </div>

                    <h4 class="header smaller lighter">{{'Gram Stain'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodGramDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodGramResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodGramResultOrganism)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodGramOther)}}
                        </div>
                    </div>

                    <h4 class="header smaller lighter">{{'PCR Result'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodPcrDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodPcrResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodPcrOther)}}
                        </div>
                    </div>
                </div>

                <div id="sero" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-4">
                            {{form_row(form.pathogenIdentifierMethod)}}
                            {{form_row(form.pathogenIdentifierOther)}}
                            {{form_row(form.serotypeIdentifier)}}
                            {{form_row(form.serotypeIdentifierOther)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.lytA)}}
                            {{form_row(form.sodC)}}
                            {{form_row(form.hpd)}}
                            {{form_row(form.rNaseP)}}                            
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.spnSerotype)}}
                            {{form_row(form.spnSerotypeOther)}}
                            {{form_row(form.hiSerotype)}}
                            {{form_row(form.hiSerotypeOther)}}
                            {{form_row(form.nmSerogroup)}}
                            {{form_row(form.nmSerogroupOther)}}
                        </div>
                    </div>
                </div>

                <div id="other" class="tab-pane">
                    <h4 class="header smaller lighter">{{'Site'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-4">
                        {{form_row(form.otherSiteId)}}
                        </div>
                        <div class="col-sm-4">
                        {{form_row(form.otherSiteDate)}}
                        </div>
                    </div>
                    {% if form.otherSentToNL is defined %}
                        <h4 class="header smaller lighter">{{'NL'|trans}}</h4>
                        <div class="row">
                            <div class="col-sm-3">
                                {{form_row(form.otherSentToNL)}}
                            </div>
                            <div class="col-sm-3">
                                {{form_row(form.otherDateSentToNL)}}
                            </div>
                        </div>
                    {%endif %}

                    {% if form.otherSentToRRL is defined %}
                        <h4 class="header smaller lighter" >{{'RRL'|trans}}</h4>
                        <div class="row">
                            <div class="col-sm-3">
                                {{form_row(form.otherSentToRRL)}}
                            </div>
                            <div class="col-sm-3">
                                {{form_row(form.otherDateSentToRRL)}}
                            </div>
                        </div>
                    {%endif %}

                    <h4 class="header smaller lighter">{{'Results'|trans}}</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form_row(form.otherCultDone)}}
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.otherCultResult)}}                    
                        </div>
                        <div class="col-sm-4">
                            {{form_row(form.otherCultOther)}}
                        </div>
                    </div>
                </div>

                <div id="lab" class="tab-pane">
                    <h4 class="header smaller lighter">{{'NL - CSF'|trans}}</h4>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfNLDateReceived)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfNLId)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfNLDNAExtractionDate)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfNLDNAVolume)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form_row(form.csfIsolateNLDateReceived)}}
                        </div>
                    </div>

                    <h4 class="header smaller lighter">{{'NL - Blood'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodNLDateReceived)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodNLId)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodIsolateNLDateReceived)}}
                        </div>
                    </div>

                    <h4 class="header smaller lighter">{{'NL - Other'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.otherNLId)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.otherNLDateReceived)}}
                        </div>
                    </div>

                    <h4 class="header smaller lighter">{{'RRL - CSF'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfRRLDateReceived)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfRRLId)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfRRLDNAExtractionDate)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfRRLDNAVolume)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form_row(form.csfIsolateRRLDateReceived)}}
                        </div>
                    </div>
                    <h4 class="header smaller lighter">{{'RRL - Blood'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodRRLDateReceived)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodRRLId)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodIsolateRRLDateReceived)}}
                        </div>
                    </div>
                    <h4 class="header smaller lighter">{{'RRL - Other'|trans}}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.otherRRLId)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.otherRRLDateReceived)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions center">
            <a href="{{path('ibdIndex')}}" class="btn btn-sm btn-danger">{{'Cancel'|trans}}</a> <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
        </div>
    </div>
</div>
{{form_rest(form)}}

</form>
{% endblock %}
