{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'Edit Lab For Case %id%'|trans({'%id%': form.vars.value.caseFile.caseId})}}
{% endblock %}

{%block pageactions %}
<div class="pull-right">{{case_big_actions(form.vars.value.caseFile,true)}}</div>
{%endblock %}

{% block body %}
{{form_errors(form)}}
<form method="POST" action="{{path('ibdLabEdit',{'id':id})}}" novalidate>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                <li class="active"><a data-toggle="tab" href="#collection">{{'Collection Info'|trans}}</a></li>
                <li><a data-toggle="tab" href="#csf">{{'CSF'|trans}}</a></li>
                <li><a data-toggle="tab" href="#blood">{{'Blood'|trans}}</a></li>
                <li><a data-toggle="tab" href="#other">{{'Other Fluids'|trans}}</a></li>
                <li><a data-toggle="tab" href="#sero">{{'Serotype Results'|trans}}</a></li>
            </ul>

            <div class="tab-content">

                <div id="collection" class="tab-pane active">
                    {{form_row(form.csfDateTime)}}
                    {% if form.sentToReferenceLab is defined %}
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.sentToReferenceLab) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.csfSentToRRLDate) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.csfIsolSentToRRLDate) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.bloodIsolSentToRRLDate) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.brothSentToRRLDate) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.sentToNationalLab is defined %}
                        {{form_row(form.sentToNationalLab )}}
                    {% endif %}
                </div>

                <div id="csf" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfId)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfWcc)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfGlucose)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfProtein)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfGramDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfGramResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfGramResultOrganism)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfGramOther)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfBinaxDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfBinaxResult)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfLatDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfLatResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfLatOther)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfCultDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfCultResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfCultOther)}}
                            {{form_row(form.csfCultContaminant)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfPcrDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfPcrResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.csfPcrOther)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.csfStore)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.isolStore)}}
                        </div>
                    </div>
                </div>

                <div id="blood" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodId)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodCultDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodCultResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodCultOther)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodGramDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodGramResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodGramResultOrganism)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodGramOther)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            {{form_row(form.bloodPcrDone)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodPcrResult)}}
                        </div>
                        <div class="col-sm-3">
                            {{form_row(form.bloodPcrOther)}}
                        </div>
                    </div>
                </div>

                <div id="sero" class="tab-pane">
                    {{form_row(form.spnSerotype)}}
                    {{form_row(form.spnSerotypeOther)}}
                    {{form_row(form.hiSerotype)}}
                    {{form_row(form.hiSerotypeOther)}}
                    {{form_row(form.nmSerogroup)}}
                    {{form_row(form.nmSerogroupOther)}}
                </div>

                <div id="other" class="tab-pane">
                    <div class="row">
                        <div class="col-md-4">
                            {{form_row(form.otherCultDone)}}
                        </div>
                        <div class="col-md-4">
                            {{form_row(form.otherCultResult)}}
                        </div>
                        <div class="col-md-4">
                            {{form_row(form.otherCultOther)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{form_row(form.otherTestDone)}}
                        </div>
                        <div class="col-md-4">
                            {{form_row(form.otherTestResult)}}
                        </div>
                        <div class="col-md-4">
                            {{form_row(form.otherTestOther)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions center">
            <a href="{{path('ibdIndex')}}" class="btn btn-sm btn-danger">{{'Cancel'|trans}}</a> <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}} <i class="fa fa-arrow-right fa fa-on-right bigger-110"></i></button>
        </div>
    </div>
</div>
{{form_rest(form)}}

</form>
{% endblock %}
