{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'View Case %id%'|trans({'%id%': record.id})}}{%endblock %}

{%block pageactions %}
    <div class="pull-right">{{case_big_actions(record,true)}}</div>
{%endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" id="myTab2">
                <li class="active"><a data-toggle="tab" href="#demographics">{{'Case Based Demographics'|trans}}</a></li>
                <li><a data-toggle="tab" href="#vacination">{{'Vaccination History'|trans}}</a></li>
                <li><a data-toggle="tab" href="#clinical">{{'Clinical Data'|trans}}</a></li>
                <li><a data-toggle="tab" href="#meningitis">{{'Meningitis'|trans}}</a></li>
                {% if record.country.getTracksPneumonia %}
                <li><a data-toggle="tab" href="#pneumonia">{{'Pneumonia / Sepsis'|trans}}</a></li>
                {% endif %}
                <li><a data-toggle="tab" href="#collectionData">{{'Specimen Collection Data'|trans}}</a></li>
                {% if is_granted('ROLE_CAN_SEE_LAB') %}
                    {% if record.hasSiteLab %}
                    <li><a data-toggle="tab" href="#labData-CSF">{{'Lab CSF'|trans}}</a></li>
                    <li><a data-toggle="tab" href="#labData-Blood">{{'Lab Blood'|trans}}</a></li>
                    <li><a data-toggle="tab" href="#labData-Other">{{'Lab Other Fluid'|trans}}</a></li>
                    <li><a data-toggle="tab" href="#labData-Serotype">{{'Lab Serotype'|trans}}</a></li>
                    {%else%}
                    <li><a data-toggle="tab" href="#labData">{{'Lab'|trans}}</a></li>
                    {% endif %}
                {% endif %}
                <li><a data-toggle="tab" href="#nationalLab">{{'National Lab'|trans}}</a></li>
                <li><a data-toggle="tab" href="#referenceLab">{{'Reference Lab'|trans}}</a></li>
            </ul>

            <div class="tab-content">
                <div id="demographics" class="tab-pane active">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>{{'ibd-form.id'|trans}}</th>
                            <td>{{record.id}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.case-id'|trans}}</th>
                            <td>{{record.caseId}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.dob'|trans}}</th>
                            <td>{%if record.dob %}{{record.dob|date}}{%endif%}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.age'|trans}}</th>
                            <td>{{record.age}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.gender'|trans}}</th>
                            <td>{{record.gender}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.first-name'|trans}}</th>
                            <td>{{record.firstName}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.last-name'|trans}}</th>
                            <td>{{record.lastName}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.parental-name'|trans}}</th>
                            <td>{{record.parentalName}}</td>
                        </tr>
                        <tr>
                            <th>{{'rotavirus-form.district'|trans}}</th>
                            <td>{{record.district}}</td>
                        </tr>
                    </table>
                </div>

                <div id="vacination" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>{{'ibd-form.hib-received'|trans}}</th>
                            <td>{{record.hibReceived}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.hib-doses'|trans}}</th>
                            <td>{{record.hibDoses}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.pcv-received'|trans}}</th>
                            <td>{{record.pcvReceived}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.pcv-doses'|trans}}</th>
                            <td>{{record.pcvDoses}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.mening-received'|trans}}</th>
                            <td>{{record.meningReceived}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.men-type'|trans}}</th>
                            <td>{{record.meningType}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.meningMostRecentDose'|trans}}</th>
                            <td>{{record.meningMostRecentDose}}</td>
                        </tr>
                    </table>
                </div>

                <div id="clinical" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>{{'ibd-form.adm-date'|trans}}</th>
                            <td>{%if record.admDate %}{{record.admDate|date}}{%endif%}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.adm-dx'|trans}}</th>
                            <td>{{record.admDx}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.adm-dx-other'|trans}}</th>
                            <td>{{record.admDxOther}}</td>
                        </tr>
                    </table>
                </div>

                <div id="meningitis" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>{{'ibd-form.men-seizures'|trans}}</th>
                            <td>{{record.menSeizures}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.men-fever'|trans}}</th>
                            <td>{{record.menFever}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.men-alt-conscious'|trans}}</th>
                            <td>{{record.menAltConscious}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.men-inability-feed'|trans}}</th>
                            <td>{{record.menInabilityFeed}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.men-neck-stiff'|trans}}</th>
                            <td>{{record.menNeckStiff}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.men-rash'|trans}}</th>
                            <td>{{record.menRash}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.men-fontanelle-bulge'|trans}}</th>
                            <td>{{record.menFontanelleBulge}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.men-lethargy'|trans}}</th>
                            <td>{{record.menLethargy}}</td>
                        </tr>
                    </table>
                </div>

                <div id="pneumonia" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>{{'ibd-form.pneu-diff-breathe'|trans}}</th>
                            <td>{{record.pneuDiffBreathe}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.pneu-chest-indraw'|trans}}</th>
                            <td>{{record.pneuChestIndraw}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.pneu-cough'|trans}}</th>
                            <td>{{record.pneuCough}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.pneu-cyanosis'|trans}}</th>
                            <td>{{record.pneuCyanosis}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.pneu-resp-rate'|trans}}</th>
                            <td>{{record.pneuRespRate}}</td>
                        </tr>
                        <tr><th>{{'ibd-form.cxr-done'|trans}}</th><td>{{record.cxrDone}}</td></tr>
                        <tr><th>{{'ibd-form.cxr-result'|trans}}</th><td>{{record.cxrResult}}</td></tr>
                        <tr><th>{{'ibd-form.cxr-additional-result'|trans}}</th><td>{{record.cxrAdditionalResult}}</td></tr>
                    </table>
                </div>

                <div id="collectionData" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>{{'ibd-form.csf-collected'|trans}}</th>
                            <td>{{record.csfCollected}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.csf-collect-datetime'|trans}}</th>
                            <td>{%if record.csfCollectDateTime %}{{record.csfCollectDateTime|date}}{%endif%}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.csf-appearance'|trans}}</th>
                            <td>{{record.csfAppearance}}</td>
                        </tr>
                        <tr>
                            <th>{{'ibd-form.blood-collected'|trans}}</th>
                            <td>{{record.bloodCollected}}</td>
                        </tr>
                    </table>
                </div>

                {% if record.hasSiteLab %}
                    <div id="labData-CSF" class="tab-pane">
                        <table class="table table-striped table-bordered table-hover">
                            <tr><th>{{'ibd-form.csfSiteId'|trans}}</th><td>{{record.siteLab.csfId}}</td></tr>
                            <tr><th>{{'ibd-form.csfDateTime'|trans}}</th><td>{%if record.siteLab.csfDateTime %}{{record.siteLab.csfDateTime|date}}{%endif%}</td></tr>
                            <tr><th>{{'ibd-form.csf-wcc'|trans}}</th><td>{{record.siteLab.csfWcc}}</td></tr>
                            <tr><th>{{'ibd-form.csf-glucose'|trans}}</th><td>{{record.siteLab.csfGlucose}}</td></tr>
                            <tr><th>{{'ibd-form.csf-protein'|trans}}</th><td>{{record.siteLab.csfProtein}}</td></tr>
                            <tr><th>{{'ibd-form.csf-cult-done'|trans}}</th><td>{{record.siteLab.csfCultDone}}</td></tr>
                            <tr><th>{{'ibd-form.csf-gram-done'|trans}}</th><td>{{record.siteLab.csfGramDone}}</td></tr>
                            <tr><th>{{'ibd-form.csf-binax-done'|trans}}</th><td>{{record.siteLab.csfBinaxDone}}</td></tr>
                            <tr><th>{{'ibd-form.csf-lat-done'|trans}}</th><td>{{record.siteLab.csfLatDone}}</td></tr>
                            <tr><th>{{'ibd-form.csf-pcr-done'|trans}}</th><td>{{record.siteLab.csfPcrDone}}</td></tr>
                            <tr><th>{{'ibd-form.csf-culture-other'|trans}}</th><td>{{record.siteLab.csfCultOther}}</td></tr>
                            <tr><th>{{'ibd-form.csf-store'|trans}}</th><td>{{record.siteLab.csfStore}}</td></tr>
                            <tr><th>{{'ibd-form.isol-store'|trans}}</th><td>{{record.siteLab.isolStore}}</td></tr>
                        </table>
                    </div>

                    <div id="labData-Blood" class="tab-pane">
                        <table class="table table-striped table-bordered table-hover">
                            <tr><th>{{'ibd-form.blood-cult-done'|trans}}</th><td>{{record.siteLab.bloodCultDone}}</td></tr>
                            <tr><th>{{'ibd-form.blood-gram-done'|trans}}</th><td>{{record.siteLab.bloodGramDone}}</td></tr>
                            <tr><th>{{'ibd-form.blood-pcr-done'|trans}}</th><td>{{record.siteLab.bloodPcrDone}}</td></tr>
                            <tr><th>{{'ibd-form.blood-cult-other'|trans}}</th><td>{{record.siteLab.bloodCultOther}}</td></tr>
                            <tr><th>{{'ibd-form.blood-gram-result'|trans}}</th><td>{{record.siteLab.bloodGramResult}}</td></tr>
                            <tr><th>{{'ibd-form.blood-pcr-result'|trans}}</th><td>{{record.siteLab.bloodPcrResult}}</td></tr>
                        </table>
                    </div>

                    <div id="labData-Other" class="tab-pane">
                        <table class="table table-striped table-bordered table-hover">
                            <tr><th>{{'ibd-form.other-culture'|trans}}</th><td>{{record.siteLab.otherCultDone}}</td></tr>
                            <tr><th>{{'ibd-form.other-cult-result'|trans}}</th><td>{{record.siteLab.otherCultResult}}</td></tr>
                            <tr><th>{{'ibd-form.other-cult-other'|trans}}</th><td>{{record.siteLab.otherCultOther}}</td></tr>
                        </table>
                    </div>

                    <div id="labData-Serotype" class="tab-pane">
                        <table class="table table-striped table-bordered table-hover">
                            <tr><th>{{'ibd-rrl-form.spnSerotype'|trans}}</th><td>{{record.siteLab.spnSerotype}}</td></tr>
                            <tr><th>{{'ibd-rrl-form.spnSerotype-other'|trans}}</th><td>{{record.siteLab.spnSerotypeOther}}</td></tr>
                            <tr><th>{{'ibd-form.hi-serotype'|trans}}</th><td>{{record.siteLab.hiSerotype}}</td></tr>
                            <tr><th>{{'ibd-rrl-form.hiSerotype-other'|trans}}</th><td>{{record.siteLab.hiSerotypeOther}}</td></tr>
                            <tr><th>{{'ibd-form.nm-serogroup'|trans}}</th><td>{{record.siteLab.nmSerogroup}}</td></tr>
                            <tr><th>{{'ibd-rrl-form.nmSerogroup-other'|trans}}</th><td>{{record.siteLab.nmSerogroupOther}}</td></tr>
                        </table>
                    </div>
                {%else%}
                    <div id="labData" class="tab-pane">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <th>{{'meningitis.has-site-lab'|trans}}</th>
                                <td>{{'No'|trans}}</td>
                            </tr>
                        </table>
                    </div>
                {%endif%}

                <div id="nationalLab" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                {% if record.hasNationalLab %}
                        <tr>
                            <th>{{'meningitis.has-site-national-lab'|trans}}</th>
                            <td>{{'Yes'|trans}}</td>
                        </tr>
                        <tr><th>{{'ibd.sampleType'|trans}}</th><td>{{record.nationalLab.sampleType}}</td></tr>
                        <tr><th>{{'ibd.dateReceived'|trans}}</th><td>{%if record.nationalLab.dateReceived %}{{record.nationalLab.dateReceived| date('Y-m-d')}}{% endif %}</td></tr>
                        <tr><th>{{'ibd.isolateViable'|trans}}</th><td>{{record.nationalLab.isolateViable}}</td></tr>
                        <tr><th>{{'ibd.isolateType'|trans}}</th><td>{{record.nationalLab.isolateType}}</td></tr>
                        <tr><th>{{'ibd.pathogenIdentifierMethod'|trans}}</th><td>{{record.nationalLab.pathogenIdentifierMethod}}</td></tr>
                        <tr><th>{{'ibd.pathogenIdentifierOther'|trans}}</th><td>{{record.nationalLab.pathogenIdentifierOther}}</td></tr>
                        <tr><th>{{'ibd.serotypeIdentifier'|trans}}</th><td>{{record.nationalLab.serotypeIdentifier}}</td></tr>
                        <tr><th>{{'ibd.serotypeIdentifierOther'|trans}}</th><td>{{record.nationalLab.serotypeIdentifierOther}}</td></tr>
                        <tr><th>{{'ibd.lytA'|trans}}</th><td>{{record.nationalLab.lytA}}</td></tr>
                        <tr><th>{{'ibd.ctrA'|trans}}</th><td>{{record.nationalLab.ctrA}}</td></tr>
                        <tr><th>{{'ibd.sodC'|trans}}</th><td>{{record.nationalLab.sodC}}</td></tr>
                        <tr><th>{{'ibd.hpd1'|trans}}</th><td>{{record.nationalLab.hpd1}}</td></tr>
                        <tr><th>{{'ibd.hpd3'|trans}}</th><td>{{record.nationalLab.hpd3}}</td></tr>
                        <tr><th>{{'ibd.bexA'|trans}}</th><td>{{record.nationalLab.bexA}}</td></tr>
                        <tr><th>{{'ibd.rNaseP'|trans}}</th><td>{{record.nationalLab.rNaseP}}</td></tr>
                        <tr><th>{{'ibd.spnSerotype'|trans}}</th><td>{{record.nationalLab.spnSerotype}}</td></tr>
                        <tr><th>{{'ibd.hiSerotype'|trans}}</th><td>{{record.nationalLab.hiSerotype}}</td></tr>
                        <tr><th>{{'ibd.nmSerogroup'|trans}}</th><td>{{record.nationalLab.nmSerogroup}}</td></tr>
                {% else %}
                        <tr>
                            <th>{{'meningitis.has-site-national-lab'|trans}}</th>
                            <td>{{'No'|trans}}</td>
                        </tr>
                {% endif %}
                    </table>
                </div>

                <div id="referenceLab" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                {% if record.hasReferenceLab %}
                        <tr>
                            <th>{{'meningitis.has-site-national-lab'|trans}}</th>
                            <td>{{'Yes'|trans}}</td>
                        </tr>
                        <tr><th>{{'ibd.sampleType'|trans}}</th><td>{{record.referenceLab.sampleType}}</td></tr>
                        <tr><th>{{'ibd.dateReceived'|trans}}</th><td>{%if record.referenceLab.dateReceived %}{{record.referenceLab.dateReceived| date('Y-m-d')}}{% endif %}</td></tr>
                        <tr><th>{{'ibd.isolateViable'|trans}}</th><td>{{record.referenceLab.isolateViable}}</td></tr>
                        <tr><th>{{'ibd.isolateType'|trans}}</th><td>{{record.referenceLab.isolateType}}</td></tr>
                        <tr><th>{{'ibd.pathogenIdentifierMethod'|trans}}</th><td>{{record.referenceLab.pathogenIdentifierMethod}}</td></tr>
                        <tr><th>{{'ibd.pathogenIdentifierOther'|trans}}</th><td>{{record.referenceLab.pathogenIdentifierOther}}</td></tr>
                        <tr><th>{{'ibd.serotypeIdentifier'|trans}}</th><td>{{record.referenceLab.serotypeIdentifier}}</td></tr>
                        <tr><th>{{'ibd.serotypeIdentifierOther'|trans}}</th><td>{{record.referenceLab.serotypeIdentifierOther}}</td></tr>
                        <tr><th>{{'ibd.lytA'|trans}}</th><td>{{record.referenceLab.lytA}}</td></tr>
                        <tr><th>{{'ibd.ctrA'|trans}}</th><td>{{record.referenceLab.ctrA}}</td></tr>
                        <tr><th>{{'ibd.sodC'|trans}}</th><td>{{record.referenceLab.sodC}}</td></tr>
                        <tr><th>{{'ibd.hpd1'|trans}}</th><td>{{record.referenceLab.hpd1}}</td></tr>
                        <tr><th>{{'ibd.hpd3'|trans}}</th><td>{{record.referenceLab.hpd3}}</td></tr>
                        <tr><th>{{'ibd.bexA'|trans}}</th><td>{{record.referenceLab.bexA}}</td></tr>
                        <tr><th>{{'ibd.rNaseP'|trans}}</th><td>{{record.referenceLab.rNaseP}}</td></tr>
                        <tr><th>{{'ibd.spnSerotype'|trans}}</th><td>{{record.referenceLab.spnSerotype}}</td></tr>
                        <tr><th>{{'ibd.hiSerotype'|trans}}</th><td>{{record.referenceLab.hiSerotype}}</td></tr>
                        <tr><th>{{'ibd.nmSerogroup'|trans}}</th><td>{{record.referenceLab.nmSerogroup}}</td></tr>
                {% else %}
                        <tr>
                            <th>{{'meningitis.has-site-reference-lab'|trans}}</th>
                            <td>{{'No'|trans}}</td>
                        </tr>
                {% endif %}
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
