{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'Edit %type% For Case %id%'|trans({'%id%': form.vars.value.case.caseId,'%type%': type})}}
{% endblock %}

{%block pageactions %}
<div class="pull-right">{{case_big_actions(form.vars.value.case)}}</div>
{%endblock %}

{% block body %}
{{form_errors(form)}}
<form method="POST" action="{{path('meningitis'~type~'Edit',{'id':id})}}" novalidate>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                <li class="active"><a data-toggle="tab" href="#labinfo">{{'Lab Information'|trans}}</a></li>
                <li><a data-toggle="tab" href="#sample">{{'Sample Information'|trans}}</a></li>
                <li><a data-toggle="tab" href="#methods">{{'Methods'|trans}}</a></li>
                <li><a data-toggle="tab" href="#ctvalues">{{'CT Values From PCR'|trans}}</a></li>
                <li><a data-toggle="tab" href="#serotype">{{'Serotype / Serogroup Results'|trans}}</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="labinfo" class="tab-pane active">
                {{form_row(form.labId)}}
            </div>
            <div id="sample" class="tab-pane">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        {{form_row(form.dateReceived)}}
                        {{form_row(form.sampleType)}}
                        {{form_row(form.volume)}}
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        {{form_row(form.DNAExtractionDate)}}
                        {{form_row(form.DNAVolume)}}
                        {{form_row(form.isolateViable)}}
                        {{form_row(form.isolateType)}}                    
                    </div>
                </div>
            </div>
        </div>

        <div class="tabbable">
            <ul id="dynamicFormTabs" class="nav nav-tabs padding-12 tab-color-blue background-blue">
            </ul>
        </div>
        <div class="samples tab-content" data-prototype="{{ form_widget(form.samples.vars.prototype)|e }}">
        </div>
                    
        <div class="form-actions center">
            <a href="{{path('meningitisIndex')}}" class="btn btn-sm btn-danger">{{'Cancel'|trans}}</a> <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
        </div>
    </div>
    {{form_rest(form)}}
</div>
<div class="row" id="row1">
</div>
<div class="row" id="row2">
</div>

</form>
<script type="text/javascript">
    var dynamicTab = false;
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Add Sample</a>');

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('div.samples');
        $collectionTabs   = $('#dynamicFormTabs');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($addTagLink);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addSampleForm($collectionHolder);
        });
    });

    function addSampleForm($collectionHolder) 
    {
        var field = $('input[name="ibd_nationallab[sampleType][]"]');
        
        field.each(function(index)
        {
            var f = this;
            if(f.checked)
            {
                var v = $(f).val().replace(/\s+/g, '');
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormTab = $('<div class="tab-pane" id="tab_'+v+'"></div>').append('<h3>'+$(f).val()+'</h3>').append(newForm);
                var $newTab = $('<li><a data-toggle="tab" href="#tab_'+v+'">'+$(f).val()+'</a></li>');
                console.log($newFormTab);
                $newFormTab.find('input[type=hidden]').val($(f).val());
                $collectionHolder.append($newFormTab);
                $collectionTabs.append($newTab);
                
                if(!dynamicTab)
                {
                    $newFormTab.addClass('active');
                    $newTab.addClass('active');
                    dynamicTab = true;
                }
            }
        });
    }
</script>
{% endblock %}
