{%extends "NSSentinelBundle::layout.html.twig" %}

{% block body %}
<form method="POST" action="{{path('meningitisEdit',{'id':id})}}">
<div class="layoutSection">
{{form_errors(form)}}
    <div class="column span1" >
        <div class="panel dataPanel">
            <h3 class="panelTitle">Case Based Demographics</h3>
            <div class="panelContent">
                {{form_row(form.dob)}}
                {{form_row(form.gender)}}
            </div>
        </div>
    </div>

    <div class="column span2" >
        <div class="panel dataPanel">
            <h3 class="panelTitle">Vaccination History</h3>
            <div class="panelContent">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            {{form_row(form.hibReceived)}}
                            {{form_row(form.hibDoses)}}
                            {{form_row(form.pcvReceived)}}
                            {{form_row(form.pcvDoses)}}
                        </td>
                        <td>
                            {{form_row(form.meningReceived)}}
                            {{form_row(form.meningDoses)}}
                            {{form_row(form.dtpReceived)}}
                            {{form_row(form.dtpDoses)}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="column span1">
        <div class="panel dataPanel">
            <h3 class="panelTitle">Clinical Data</h3>
            <div class="panelContent">
                {{form_row(form.admDate)}}
                {{form_row(form.admDx)}}
                {{form_row(form.admDxOther)}}
            </div>
        </div>
    </div>
</div>
<div class="layoutSection">
    <div class="column span2">
        <div class="panel dataPanel">
            <h3 class="panelTitle">Meningigtis</h3>
            <div class="panelContent">
                <table style="width: 100%;">
                    <tr>
                        <td>
                {{form_row(form.menSeizures)}}
                {{form_row(form.menFever)}}
                {{form_row(form.menAltConscious)}}
                {{form_row(form.menInabilityFeed)}}
                {{form_row(form.menStridor)}}
                {{form_row(form.menNeckStiff)}}
                        </td><td>
                {{form_row(form.menRash)}}
                {{form_row(form.menFontanelleBulge)}}
                {{form_row(form.menLethargy)}}
                {{form_row(form.menPoorSucking)}}
                {{form_row(form.menIrritability)}}
                {{form_row(form.menSymptomOther)}}
                                </td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="column span2">
        <div class="panel dataPanel">
            <h3 class="panelTitle">Pneumonia / Sepsis</h3>
            <div class="panelContent">
            {{form_row(form.pneuDiffBreathe)}}
            {{form_row(form.pneuChestIndraw)}}
            {{form_row(form.pneuCough)}}
            {{form_row(form.pneuCyanosis)}}
            {{form_row(form.pneuRespRate)}}
            {{form_row(form.pneuSymptomOther)}}
            </div>
        </div>
    </div>
</div>
<div class="layoutSection">
    <div class="column span1">
        <div class="panel dataPanel">
            <h3 class="panelTitle">Specimen Collection Data</h3>
            <div class="panelContent">
            {{form_row(form.csfCollected)}}
            {{form_row(form.csfCollectDateTime)}}
            {{form_row(form.csfAppearance)}}
            {{form_row(form.csfLabDateTime)}}
            {{form_row(form.bloodCollected)}}
            </div>
        </div>
    </div>
    <div class="column span3">
        <div class="panel dataPanel">
            <h3 class="panelTitle">Lab Data</h3>
            <div class="panelContent">
                <table style="width: 100%;">
                    <tr>
                        <td style="vertical-align: top;">
                            {{form_row(form.csfWcc)}}
                            {{form_row(form.csfGlucose)}}
                            {{form_row(form.csfProtein)}}
                            {{form_row(form.csfCultDone)}}
                            {{form_row(form.csfGramDone)}}
                            {{form_row(form.csfBinaxDone)}}
                            {{form_row(form.csfLatDone)}}
                            {{form_row(form.csfPcrDone)}}
                        </td>
                        <td style="vertical-align: top;">
                            {{form_row(form.bloodCultDone)}}
                            {{form_row(form.bloodGramDone)}}
                            {{form_row(form.bloodPcrDone)}}
                            {{form_row(form.otherCultDone)}}
                            {{form_row(form.otherTestDone)}}
                            {{form_row(form.csfCultOther)}}
                        </td>
                        <td style="vertical-align: top;">
                            {{form_row(form.rrlCsfDate)}}
                            {{form_row(form.rrlIsolDate)}}
                            {{form_row(form.rrlName)}}
                            {{form_row(form.spnSerotype)}}
                            {{form_row(form.hiSerotype)}}
                            {{form_row(form.nmSerogroup)}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="layoutSection">
    <div class="column span4">
        <div class="panel dataPanel">
            <h3 class="panelTitle">Outcoume Data</h3>
            <div class="panelContent">
                {{form_rest(form)}}
                <div class="formRow">
                    <button type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
