{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'View Case %id%'|trans({'%id%': id})}}
{% endblock %}

{% block body %}
<form method="POST" action="{{path('meningitisLabEdit',{'id':id})}}" novalidate>
<div class="row">
    {{form_errors(form)}}
    {{form_rest(form)}}
</div>

<div class="form-actions center">
    <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
</div>

</form>
{% endblock %}
