{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'Create / Edit Lab For Case %id%'|trans({'%id%': id})}}
{% endblock %}

{% block body %}
<form method="POST" action="{{path('meningitisLabEdit',{'id':id})}}" novalidate>
    {{form_errors(form)}}
<div class="row">
    <div class="col-sm-8">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                <li class="active"><a data-toggle="tab" href="#demographics">{{'Collection Info'|trans}}</a></li>
                <li><a data-toggle="tab" href="#csf">{{'CSF'|trans}}</a></li>
                <li><a data-toggle="tab" href="#blood">{{'Blood'|trans}}</a></li>
                <li><a data-toggle="tab" href="#other">{{'Other Fluids'|trans}}</a></li>
                <li><a data-toggle="tab" href="#sero">{{'Serotype Results'|trans}}</a></li>
            </ul>

            <div class="tab-content">

                <div id="demographics" class="tab-pane active">
                    {{form_row(form.csfLabDateTime)}}
                </div>

                <div id="csf" class="tab-pane">
                    {{form_row(form.csfWcc)}}
                    {{form_row(form.csfGlucose)}}
                    {{form_row(form.csfProtein)}}

                    {{form_row(form.csfCultDone)}}
                    {{form_row(form.csfCultResult)}}
                    {{form_row(form.csfCultOther)}}

                    {{form_row(form.csfGramDone)}}
                    {{form_row(form.csfGramResult)}}
                    {{form_row(form.csfGramResultOrganism)}}
                    {{form_row(form.csfGramOther)}}

                    {{form_row(form.csfBinaxDone)}}
                    {{form_row(form.csfBinaxResult)}}

                    {{form_row(form.csfLatDone)}}
                    {{form_row(form.csfLatResult)}}
                    {{form_row(form.csfLatOther)}}

                    {{form_row(form.csfPcrDone)}}
                    {{form_row(form.csfPcrResult)}}
                    {{form_row(form.csfPcrOther)}}

                    {{form_row(form.rrlCsfDate)}}
                    {{form_row(form.rrlIsolDate)}}
                    {{form_row(form.csfStore)}}
                    {{form_row(form.isolStore)}}
                </div>

                <div id="blood" class="tab-pane">
                    {{form_row(form.bloodCultDone)}}
                    {{form_row(form.bloodCultResult)}}
                    {{form_row(form.bloodCultOther)}}

                    {{form_row(form.bloodGramDone)}}
                    {{form_row(form.bloodGramResult)}}
                    {{form_row(form.bloodGramResultOrganism)}}
                    {{form_row(form.bloodGramOther)}}

                    {{form_row(form.bloodPcrDone)}}
                    {{form_row(form.bloodPcrResult)}}
                    {{form_row(form.bloodPcrOther)}}

                    {{form_row(form.rrlBrothDate)}}
                    {{form_row(form.rrlIsolBloodDate)}}
                </div>

                <div id="sero" class="tab-pane">
                    {{form_row(form.spnSerotype)}}
                    {{form_row(form.hiSerotype)}}
                    {{form_row(form.nmSerogroup)}}
                    {{form_row(form.cxrDone)}}
                    {{form_row(form.cxrResult)}}
                </div>

                <div id="other" class="tab-pane">
                    {{form_row(form.otherCultDone)}}
                    {{form_row(form.otherCultResult)}}                    
                    {{form_row(form.otherCultOther)}}

                    {{form_row(form.otherTestDone)}}
                    {{form_row(form.otherTestResult)}}
                    {{form_row(form.otherTest)}}
                    {{form_row(form.otherTestOther)}}
                </div>
            </div>
        </div>
    </div>
</div>
{{form_rest(form)}}
<div class="form-actions center">
    <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
</div>
</form>
{% endblock %}
