{%extends "NSSentinelBundle::layout.html.twig" %}

{% block pagetitle %}
{{'View Case %id%'|trans({'%id%': id})}}
{% endblock %}

{% block body %}
<form method="POST" action="{{path('meningitisRRLEdit',{'id':id})}}" novalidate>

<div class="row">
    {{form_errors(form)}}
    <div class="col-sm-4" >
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h4 class="panelTitle">{{'Sample Information'|trans}}</h4></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_row(form.dateReceived)}}
                    {{form_row(form.sampleType)}}
                    {{form_row(form.volume)}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" >
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h4 class="panelTitle">{{'Sample Information'|trans}}</h4></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_row(form.DNAExtractionDate)}}
                    {{form_row(form.DNAVolume)}}
                    {{form_row(form.isolateViable)}}
                    {{form_row(form.isolateType)}}
                    {{form_row(form.pathogenIdentifierMethod)}}
                    {{form_row(form.pathogenIdentierOther)}}
                    {{form_row(form.serotypeIdentifier)}}
                    {{form_row(form.serotypeIdentifierOther)}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-blue"><h4 class="panelTitle">{{'Lab Results'|trans}}</h4></div>
            <div class="widget-body">
                <div class="widget-main">
                    {{form_rest(form)}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-actions center">
    <button type="submit" class="btn btn-sm btn-success">{{'Save'|trans}}<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
</div>

</form>
{% endblock %}
