{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'Recent Cases'|trans}}{%endblock %}
{% block pagedescription %}{{'Lists the last 10 meningitis cases'|trans}}{%endblock %}
{% block body %}
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">{{'Latest Meningitis Cases'|trans}}</div>
        <div class="table-responsive">
            <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
                <div class="row">
                    <div class="col-sm-3">
                        <div id="sample-table-2_length" class="dataTables_length">
                            <label>Display 
                                    <select size="1" name="sample-table-2_length" aria-controls="sample-table-2">
                                    <option value="10" selected="selected">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    </select> records
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dataTables_filter" id="sample-table-2_filter">
                            <label>Search: <input type="text" aria-controls="sample-table-2"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dataTables_filter" id="sample-table-2_filter">
                            <form method="POST" action="{{path('meningitisSearch')}}">
                                {{form_widget(form.caseId)}}
                                <button class="filter" type="submit">{{'Find'|trans}}</button>
                                {{form_rest(form)}}
                            </form>
                        </div>
                    </div>
                </div>
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{'Case ID'|trans}}</th>
                        <th>{{'Gender'|trans}}</th>
                        <th>{{'Age In Months'|trans}}</th>
                        <th class="hidden-480">{{'Status'|trans}}</th>
                        <th>{{'Actions'|trans}}</th>
                    </tr>
                </thead>
									
                <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.caseId }}</td>
                        <td>{{ row.gender }}</td>
                        <td>{{ row.ageInMonths }}</td>
                        <td class='hidden-480'>
                            <span class="label label-sm label-success icon icon-ok"> {{'EPI'|trans}} </span>
                            <span class="label label-sm label-{{ row.hasSiteLab ? 'success icon icon-ok':'danger icon icon-exclamation-sign'}}"> {{'LAB'|trans}} </span>
                            <span class="label label-sm label-{{ row.hasReferenceLab ? 'success icon icon-ok':'danger icon icon-exclamation-sign'}}"> {{'RRL'|trans}} </span>
                        </td>
                        <td>{% include t.template %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if t.canCreate %}
                <div class="align-right">
                    <a href="{{path('meningitisCreate')}}" class="btn btn-sm btn-default">{{'Create'}}<i class="icon-plus-sign icon-on-right bigger-110"></i></a>
                </div>
            {% endif %}
            </div>
        </div><!--/.table-responsive-->
    </div><!--/span-->
</div><!--/row-->


<div class="layoutSection">
    <div class="column span1">
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Report'|trans}}</h3>
            <div class="panelContent">
                {{ render_hinclude(controller('NSSentinelBundle:Report:generalStats')) }}
                {{ render_hinclude(controller('NSSentinelBundle:Report:byDiagnosisGraph')) }}

                {% if is_granted('ROLE_COUNTRY') %}
                    {{ render_hinclude(controller('NSSentinelBundle:Report:bySiteGraph')) }}
                {% endif %}

                {% if is_granted('ROLE_REGION') %}
                    {{ render_hinclude(controller('NSSentinelBundle:Report:byCountryGraph')) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
 {% endblock %}
