{%extends "NSSentinelBundle::layout.html.twig" %}

{% block body %}
<div class="layoutSection">
    <div class="column span3">
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Latest Meningitis Cases'|trans}}</h3>
            <div class="filters open">
                <div class="filterCol">
                    <input type="search" />
                    <button type="reset">{{'Reset'|trans}}</button>
                    <button class="filter" type="submit">{{'Filter'|trans}}</button>
                    {% if is_granted('ROLE_SITE') %}
                </div>
                <div class="filterCol">
                    <a href="{{path('meningitisCreate')}}" class="button">Create</a>
                    {% endif %}
                </div>
            </div>
            
            <div class="panelContent">
                <table class="dataTable highlightRow zebra">
                    <colgroup span="3"></colgroup>
                    <colgroup span="3"></colgroup>
                    <colgroup span="1"></colgroup>

                    <tbody>
                    <tr class="odd">
                        <th>{{'Case ID'|trans}}</th>
                        <th>{{'Gender'|trans}}</th>
                        <th>{{'Age In Months'|trans}}</th>
                        <th>{{'EPI'|trans}}</th>
                        <th>{{'LAB'|trans}}</th>
                        <th>{{'RRL'|trans}}</th>
                        <th>{{'Actions'|trans}}</th>
                    </tr>

                    {% for row in rows %}
                        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                            <td class="highlight alignLeft">{{ row.caseId }}</td>
                            <td>{{ row.gender }}</td>
                            <td>{{ row.ageInMonths }}</td>
                            <td>{{cycle(['<img src="/bundles/nssentinel/images/remove_16x16.png" />','<img src="/bundles/nssentinel/images/check_mark_16x16.png" />'], loop.index)|raw}}</td>
                            <td>{{cycle(['<img src="/bundles/nssentinel/images/delete_16x16.png" />','<img src="/bundles/nssentinel/images/check_mark_16x16.png" />'], loop.index)|raw}}</td>
                            <td>{{cycle(['<img src="/bundles/nssentinel/images/remove_16x16.png" />','<img src="/bundles/nssentinel/images/delete_16x16.png" />'], loop.index)|raw}}</td>
                            <td><a href="{{path('meningitisEdit',{'id':row.id})}}">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                    <div class="formRow alignRight">
                    </div>
            </div>
        </div>
    </div>
    <div class="column span1">
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Report'|trans}}</h3>
            <div class="panelContent">
                {{ render_hinclude(controller('NSSentinelBundle:Report:generalStats')) }}

                {% if is_granted('ROLE_REGION') %}
                    {{ render_hinclude(controller('NSSentinelBundle:Report:byCountryGraph')) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
 {% endblock %}