{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'View Case %id%'|trans({'%id%': record.id})}}{%endblock %}

{% block body %}
<div class="col-sm-12">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" id="myTab2">
            <li class="active"><a data-toggle="tab" href="#demographics">{{'Case Based Demographics'|trans}}</a></li>
            <li><a data-toggle="tab" href="#vacination">{{'Vaccination History'|trans}}</a></li>
            <li><a data-toggle="tab" href="#clinical">{{'Clinical Data'|trans}}</a></li>
            <li><a data-toggle="tab" href="#meningitis">{{'Meningitis'|trans}}</a></li>
            <li><a data-toggle="tab" href="#pneumonia">{{'Pneumonia / Sepsis'|trans}}</a></li>
            <li><a data-toggle="tab" href="#collectionData">{{'Specimen Collection Data'|trans}}</a></li>
            <li><a data-toggle="tab" href="#labData">{{'Site Lab'|trans}}</a></li>
            <li><a data-toggle="tab" href="#rrlData">{{'RRL'|trans}}</a></li>
        </ul>

        <div class="tab-content">
            <div id="demographics" class="tab-pane active">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.id'|trans}}</th>
                        <td>{{record.id}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.dob'|trans}}</th>
                        <td>{{record.dob|date}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.gender'|trans}}</th>
                        <td>{{record.gender}}</td>
                    </tr>
                </table>
            </div>

            <div id="vacination" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.hib-received'|trans}}</th>
                        <td>{{record.hibReceived}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.hib-doses'|trans}}</th>
                        <td>{{record.hibDoses}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pcv-received'|trans}}</th>
                        <td>{{record.pcvReceived}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pcv-doses'|trans}}</th>
                        <td>{{record.pcvDoses}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.mening-received'|trans}}</th>
                        <td>{{record.meningReceived}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-type'|trans}}</th>
                        <td>{{record.meningType}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.meningMostRecentDose'|trans}}</th>
                        <td>{{record.meningMostRecentDose}}</td>
                    </tr>
                </table>
            </div>

            <div id="clinical" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.adm-date'|trans}}</th>
                        <td>{{record.admDate|date}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.adm-dx'|trans}}</th>
                        <td>{{record.admDx}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.adm-dx-other'|trans}}</th>
                        <td>{{record.admDxOther}}</td>
                    </tr>
                </table>
            </div>

            <div id="meningitis" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.men-seizures'|trans}}</th>
                        <td>{{record.menSeizures}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-fever'|trans}}</th>
                        <td>{{record.menFever}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-alt-conscious'|trans}}</th>
                        <td>{{record.menAltConscious}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-inability-feed'|trans}}</th>
                        <td>{{record.menInabilityFeed}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-neck-stiff'|trans}}</th>
                        <td>{{record.menNeckStiff}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-rash'|trans}}</th>
                        <td>{{record.menRash}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-fontanelle-bulge'|trans}}</th>
                        <td>{{record.menFontanelleBulge}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-lethargy'|trans}}</th>
                        <td>{{record.menLethargy}}</td>
                    </tr>
                </table>
            </div>

            <div id="pneumonia" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.pneu-diff-breathe'|trans}}</th>
                        <td>{{record.pneuDiffBreathe}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pneu-chest-indraw'|trans}}</th>
                        <td>{{record.pneuChestIndraw}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pneu-cough'|trans}}</th>
                        <td>{{record.pneuCough}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pneu-cyanosis'|trans}}</th>
                        <td>{{record.pneuCyanosis}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pneu-respRate'|trans}}</th>
                        <td>{{record.pneuRespRate}}</td>
                    </tr>
                </table>
            </div>
            
            <div id="collectionData" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.csf-collected'|trans}}</th>
                        <td>{{record.csfCollected}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.csf-collect-datetime'|trans}}</th>
                        <td>{{record.csfCollectDateTime|date}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.csf-appearance'|trans}}</th>
                        <td>{{record.csfAppearance}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.blood-collected'|trans}}</th>
                        <td>{{record.bloodCollected}}</td>
                    </tr>
                </table>
            </div>
            <div id="labData" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    {% if record.hasSiteLab %}
                    <tr>
                        <th>{{'meningitis.site-lab-status'|trans}}</th>
                        <td>{{'Yes'|trans}}</td>
                    </tr>
                    <tr><th>{{'meningitis-form.csf-lab-datetime'|trans}}</th><td>{{record.siteLab.csfLabDateTime}}</td></tr>
                    <tr><th>{{'meningitis-form.csf-wcc'|trans}}</th><td>{{record.siteLab.csfWcc}}</td></tr>
                    <tr><th>{{'meningitis-form.csf-glucose'|trans}}</th><td>{{record.siteLab.csfGlucose}}</td></tr>
                    <tr><th>{{'meningitis-form.csf-protein'|trans}}</th><td>{{record.siteLab.csfProtein}}</td></tr>
                    <tr><th>{{'meningitis-form.csf-cult-done'|trans}}</th><td>{{record.siteLab.csfCultDone}}</td></tr>
                    <tr><th>{{'meningitis-form.csf-gram-done'|trans}}</th><td>{{record.siteLab.csfGramDone}}</td></tr>
                    <tr><th>{{'meningitis-form.csf-binax-done'|trans}}</th><td>{{record.siteLab.csfBinaxDone}}</td></tr>
                    <tr><th>{{'meningitis-form.csf-lat-done'|trans}}</th><td>{{record.siteLab.csfLatDone}}</td></tr>
                    <tr><th>{{'meningitis-form.csf-pcr-done'|trans}}</th><td>{{record.siteLab.csfPcrDone}}</td></tr>
                    <tr><th>{{'meningitis-form.blood-cult-done'|trans}}</th><td>{{record.siteLab.bloodCultDone}}</td></tr>
                    <tr><th>{{'meningitis-form.blood-gram-done'|trans}}</th><td>{{record.siteLab.bloodGramDone}}</td></tr>
                    <tr><th>{{'meningitis-form.blood-pcr-done'|trans}}</th><td>{{record.siteLab.bloodPcrDone}}</td></tr>
                    <tr><th>{{'meningitis-form.other-culture'|trans}}</th><td>{{record.siteLab.otherCultDone}}</td></tr>
                    <tr><th>{{'meningitis-form.other-tests'|trans}}</th><td>{{record.siteLab.otherTestDone}}</td></tr>
                    <tr><th>{{'meningitis-form.csf-culture-other'|trans}}</th><td>{{record.siteLab.csfCultOther}}</td></tr>
                    <tr><th>{{'meningitis-form.blood-cult-other'|trans}}</th><td>{{record.siteLab.bloodCultOther}}</td></tr>
                    <tr><th>{{'meningitis-form.blood-gram-result'|trans}}</th><td>{{record.siteLab.bloodGramResult}}</td></tr>
                    <tr><th>{{'meningitis-form.blood-pcr-result'|trans}}</th><td>{{record.siteLab.bloodPcrResult}}</td></tr>
                    <tr><th>{{'meningitis-form.other-cult-result'|trans}}</th><td>{{record.siteLab.otherCultResult}}</td></tr>
                    <tr><th>{{'meningitis-form.other-cult-other'|trans}}</th><td>{{record.siteLab.otherCultOther}}</td></tr>
                    <tr><th>{{'meningitis-form.other-test-result'|trans}}</th><td>{{record.siteLab.otherTestResult}}</td></tr>
                    <tr><th>{{'meningitis-form.other-test-other'|trans}}</th><td>{{record.siteLab.otherTestOther}}</td></tr>
                    <tr><th>{{'meningitis-form.rrl-csf-date'|trans}}</th><td>{{record.siteLab.rrlCsfDate}}</td></tr>
                    <tr><th>{{'meningitis-form.rrl-isol-date'|trans}}</th><td>{{record.siteLab.rrlIsolDate}}</td></tr>
                    <tr><th>{{'meningitis-form.csf-store'|trans}}</th><td>{{record.siteLab.csfStore}}</td></tr>
                    <tr><th>{{'meningitis-form.isol-store'|trans}}</th><td>{{record.siteLab.isolStore}}</td></tr>
                    <tr><th>{{'meningitis-form.spn-serotype'|trans}}</th><td>{{record.siteLab.spnSerotype}}</td></tr>
                    <tr><th>{{'meningitis-form.hi-serotype'|trans}}</th><td>{{record.siteLab.hiSerotype}}</td></tr>
                    <tr><th>{{'meningitis-form.nm-serogroup'|trans}}</th><td>{{record.siteLab.nmSerogroup}}</td></tr>
                    <tr><th>{{'meningitis-form.cxr-done'|trans}}</th><td>{{record.siteLab.cxrDone}}</td></tr>
                    <tr><th>{{'meningitis-form.cxr-result'|trans}}</th><td>{{record.siteLab.cxrResult}}</td></tr>
                    {% else %}
                    <tr>
                        <th>{{'meningitis.has-site-lab'|trans}}</th>
                        <td>{{'No'|trans}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <div id="rrlData" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    {% if record.hasReferenceLab %}
                    <tr><th>{{'meningitis-rrl-form.sample-type'|trans}}</th>
                        <td>{{record.referenceLab.sampleType}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.date-received'|trans}}</th>
                        <td>{{record.referenceLab.dateReceived}}</td></tr> 
                
                    <tr><th>{{'meningitis-rrl-form.volume'|trans}}</th>
                        <td>{{record.referenceLab.volume}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.dna-extraction-date'|trans}}</th>
                        <td>{{record.referenceLab.DNAExtractionDate}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.dna-volume'|trans}}</th>
                        <td>{{record.referenceLab.DNAVolume}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.isolate-viable'|trans}}</th>
                        <td>{{record.referenceLab.isolateViable}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.isolate-type'|trans}}</th>
                        <td>{{record.referenceLab.isolateType}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.pathogen-id-method'|trans}}</th>
                        <td>{{record.referenceLab.pathogenIdentifierMethod}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.pathogen-id-other'|trans}}</th>
                        <td>{{record.referenceLab.pathogenIdentierOther}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.serotype-id-method'|trans}}</th>
                        <td>{{record.referenceLab.serotypeIdentifier}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.serotype-id-other'|trans}}</th>
                        <td>{{record.referenceLab.serotypeIdentifierOther}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.lytA'|trans}}</th>
                        <td>{{record.referenceLab.lytA}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.sodC'|trans}}</th>
                        <td>{{record.referenceLab.sodC}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.hpd'|trans}}</th>
                        <td>{{record.referenceLab.hpd}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.rNasP'|trans}}</th>
                        <td>{{record.referenceLab.rNaseP}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.spnSerotype'|trans}}</th>
                        <td>{{record.referenceLab.spnSerotype}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.hiSerotype'|trans}}</th>
                        <td>{{record.referenceLab.hiSerotype}}</td></tr>
                    <tr><th>{{'meningitis-rrl-form.nmSerogroup'|trans}}</th>
                        <td>{{record.referenceLab.nmSerogroup}}</td></tr>
                    {% else %}
                    <tr>
                        <th>{{'meningitis.has-reference-lab'|trans}}</th>
                        <td>{{'No'|trans}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
