{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'View Case %case.id%'|trans({'%case.id%': record.caseId})}}{%endblock %}

{% block body %}
<div class="col-sm-12">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" id="myTab2">
            <li class="active"><a data-toggle="tab" href="#demographics">{{'Case Based Demographics'|trans}}</a></li>
            <li><a data-toggle="tab" href="#vacination">{{'Vaccination History'|trans}}</a></li>
            <li><a data-toggle="tab" href="#clinical">{{'Clinical Data'|trans}}</a></li>
            <li><a data-toggle="tab" href="#meningitis">{{'Meningitis'|trans}}</a></li>
            <li><a data-toggle="tab" href="#pneumonia">{{'Pneumonia / Sepsis'|trans}}</a></li>
            <li><a data-toggle="tab" href="#collectionData">{{'Specimen Collection Data'|trans}}</a></li>
        </ul>

        <div class="tab-content">
            <div id="demographics" class="tab-pane active">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.caseId'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.caseId}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.dob'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.dob|date}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.gender'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.gender}}</div>
                    </div>
                </div>
            </div>

            <div id="vacination" class="tab-pane">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.hib-received'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.hibReceived}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.hib-doses'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.hibDoses}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.pcv-received'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.pcvReceived}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.pcv-doses'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.pcvDoses}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.mening-received'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.meningReceived}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.mening-doses'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.meningDoses}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.dtp-received'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.dtpReceived}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.dtp-doses'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.dtpDoses}}</div>
                    </div>
                </div>
            </div>

            <div id="clinical" class="tab-pane">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.adm-date'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.admDate|date}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.adm-dx'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.admDx}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.adm-dx-other'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.admDxOther}}</div>
                    </div>
                </div>
            </div>

            <div id="meningitis" class="tab-pane">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-seizures'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menSeizures}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-fever'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menFever}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-alt-conscious'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menAltConscious}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-inability-feed'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menInabilityFeed}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-stridor'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menStridor}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-neck-stiff'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menNeckStiff}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-rash'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menRash}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-fontanelle-bulge'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menFontanelleBulge}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-lethargy'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menLethargy}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-poor-sucking'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menPoorSucking}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-irritability'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menIrritability}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.men-symptom-other'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.menSymptomOther}}</div>
                    </div>
                </div>
            </div>

            <div id="pneumonia" class="tab-pane">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.pneu-diff-breathe'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.pneuDiffBreathe}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.pneu-chest-indraw'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.pneuChestIndraw}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.pneu-cough'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.pneuCough}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.pneu-cyanosis'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.pneuCyanosis}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.pneu-respRate'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.pneuRespRate}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.pneu-symptom-other'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.pneuSymptomOther}}</div>
                    </div>
                </div>
            </div>
            
            <div id="collectionData" class="tab-pane">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.csf-collected'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.csfCollected}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.csf-collect-datetime'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.csfCollectDateTime|date}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.csf-appearance'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.csfAppearance}}</div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">{{'meningitis-form.blood-collected'|trans}}</div>
                        <div class="profile-info-value">&nbsp;{{record.bloodCollected}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
