{% extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'View Case %id%'|trans({'%id%': record.id})}}{%endblock %}

{% block pageactions %}
    <div class="pull-right">{{case_big_actions(record,true)}}</div>
{% endblock %}

{% block inlinestyles %}
    {{ parent() }}
    <style>
        ul.complete {
            list-style: none;
            color: red;
        }
    </style>
{% endblock %}

{% import 'NSSentinelBundle:Case:show-macros.html.twig' as macros %}

{% block body %}
    <div class="col-sm-12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" id="myTab2">
                <li class="active"><a data-toggle="tab" href="#demographics">{{'Case Based Demographics'|trans}}</a></li>
                <li><a data-toggle="tab" href="#vacination">{{'Vaccination History'|trans}}</a></li>
                <li><a data-toggle="tab" href="#clinical">{{'Clinical Data'|trans}}</a></li>
                <li><a data-toggle="tab" href="#meningitis">{{'Meningitis'|trans}}</a></li>
                <li><a data-toggle="tab" href="#collectionData">{{'Specimen Collection Data'|trans}}</a></li>
                {% if is_granted('ROLE_CAN_SEE_LAB') %}
                    <li><a data-toggle="tab" href="#labData">{{'Site Lab'|trans}}</a></li>
                {% endif %}
                <li><a data-toggle="tab" href="#nationalLab">{{'National Lab'|trans}}</a></li>
                <li><a data-toggle="tab" href="#referenceLab">{{'Reference Lab'|trans}}</a></li>
                <li><a data-toggle="tab" href="#outcome">{{'Outcome'|trans}}</a></li>
            </ul>

            <div class="tab-content">
                <div id="demographics" class="tab-pane active">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record,'id', 'ibd-form.id', false) }}
                        {{ macros.case_row(record,'caseId', 'ibd-form.case-id', false) }}
                        {{ macros.case_row(record,'birthdate', 'ibd-form.dob', 'F j, Y') }}
                        {{ macros.case_row(record,'age', 'ibd-form.age') }}
                        {{ macros.case_row(record,'gender', 'ibd-form.gender') }}
                        {{ macros.case_row(record,'firstName', 'ibd-form.first-name') }}
                        {{ macros.case_row(record,'lastName', 'ibd-form.last-name') }}
                        {{ macros.case_row(record,'parentalName', 'ibd-form.parental-name') }}
                        {{ macros.case_row(record,'district', 'ibd-form.district') }}
                    </table>
                </div>

                <div id="vacination" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record, 'hibReceived', 'ibd-form.hib-received') }}
                        {{ macros.case_row(record, 'hibDoses', 'ibd-form.hib-doses') }}
                        {{ macros.case_row(record, 'hibMostRecentDose', 'ibd-form.hib-most-recent-dose') }}

                        {{ macros.case_row(record, 'pcvReceived', 'ibd-form.pcv-received') }}
                        {{ macros.case_row(record, 'pcvDoses', 'ibd-form.pcv-doses') }}
                        {{ macros.case_row(record, 'pcvType', 'ibd-form.pcv-type') }}
                        {{ macros.case_row(record, 'pcvMostRecentDose', 'ibd-form.pcv-most-recent-dose') }}

                        {{ macros.case_row(record, 'meningReceived', 'ibd-form.mening-received') }}
                        {{ macros.case_row(record, 'meningType', 'ibd-form.men-type') }}
                        {{ macros.case_row(record, 'meningDate', 'ibd-form.meningMostRecentDose') }}
                    </table>
                </div>

                <div id="clinical" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record, 'admDate', 'ibd-form.adm-date') }}
                        {{ macros.case_row(record, 'admDx', 'ibd-form.adm-dx') }}
                        {{ macros.case_row(record, 'admDxOther', 'ibd-form.adm-dx-other') }}
                    </table>
                </div>

                <div id="meningitis" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record, 'menSeizures', 'ibd-form.men-seizures') }}
                        {{ macros.case_row(record, 'menFever', 'ibd-form.men-fever') }}
                        {{ macros.case_row(record, 'menAltConscious', 'ibd-form.men-alt-conscious') }}
                        {{ macros.case_row(record, 'menInabilityFeed', 'ibd-form.men-inability-feed') }}
                        {{ macros.case_row(record, 'menNeckStiff', 'ibd-form.men-neck-stiff') }}
                        {{ macros.case_row(record, 'menRash', 'ibd-form.men-rash') }}
                        {{ macros.case_row(record, 'menFontanelleBulge', 'ibd-form.men-fontanelle-bulge') }}
                        {{ macros.case_row(record, 'menLethargy', 'ibd-form.men-lethargy') }}
                    </table>
                </div>

                <div id="collectionData" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record, 'csfCollected', 'ibd-form.csf-collected') }}
                        {{ macros.case_row(record, 'csfCollectDate', 'ibd-form.csf-collect-datetime') }}
                        {{ macros.case_row(record, 'csfAppearance', 'ibd-form.csf-appearance') }}

                        {{ macros.case_row(record, 'bloodCollected', 'ibd-form.blood-collected') }}
                        {{ macros.case_row(record, 'bloodCollectDate', 'ibd-form.blood-collect-date') }}
                        {{ macros.case_row(record, 'bloodCollectTime', 'ibd-form.blood-collect-time','H:i') }}
                        {% if is_granted('ROLE_AMR') %}
                            {{ macros.case_row(record, 'bloodNumberOfSamples', 'ibd-form.blood-number-of-samples') }}
                            {{ macros.case_row(record, 'bloodSecondCollectDate', 'ibd-form.blood-collect-date-second-sample') }}
                            {{ macros.case_row(record, 'bloodSecondCollectTime', 'ibd-form.blood-collect-time-second-sample', 'H:i') }}
                        {% endif %}
                    </table>
                </div>

                {% if is_granted('ROLE_CAN_SEE_LAB') %}
                    {% if record.hasSiteLab %}
                        {% set lab = record.siteLab %}
                        <div id="labData" class="tab-pane">
                            <table class="table table-striped table-bordered table-hover">
                                <tr><th colspan="3">{{ 'CSF'|trans }}</th></tr>
                                {{ macros.lab_row(lab,'csfId','ibd-form.csf-id') }}
                                {{ macros.lab_row(lab,'csfLabDate','ibd-form.csf-lab-datetime') }}
                                {{ macros.lab_row(lab,'csfLabTime','ibd-form.csf-lab-time','H:i') }}
                                {{ macros.lab_row(lab,'csfWcc','ibd-form.csf-wcc') }}
                                {{ macros.lab_row(lab,'csfGlucose','ibd-form.csf-glucose') }}
                                {{ macros.lab_row(lab,'csfProtein','ibd-form.csf-protein') }}

                                {{ macros.lab_row(lab,'csfCultDone','ibd-form.csf-cult-done') }}
                                {{ macros.lab_row(lab,'csfCultResult','ibd-form.csf-cult-result') }}
                                {{ macros.lab_row(lab,'csfCultOther','ibd-form.csf-culture-other') }}
                                {{ macros.lab_row(lab,'csfCultContaminant','ibd-form.csf-culture-contaminant') }}

                                {{ macros.lab_row(lab,'csfGramDone','ibd-form.csf-gram-done') }}
                                {{ macros.lab_row(lab,'csfGramStain','ibd-form.csf-gram-result') }}
                                {{ macros.lab_row(lab,'csfGramResult','ibd-form.csf-gram-result-organism') }}
                                {{ macros.lab_row(lab,'csfGramOther','ibd-form.csf-gram-other') }}

                                {{ macros.lab_row(lab,'csfBinaxDone','ibd-form.csf-binax-done') }}
                                {{ macros.lab_row(lab,'csfBinaxResult','ibd-form.csf-binax-result') }}

                                {{ macros.lab_row(lab,'csfLatDone','ibd-form.csf-lat-done') }}
                                {{ macros.lab_row(lab,'csfLatResult','ibd-form.csf-lat-result') }}
                                {{ macros.lab_row(lab,'csfLatOther','ibd-form.csf-lat-other') }}

                                {{ macros.lab_row(lab,'csfPcrDone','ibd-form.csf-pcr-done') }}
                                {{ macros.lab_row(lab,'csfPcrResult','ibd-form.csf-pcr-result') }}
                                {{ macros.lab_row(lab,'csfPcrOther','ibd-form.csf-pcr-other') }}

                                {{ macros.lab_row(lab,'csfStore','ibd-form.csf-store') }}

                                {{ macros.lab_row(lab,'nlCsfSent','ibd-form.blood-sent-to-nl') }}
                                {{ macros.lab_row(lab,'nlCsfDate','ibd-form.blood-sent-to-nl-date') }}

                                {{ macros.lab_row(lab,'isolStore','ibd-form.isol-store') }}
                                {{ macros.lab_row(lab,'nlIsolBloodSent','ibd-form.csf-isol-sent-to-nl') }}
                                {{ macros.lab_row(lab,'nlIsolBloodDate','ibd-form.csf-isol-sent-to-nl-date') }}

                                <tr><th colspan="3">{{ 'Blood'|trans }}</th></tr>
                                {{ macros.lab_row(lab,'bloodId','ibd-form.blood-id') }}
                                {{ macros.lab_row(lab,'bloodCultDone','ibd-form.blood-cult-done') }}
                                {{ macros.lab_row(lab,'bloodCultResult','ibd-form.blood-cult-result') }}
                                {{ macros.lab_row(lab,'bloodCultOther','ibd-form.blood-cult-other') }}

                                {{ macros.lab_row(lab,'bloodGramDone','ibd-form.blood-gram-done') }}
                                {{ macros.lab_row(lab,'bloodGramStain','ibd-form.blood-gram-result') }}
                                {{ macros.lab_row(lab,'bloodGramResult','ibd-form.blood-gram-result-organism') }}
                                {{ macros.lab_row(lab,'bloodGramOther','ibd-form.blood-gram-other') }}

                                {{ macros.lab_row(lab,'bloodPcrDone','ibd-form.blood-pcr-done') }}
                                {{ macros.lab_row(lab,'bloodPcrResult','ibd-form.blood-pcr-result') }}
                                {{ macros.lab_row(lab,'bloodPcrOther','ibd-form.blood-pcr-other') }}
                                {{ macros.lab_row(lab,'nlIsolBloodSent','ibd-form.blood-sent-to-nl') }}
                                {{ macros.lab_row(lab,'nlIsolBloodDate','ibd-form.blood-sent-to-nl-date') }}

                                {% if is_granted('ROLE_AMR') %}
                                    <tr><th colspan="3">{{ '2nd Blood'|trans }}</th></tr>
                                    {{ macros.lab_row(lab,'bloodSecondId','ibd-form.blood-id') }}
                                    {{ macros.lab_row(lab,'bloodSecondCultDone','ibd-form.blood-cult-done') }}
                                    {{ macros.lab_row(lab,'bloodSecondCultResult','ibd-form.blood-cult-result') }}
                                    {{ macros.lab_row(lab,'bloodSecondCultOther','ibd-form.blood-cult-other') }}

                                    {{ macros.lab_row(lab,'bloodSecondGramDone','ibd-form.blood-gram-done') }}
                                    {{ macros.lab_row(lab,'bloodSecondGramStain','ibd-form.blood-gram-result') }}
                                    {{ macros.lab_row(lab,'bloodSecondGramResult','ibd-form.blood-gram-result-organism') }}
                                    {{ macros.lab_row(lab,'bloodSecondGramOther','ibd-form.blood-gram-other') }}

                                    {{ macros.lab_row(lab,'bloodSecondPcrDone','ibd-form.blood-pcr-done') }}
                                    {{ macros.lab_row(lab,'bloodSecondPcrResult','ibd-form.blood-pcr-result') }}
                                    {{ macros.lab_row(lab,'bloodSecondPcrOther','ibd-form.blood-pcr-other') }}
                                {% endif %}
                                <tr style="display: none;"><td></td></tr>
                                <tr><th colspan="3">{{ 'Other Fluids'|trans }}</th></tr>
                                {{ macros.lab_row(lab,'otherCultDone','ibd-form.other-cult-done1') }}
                                {{ macros.lab_row(lab,'otherCultResult','ibd-form.other-cult-result') }}
                                {{ macros.lab_row(lab,'otherCultOther','ibd-form.other-cult-other') }}
                                {{ macros.lab_row(lab,'nlOtherSent','ibd-form.other-sent-to-nl') }}
                                {{ macros.lab_row(lab,'nlOtherDate','ibd-form.other-sent-to-nl-date') }}
                                <tr>
                                    <th colspan="3">
                                        Unmatched issues
                                        {{ case_lab_field_error(lab) }}
                                    </th>
                                </tr>
                            </table>
                        </div>
                    {%else%}
                        <div id="labData" class="tab-pane">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>{{'meningitis.has-site-lab'|trans}}</th>
                                    <td>{{'No'|trans}}</td>
                                </tr>
                            </table>
                        </div>
                    {%endif%}
                {% endif %}

                <div id="nationalLab" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                {% if record.hasNationalLab %}
                    <tr>
                        <th>{{'meningitis.has-site-national-lab'|trans}}</th>
                        <td>{{'Yes'|trans}}</td>
                    </tr>
                    {% set lab = record.nationalLab %}

                    {{ macros.external_lab_row(lab, 'typeSampleRecd', 'ibd.sampleType') }}
                    {{ macros.external_lab_row(lab, 'dtSampleRecd', 'ibd.dateReceived') }}
                    {{ macros.external_lab_row(lab, 'isolateViable', 'ibd.isolateViable') }}
                    {{ macros.external_lab_row(lab, 'isolateType', 'ibd.isolateType') }}
                    {{ macros.external_lab_row(lab, 'methodUsedPathogenIdentify', 'ibd.pathogenIdentifierMethod') }}
                    {{ macros.external_lab_row(lab, 'methodUsedPathogenIdentifyOther', 'ibd.pathogenIdentifierOther') }}

                    {{ macros.external_lab_row(lab, 'methodUsedStSg', 'ibd.serotypeIdentifier') }}
                    {{ macros.external_lab_row(lab, 'methodUsedStSgOther', 'ibd.serotypeIdentifierOther') }}

                    {{ macros.external_lab_row(lab, 'spnLyta', 'ibd-rrl-form.lytA') }}
                    {{ macros.external_lab_row(lab, 'nmCtrA', 'ibd.ctrA') }}
                    {{ macros.external_lab_row(lab, 'nmSodC', 'ibd.sodC') }}
                    {{ macros.external_lab_row(lab, 'hiHpd1', 'ibd.hpd1') }}
                    {{ macros.external_lab_row(lab, 'hiHpd3', 'ibd.hpd3') }}
                    {{ macros.external_lab_row(lab, 'hiBexA', 'ibd.bexA') }}
                    {{ macros.external_lab_row(lab, 'humanDNARNAseP', 'ibd.rNaseP') }}
                    {{ macros.external_lab_row(lab, 'FinalRLResultDetection', 'ibd-rrl-form.finalResult', false) }}
                    {{ macros.external_lab_row(lab, 'spnSerotype', 'ibd.spnSerotype') }}
                    {{ macros.external_lab_row(lab, 'hiSerotype', 'ibd.hiSerotype') }}
                    {{ macros.external_lab_row(lab, 'nmSerogroup', 'ibd.nmSerogroup') }}

                    {{ macros.external_lab_row(lab, 'rlIsolCsfSent', 'ibd-form.csf-isol-sent-to-rrl') }}
                    {{ macros.external_lab_row(lab, 'rlIsolCsfDate', 'ibd-form.csf-isol-sent-to-rrl-date') }}
                    {{ macros.external_lab_row(lab, 'rlIsolBloodSent', 'ibd-form.blood-sent-to-rrl') }}
                    {{ macros.external_lab_row(lab, 'rlIsolBloodDate', 'ibd-form.blood-sent-to-rrl-date') }}
                    {{ macros.external_lab_row(lab, 'rlOtherSent', 'ibd-form.other-sent-to-rrl') }}
                    {{ macros.external_lab_row(lab, 'rlOtherDate', 'ibd-form.other-sent-to-rrl-date') }}

                    {{ macros.external_lab_row(lab, 'comment', 'ibd.comment', false) }}
                    <tr>
                        <th colspan="2">
                            Unmatched issues
                            {{ case_external_field_error(lab) }}
                        </th>
                    </tr>
                {% else %}
                    <tr>
                        <th>{{'meningitis.has-site-national-lab'|trans}}</th>
                        <td>{{'No'|trans}}</td>
                    </tr>
                {% endif %}
                    </table>
                </div>

                <div id="referenceLab" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                {% if record.hasReferenceLab %}
                    <tr>
                        <th>{{'meningitis.has-site-national-lab'|trans}}</th>
                        <td>{{'Yes'|trans}}</td>
                    </tr>
                    {% set lab = record.referenceLab %}

                    {{ macros.external_lab_row(lab, 'typeSampleRecd', 'ibd.sampleType') }}
                    {{ macros.external_lab_row(lab, 'dtSampleRecd', 'ibd.dateReceived') }}
                    {{ macros.external_lab_row(lab, 'isolateViable', 'ibd.isolateViable') }}
                    {{ macros.external_lab_row(lab, 'isolateType', 'ibd.isolateType') }}
                    {{ macros.external_lab_row(lab, 'methodUsedPathogenIdentify', 'ibd.pathogenIdentifierMethod') }}
                    {{ macros.external_lab_row(lab, 'methodUsedPathogenIdentifyOther', 'ibd.pathogenIdentifierOther') }}

                    {{ macros.external_lab_row(lab, 'methodUsedStSg', 'ibd.serotypeIdentifier') }}
                    {{ macros.external_lab_row(lab, 'methodUsedStSgOther', 'ibd.serotypeIdentifierOther') }}

                    {{ macros.external_lab_row(lab, 'spnLyta', 'ibd-rrl-form.lytA') }}
                    {{ macros.external_lab_row(lab, 'nmCtrA', 'ibd.ctrA') }}
                    {{ macros.external_lab_row(lab, 'nmSodC', 'ibd.sodC') }}
                    {{ macros.external_lab_row(lab, 'hiHpd1', 'ibd.hpd1') }}
                    {{ macros.external_lab_row(lab, 'hiHpd3', 'ibd.hpd3') }}
                    {{ macros.external_lab_row(lab, 'hiBexA', 'ibd.bexA') }}
                    {{ macros.external_lab_row(lab, 'humanDNARNAseP', 'ibd.rNaseP') }}
                    {{ macros.external_lab_row(lab, 'FinalRLResultDetection', 'ibd-rrl-form.finalResult', false) }}
                    {{ macros.external_lab_row(lab, 'spnSerotype', 'ibd.spnSerotype') }}
                    {{ macros.external_lab_row(lab, 'hiSerotype', 'ibd.hiSerotype') }}
                    {{ macros.external_lab_row(lab, 'nmSerogroup', 'ibd.nmSerogroup') }}
                    {{ macros.external_lab_row(lab, 'comment', 'ibd.comment', false) }}
                    <tr>
                        <th colspan="2">
                            Unmatched issues
                            {{ case_external_field_error(lab) }}
                        </th>
                    </tr>
                {% else %}
                    <tr>
                        <th>{{'meningitis.has-site-reference-lab'|trans}}</th>
                        <td>{{'No'|trans}}</td>
                    </tr>
                {% endif %}
                    </table>
                </div>

                <div id="outcome" class="tab-pane">
                    <table class="table table-striped table-bordered table-hover">
                        {{ macros.case_row(record, 'dischOutcome', 'ibd-form.discharge-outcome') }}
                        {{ macros.case_row(record, 'dischDx', 'ibd-form.discharge-diagnosis') }}
                        {{ macros.case_row(record, 'dischDxOther', 'ibd-form.discharge-diagnosis-other') }}
                        {{ macros.case_row(record, 'dischClass', 'ibd-form.discharge-class') }}
                        {{ macros.case_row(record, 'comment', 'ibd-form.comment', false) }}
                        <tr>
                            <th colspan="3">
                                Unmatched issues
                                {{ case_field_error(record) }}
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
