{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'View Case %id%'|trans({'%id%': record.id})}}{%endblock %}

{% block body %}
<div class="col-sm-12">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" id="myTab2">
            <li class="active"><a data-toggle="tab" href="#demographics">{{'Case Based Demographics'|trans}}</a></li>
            <li><a data-toggle="tab" href="#vacination">{{'Vaccination History'|trans}}</a></li>
            <li><a data-toggle="tab" href="#clinical">{{'Clinical Data'|trans}}</a></li>
            <li><a data-toggle="tab" href="#meningitis">{{'Meningitis'|trans}}</a></li>
            <li><a data-toggle="tab" href="#pneumonia">{{'Pneumonia / Sepsis'|trans}}</a></li>
            <li><a data-toggle="tab" href="#collectionData">{{'Specimen Collection Data'|trans}}</a></li>
        </ul>

        <div class="tab-content">
            <div id="demographics" class="tab-pane active">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.id'|trans}}</th>
                        <td>{{record.id}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.dob'|trans}}</th>
                        <td>{{record.dob|date}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.gender'|trans}}</th>
                        <td>{{record.gender}}</td>
                    </tr>
                </table>
            </div>

            <div id="vacination" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.hib-received'|trans}}</th>
                        <td>{{record.hibReceived}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.hib-doses'|trans}}</th>
                        <td>{{record.hibDoses}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pcv-received'|trans}}</th>
                        <td>{{record.pcvReceived}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pcv-doses'|trans}}</th>
                        <td>{{record.pcvDoses}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.mening-received'|trans}}</th>
                        <td>{{record.meningReceived}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.mening-doses'|trans}}</th>
                        <td>{{record.meningDoses}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.dtp-received'|trans}}</th>
                        <td>{{record.dtpReceived}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.dtp-doses'|trans}}</th>
                        <td>{{record.dtpDoses}}</div>
                    </tr>
                </table>
            </div>

            <div id="clinical" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.adm-date'|trans}}</th>
                        <td>{{record.admDate|date}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.adm-dx'|trans}}</th>
                        <td>{{record.admDx}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.adm-dx-other'|trans}}</th>
                        <td>{{record.admDxOther}}</div>
                    </tr>
                </table>
            </div>

            <div id="meningitis" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.men-seizures'|trans}}</th>
                        <td>{{record.menSeizures}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-fever'|trans}}</th>
                        <td>{{record.menFever}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-alt-conscious'|trans}}</th>
                        <td>{{record.menAltConscious}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-inability-feed'|trans}}</th>
                        <td>{{record.menInabilityFeed}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-stridor'|trans}}</th>
                        <td>{{record.menStridor}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-neck-stiff'|trans}}</th>
                        <td>{{record.menNeckStiff}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-rash'|trans}}</th>
                        <td>{{record.menRash}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-fontanelle-bulge'|trans}}</th>
                        <td>{{record.menFontanelleBulge}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-lethargy'|trans}}</th>
                        <td>{{record.menLethargy}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-poor-sucking'|trans}}</th>
                        <td>{{record.menPoorSucking}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-irritability'|trans}}</th>
                        <td>{{record.menIrritability}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.men-symptom-other'|trans}}</th>
                        <td>{{record.menSymptomOther}}</div>
                    </tr>
                </table>
            </div>

            <div id="pneumonia" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.pneu-diff-breathe'|trans}}</th>
                        <td>{{record.pneuDiffBreathe}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pneu-chest-indraw'|trans}}</th>
                        <td>{{record.pneuChestIndraw}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pneu-cough'|trans}}</th>
                        <td>{{record.pneuCough}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pneu-cyanosis'|trans}}</th>
                        <td>{{record.pneuCyanosis}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pneu-respRate'|trans}}</th>
                        <td>{{record.pneuRespRate}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.pneu-symptom-other'|trans}}</th>
                        <td>{{record.pneuSymptomOther}}</div>
                    </tr>
                </table>
            </div>
            
            <div id="collectionData" class="tab-pane">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>{{'meningitis-form.csf-collected'|trans}}</th>
                        <td>{{record.csfCollected}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.csf-collect-datetime'|trans}}</th>
                        <td>{{record.csfCollectDateTime|date}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.csf-appearance'|trans}}</th>
                        <td>{{record.csfAppearance}}</td>
                    </tr>
                    <tr>
                        <th>{{'meningitis-form.blood-collected'|trans}}</th>
                        <td>{{record.bloodCollected}}</div>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
