{%extends "NSSentinelBundle::layout.html.twig" %}

{% block body %}
<div class="layoutSection">
    <div class="column span1" >
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Case Based Demographics'|trans}}</h3>
            <div class="panelContent">
                <strong>{{'meningitis-form.caseId'|trans}}</strong>: {{record.caseId}}<br />
                <strong>{{'meningitis-form.'|trans}}{{record.dob|date}}<br />
                <strong>{{'meningitis-form.'|trans}}{{record.gender}}<br />
            </div>
        </div>
    </div>

    <div class="column span2" >
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Vaccination History'|trans}}</h3>
            <div class="panelContent">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <strong>{{'meningitis-form.hibReceived'|trans}}</strong>: {{record.hibReceived}}<br />
                            <strong>{{'meningitis-form.hibDoses'|trans}}</strong>: {{record.hibDoses}}<br />
                            <strong>{{'meningitis-form.pcvReceived'|trans}}</strong>: {{record.pcvReceived}}<br />
                            <strong>{{'meningitis-form.pcvDoses'|trans}}</strong>: {{record.pcvDoses}}<br />
                        </td>
                        <td>
                            <strong>{{'meningitis-form.mening-received'|trans}}</strong>: {{record.meningReceived}}<br />
                            <strong>{{'meningitis-form.mening-doses'|trans}}</strong>: {{record.meningDoses}}<br />
                            <strong>{{'meningitis-form.dtp-received'|trans}}</strong>: {{record.dtpReceived}}<br />
                            <strong>{{'meningitis-form.dtp-doses'|trans}}</strong>: {{record.dtpDoses}}<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="column span1">
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Clinical Data'|trans}}</h3>
            <div class="panelContent">
                <strong>{{'meningitis-form.admDate'|trans}}</strong>: {{record.admDate|date}}<br />
                <strong>{{'meningitis-form.admDx'|trans}}</strong>: {{record.admDx}}<br />
                <strong>{{'meningitis-form.admDxOther'|trans}}</strong>: {{record.admDxOther}}<br />
            </div>
        </div>
    </div>
</div>
<div class="layoutSection">
    <div class="column span2">
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Meningigtis'|trans}}</h3>
            <div class="panelContent">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <strong>{{'meningitis-form.menSeizures'|trans}}</strong>: {{record.menSeizures}}<br />
                            <strong>{{'meningitis-form.menFever'|trans}}</strong>: {{record.menFever}}<br />
                            <strong>{{'meningitis-form.menAltConscious'|trans}}</strong>: {{record.menAltConscious}}<br />
                            <strong>{{'meningitis-form.menInabilityFeed'|trans}}</strong>: {{record.menInabilityFeed}}<br />
                            <strong>{{'meningitis-form.menStridor'|trans}}</strong>: {{record.menStridor}}<br />
                            <strong>{{'meningitis-form.menNeckStiff'|trans}}</strong>: {{record.menNeckStiff}}<br />
                        </td>
                        <td>
                            <strong>{{'meningitis-form.menRash'|trans}}</strong>: {{record.menRash}}<br />
                            <strong>{{'meningitis-form.menFontanelleBulge'|trans}}</strong>: {{record.menFontanelleBulge}}<br />
                            <strong>{{'meningitis-form.menLethargy'|trans}}</strong>: {{record.menLethargy}}<br />
                            <strong>{{'meningitis-form.menPoorSucking'|trans}}</strong>: {{record.menPoorSucking}}<br />
                            <strong>{{'meningitis-form.menIrritability'|trans}}</strong>: {{record.menIrritability}}<br />
                            <strong>{{'meningitis-form.menSymptomOther'|trans}}</strong>: {{record.menSymptomOther}}<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="column span2">
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Pneumonia / Sepsis'|trans}}</h3>
            <div class="panelContent">
            <strong>{{'meningitis-form.pneuDiffBreathe'|trans}}</strong>: {{record.pneuDiffBreathe}}<br />
            <strong>{{'meningitis-form.pneuChestIndraw'|trans}}</strong>: {{record.pneuChestIndraw}}<br />
            <strong>{{'meningitis-form.pneuCough'|trans}}</strong>: {{record.pneuCough}}<br />
            <strong>{{'meningitis-form.pneuCyanosis'|trans}}</strong>: {{record.pneuCyanosis}}<br />
            <strong>{{'meningitis-form.pneuRespRate'|trans}}</strong>: {{record.pneuRespRate}}<br />
            <strong>{{'meningitis-form.pneuSymptomOther'|trans}}</strong>: {{record.pneuSymptomOther}}<br />
            </div>
        </div>
    </div>
</div>
<div class="layoutSection">
    <div class="column span1">
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Specimen Collection Data'|trans}}</h3>
            <div class="panelContent">
            <strong>{{'meningitis-form.csfCollected'|trans}}</strong>: {{record.csfCollected}}<br />
            <strong>{{'meningitis-form.csfCollectDateTime'|trans}}</strong>: {{record.csfCollectDateTime|date}}<br />
            <strong>{{'meningitis-form.csfAppearance'|trans}}</strong>: {{record.csfAppearance}}<br />
            <strong>{{'meningitis-form.csfLabDateTime'|trans}}</strong>: {{record.csfLabDateTime|date}}<br />
            <strong>{{'meningitis-form.bloodCollected'|trans}}</strong>: {{record.bloodCollected}}<br />
            </div>
        </div>
    </div>
    <div class="column span3">
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Lab Data'|trans}}</h3>
            <div class="panelContent">
                <table style="width: 100%;">
                    <tr>
                        <td style="vertical-align: top;">
                            <strong>{{'meningitis-form.csfWcc'|trans}}</strong>: {{record.csfWcc}}<br />
                            <strong>{{'meningitis-form.csfGlucose'|trans}}</strong>: {{record.csfGlucose}}<br />
                            <strong>{{'meningitis-form.csfProtein'|trans}}</strong>: {{record.csfProtein}}<br />
                            <strong>{{'meningitis-form.csfCultDone'|trans}}</strong>: {{record.csfCultDone}}<br />
                            <strong>{{'meningitis-form.csfGramDone'|trans}}</strong>: {{record.csfGramDone}}<br />
                            <strong>{{'meningitis-form.csfBinaxDone'|trans}}</strong>: {{record.csfBinaxDone}}<br />
                            <strong>{{'meningitis-form.csfLatDone'|trans}}</strong>: {{record.csfLatDone}}<br />
                            <strong>{{'meningitis-form.csfPcrDone'|trans}}</strong>: {{record.csfPcrDone}}<br />
                        </td>
                        <td style="vertical-align: top;">
                            <strong>{{'meningitis-form.bloodCultDone'|trans}}</strong>: {{record.bloodCultDone}}<br />
                            <strong>{{'meningitis-form.bloodGramDone'|trans}}</strong>: {{record.bloodGramDone}}<br />
                            <strong>{{'meningitis-form.bloodPcrDone'|trans}}</strong>: {{record.bloodPcrDone}}<br />
                            <strong>{{'meningitis-form.otherCultDone'|trans}}</strong>: {{record.otherCultDone}}<br />
                            <strong>{{'meningitis-form.otherTestDone'|trans}}</strong>: {{record.otherTestDone}}<br />
                            <strong>{{'meningitis-form.csfCultOther'|trans}}</strong>: {{record.csfCultOther}}<br />
                        </td>
                        <td style="vertical-align: top;">
                            <strong>{{'meningitis-form.rrlCsfDate'|trans}}</strong>: {{record.rrlCsfDate|date}}<br />
                            <strong>{{'meningitis-form.rrlIsolDate'|trans}}</strong>: {{record.rrlIsolDate|date}}<br />
                            <strong>{{'meningitis-form.rrlName'|trans}}</strong>: {{record.rrlName}}<br />
                            <strong>{{'meningitis-form.spnSerotype'|trans}}</strong>: {{record.spnSerotype}}<br />
                            <strong>{{'meningitis-form.hiSerotype'|trans}}</strong>: {{record.hiSerotype}}<br />
                            <strong>{{'meningitis-form.nmSerogroup'|trans}}</strong>: {{record.nmSerogroup}}<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="layoutSection">
    <div class="column span4">
        <div class="panel dataPanel">
            <h3 class="panelTitle">{{'Outcoume Data'|trans}}</h3>
            <div class="panelContent">
                <strong>{{'meningitis-form.cxr-done'|trans}}</strong>: {{record.rrlCsfDate|date}}<br />
                <strong>{{'meningitis-form.cxr-result'|trans}}</strong>: {{record.rrlIsolDate|date}}<br />
                <strong>{{'meningitis-form.discharge-outcome'|trans}}</strong>: {{record.rrlName}}<br />
                <strong>{{'meningitis-form.discharge-diagnosis'|trans}}</strong>: {{record.spnSerotype}}<br />
                <strong>{{'meningitis-form.discharge-sequelae'|trans}}</strong>: {{record.hiSerotype}}<br />
                <strong>{{'meningitis-form.comment'|trans}}</strong>: {{record.nmSerogroup}}<br />                
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
