{% extends "NSSentinelBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript" type="text/javascript" src="{{ asset("bundles/jmstranslation/js/trunk8.js") }}"></script>

    <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            var updateMessagePath = {{ path("jms_translation_update_message", {"config": selectedConfig, "domain": selectedDomain, "locale": selectedLocale})|json_encode|raw }};
        
            $('#newConfig select').change(function() {
                $(this).parent().submit();
            });

            $('#existingConfig select').change(function() {
                $(this).parent().submit();
            });

            $('.truncate-left').trunk8({
                side: 'left',
                fill: '<a href="#" class="untruncate">&hellip;</a>'
            });

            $(document).on('click', '.untruncate', function (event) {
                $(this).parent().trunk8('revert');
                event.preventDefault();
            });

            {% if isWriteable is sameas(true) %}
            $('textarea')
                .blur(function() {
                    var self = this;
                    $.ajax(updateMessagePath + '?id=' + encodeURIComponent($(this).data('id')), {
                        type: 'POST',
                        headers: {'X-HTTP-METHOD-OVERRIDE': 'PUT'},
                        data: {'_method': 'PUT', 'message': $(this).val()},
                        beforeSend: function() {
                            $(self).parent().closest('td').prev('td').children('.alert-message').remove();
                        },
                        error: function() {
                            $(self).parent().closest('td').prev('td').append('<div class="alert alert-block alert-error alert-message"><button type="button" class="close" data-dismiss="alert"><i class="fa fa-remove"></i></button><p>Could not be saved.</p></div>');
                        },
                        success: function(data) {
                            if (data == 'Translation was saved') {
                                $(self).parent().closest('td').prev('td').append('<div class="alert alert-block alert-success alert-message"><button type="button" class="close" data-dismiss="alert"><i class="fa fa-remove"></i></button><p>Translation was saved.</p></div>');
                            } else {
                                $(self).parent().closest('td').prev('td').append('<div class="alert alert-block alert-error alert-message"><button type="button" class="close" data-dismiss="alert"><i class="fa fa-remove"></i></button><p>Could not be saved.</p></div>');
                            }
                        },
                        complete: function() {
                            var parent = $(self).parent();
                            $(self).data('timeoutId', setTimeout(function() {
                                $(self).data('timeoutId', undefined);
                                parent.closest('td').prev('td').children('.alert-message').fadeOut(300, function() { $(this).remove(); });
                            }, 10000));
                        }
                    });
                })
                .focus(function() {
                    this.select();
                    
                    var timeoutId = $(this).data('timeoutId');
                    if (timeoutId) {
                        clearTimeout(timeoutId);
                        $(this).data('timeoutId', undefined);
                    }
                    
                    $(this).parent().children('.alert-message').remove();
                })
            ;
            {% endif %}
        });
    </script>
{% endblock %}

{% block pagetitle %}{{'Translation Interface'|trans}}{%endblock %}
{% block pagedescription %}{{'Messages in %selectedConfig%'|trans({'%selectedConfig%':selectedLocale})}}{%endblock %}

{% block body %}
    {% if isWriteable is sameas(false) %}
        <div class="alert-message error">
            The translation file "<strong>{{ file }}</strong>" is not writable.
        </div>
    {% endif %}
    
    {% if "xliff" != format %}
        <div class="alert-message warning">
            Due to limitations of the different loaders/dumpers, some features are unfortunately limited to the XLIFF format. 

            <br /><br />

            However, you can easily convert your existing translation files to the XLIFF format by running:<br />
            <code>php app/console translation:extract {{ selectedLocale }} --config={{ selectedConfig }} --output-format=xliff</code>
        </div>
    {% endif %}
    

    {% if newMessages is empty and existingMessages is empty %}
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="widget-box widget-color-blue">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title bigger lighter">Change Messages or Language</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form id="newConfig" action="/app_live.php/_trans/" method="get">
                            <select name="config" class="span3">
                                <option value="app" selected="selected">app</option>
                                <option value="sentinel">sentinel</option>
                                <option value="import">import</option>
                                <option value="api">api</option>
                            </select>

                            <select name="domain" class="span3">
                                <option value="LexikFormFilterBundle" selected="selected">LexikFormFilterBundle</option>
                                <option value="messages">messages</option>
                            </select>

                            <select name="locale" class="span2">
                                <option value="en" selected="selected">en</option>
                                <option value="es">es</option>
                                <option value="fr">fr</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if newMessages is not empty %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 widget-container-span ui-sortable">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header widget-header-small">
                        <h5 class="widget-title bigger lighter">New Messages</h5>
                        <div class="widget-toolbar">
                            <a href="#newConfigFilter" data-toggle="collapse" class="white small">
                                <i class="ace-icon fa fa-cog" data-icon-hide="fa-minus" data-icon-show="fa-cog"></i>
                                Languages / Sources
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-toolbox padding-8">
                            <div class="collapse" id="newConfigFilter">
                                <form id="newConfig" action="{{ path("jms_translation_index") }}" method="get">
                                    <select name="config" class="span3">
                                        {% for config in configs %}
                                            <option value="{{ config }}"{% if config == selectedConfig %} selected="selected"{% endif %}>{{ config }}</option>
                                        {% endfor %}
                                    </select>

                                    <select name="domain" class="span3">
                                        {% for domain in domains %}
                                            <option value="{{ domain }}"{% if domain == selectedDomain %} selected="selected"{% endif %}>{{ domain }}</option>
                                        {% endfor %}
                                    </select>

                                    <select name="locale" class="span2">
                                        {% for locale in locales %}
                                            <option value="{{ locale }}"{% if locale == selectedLocale %} selected="selected"{% endif %}>{{ locale }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="widget-main no-padding">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        <th>ID</th>
                                        <th>Translation</th>
                                        <th class="hidden-480">Additional Information</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% include "JMSTranslationBundle:Translate:messages.html.twig" with {"messages": newMessages} %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if existingMessages is not empty %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 widget-container-span ui-sortable">
            <div class="widget-box widget-color-blue">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title bigger lighter">Existing Messages</h5>
                    <div class="widget-toolbar">
                        <a href="#existingConfigFilter" data-toggle="collapse" class="white small">
                            <i class="ace-icon fa fa-cog" data-icon-hide="fa-minus" data-icon-show="fa-cog"></i>
                            Languages / Sources
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-toolbox padding-8">
                        <div class="collapse" id="existingConfigFilter">
                            <form id="existingConfig" action="{{ path("jms_translation_index") }}" method="get">
                                <select name="config" class="span3">
                                    {% for config in configs %}
                                        <option value="{{ config }}"{% if config == selectedConfig %} selected="selected"{% endif %}>{{ config }}</option>
                                    {% endfor %}
                                </select>

                                <select name="domain" class="span3">
                                    {% for domain in domains %}
                                        <option value="{{ domain }}"{% if domain == selectedDomain %} selected="selected"{% endif %}>{{ domain }}</option>
                                    {% endfor %}
                                </select>

                                <select name="locale" class="span2">
                                    {% for locale in locales %}
                                        <option value="{{ locale }}"{% if locale == selectedLocale %} selected="selected"{% endif %}>{{ locale }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>

                    <div class="widget-main no-padding">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <th>ID</th>
                                    <th>Translation</th>
                                    <th class="hidden-480">Additional Information</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% include "JMSTranslationBundle:Translate:messages.html.twig" with {"messages": existingMessages} %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    {% endif %}

{% endblock %}
