{% for id, message in messages %}
{% set elementId = id|replace({' ':'-'}) %}
<tr>
    <td style="width:20%;">
        <a class="jms-translation-anchor" id="{{ id }}"></a>
        <p><abbr title="{{ id }}">{{ id }}</abbr></p>
    </td>
    <td>
        <textarea data-id="{{ id }}" class="col-sm-12 col-md-12 col-lg-12" rows="5"{% if isWriteable is sameas(false) %} readonly="readonly"{% endif %}>{{ message.localeString }}</textarea>
    </td>
    <td  style="width:20%;">
        {% if message.meaning is not empty %}
        <h6>Meaning</h6>
        <p>{{ message.meaning }}</p>
        {% endif %}

        {% if alternativeMessages[id] is defined %}
        <div class="widget-box widget-color-blue2 collapsed no-border">
            <div class="widget-header widget-header-small">
                <h6 class="widget-title smaller">Alternate Translations</h6>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-down"></i></a>
                </div>
            </div>
            <div class="widget-body " id="{{elementId}}">
            {% for locale, altMessage in alternativeMessages[id] %}
                <p><strong>{{ locale }}:</strong> <pre>{{ altMessage.localeString }}</pre></p>
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if message.sources|length > 0 %}
        <div class="widget-box widget-color-grey collapsed no-border">
            <div class="widget-header widget-header-small">
                <h6 class="widget-title smaller">Sources</h6>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-down"></i></a>
                </div>
            </div>
            <div class="widget-body " id="{{elementId}}">
                <ul>
                {% for source in message.sources %}
                    <li title="{{ source }}" class="jms-sources-list-item truncate-left">{{ source }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if message.desc is not empty 
                and message.localeString != message.desc
                and id != message.desc
                and (alternativeMessages[id][sourceLanguage] is not defined
                     or alternativeMessages[id][sourceLanguage].localeString != message.desc) %}

        <div class="widget-box widget-color-grey collapsed no-border">
            <div class="widget-header widget-header-small">
                <h6 class="widget-title smaller">Message Description</h6>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-down"></i></a>
                </div>
            </div>
            <div class="widget-body " id="{{elementId}}">
                <p>{{ message.desc }}</p>
            </div>
        </div>            
        {% endif %}
    </td>
</tr>
{% else %}
<tr>
    <td colspan="3">No messages found</td>
</tr>
{% endfor %}
